[2015-11-29 20:38] santacruz123 opened #5 "Exchange or trade?"
/mytrades returns object that has "exchange" property. It always empty.
It should be boolean if transaction was trade or exchange.
Fix it please

[2016-01-26 10:09] moeadham opened #8 "order_status returns 404"
I can see in your test that order_status was returning 404 for some time now.

Is this going to be resolved?
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/test/rest-test.js#L236

[2016-01-27 03:09] joshuarossi commented on #8
order status is the status of an order...if there is no order, then it will not be found (404) the test is ensuring that it is behaving as expected

you can see in the later tests that i check the incoming array to ensure it is empty.

in order to send an order, you would have to have money in the account, meaning that it could not be automated via travis, etc

[2016-01-27 03:17] joshuarossi commented on #8
if i look for an order with ID 123, i get this:
`[Error: 404] `

if i look for an order which does exist, like 598091831, i get this:

[code]

[2016-01-27 03:17] #8 closed

[2016-01-27 03:23] joshuarossi commented on #5
More than likely this is a legacy field that relates to the new order attribute "exchange" which was referring to "bitstamp" or "bitfinex"...it is not referring to whether the trade was margin or exchange

[2016-01-27 03:23] #5 closed

[2016-02-17 09:02] 2bbb opened #9 "dependencies mistaked?"
hi.
this is great module when use bitfinex.

but, maybe forgot `--save` option when `npm install debug`?
i use with `npm install debug` on project local.
i hope to resolve this problem, but i can't know really required version of debug module...

thanks.

[2016-02-22 22:22] joshuarossi commented on #9
i will fix that

[2016-02-27 17:49] dutu opened #10 "error: Invalid path"
invalid character is used and error received in windows

c:\@personal\Projects>git clone https://github.com/bitfinexcom/bitfinex-api-node.git
Cloning into 'bitfinex-api-node'...
remote: Counting objects: 1844, done.
remote: Compressing objects: 100% (3/3), done.
Receiving objects:  99% (1826/1844), 1.54 MiB | 332.00 KiB/s   8R41
Receiving objects: 100% (1844/1844), 1.60 MiB | 332.00 KiB/s, done.
R

[2016-02-27 17:55] dutu commented on #10
npm update (in windows) also fails to install the module

[2016-02-27 21:05] dutu opened #11 "wrong invocation context (this) in _processUserEvent"
`this.emit(event, ele)` in function `_processUserEvent` throws error due wrong invocation context (`this`) in `forEach`.
`forEach `should be called with second parameter `this`:

                data[0].forEach(function (ele) {
                    debug('Emitting \'%s\' %j', event, ele);
                    this.emit(event, ele);
                }, this);

[2016-02-27 21:49] prdn commented on #11
Thanks for pointing out the issue. Any PR is really appreciated, otherwise we'll cover these issues asap

[2016-03-16 19:14] joshuarossi commented on #11
should be fixed now

[2016-03-16 19:14] #11 closed

[2016-03-16 19:25] joshuarossi commented on #9
should be taken care of...please let me know if you still have any trouble

[2016-03-16 19:25] #9 closed

[2016-05-23 22:16] jared-jacobson commented on #10
C:\Development\testproj\npm install bitfinex-api-node --save
extract:json-schema -> ge - |###############################################-----------------|

Just stops at this point in Windows 10 and installation hangs...

Tried deleting the local package folder and retrying.
Tried running npm cache clean.
Tried different versions of node

[2016-06-06 12:53] joshuarossi commented on #10
can you try this again?

[2016-06-23 18:16] dutu commented on #10
it works, thanks (problematic files are not in the package anymore)

[2016-06-23 18:16] #10 closed

[2016-09-27 12:24] 360disrupt opened #15 "Examples are inconsistent with Readme and Docs"
## Readme:

`bitfinexWebsocket = bitfinexApiNode.websocket`
- requiring with `.websocket`
- no info on init
## [Example](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/websockets.js#L1):

[code]
- requiring with `WS`
- init without key & secret
## Docs

`new BitfinexWS(APIKey, APISecret)`
- init with key & secret

Looking into the index.js reveals how it should be used:

[co

[2016-10-14 21:25] yagop commented on #15
Both can be used

https://github.com/bitfinexcom/bitfinex-api-node/blob/master/index.js

[2016-12-30 16:07] burzakovskiy opened #18 "Rest API Error: ESOCKETTIMEDOUT"
Function client.orderbook periodically throws error "ESOCKETTIMEDOUT"

[2017-01-22 11:54] prdn opened #21 "Change API endpoints"
@joshuarossi  please make sure that all URLs match
[code]

[2017-01-22 17:50] joshuarossi commented on #21
Ok

[2017-01-23 11:41] #18 closed

[2017-01-23 13:15] joshuarossi commented on #21
merge PR's and this is done

[2017-01-25 12:21] burzakovskiy opened #25 "ERROR: Must specify a 'request' field in the payload that matches the URL path"
I'm receiving an error on POST request.

[2017-02-07 08:42] ffallah opened #26 "ws.js and ws2.js do not return correct info on ws and ps"
The current code returns each element of data[0] separately, while it should return the whole array as response :

[code]

This is the fixed code :
[code]

[2017-02-09 12:16] dutu opened #27 "v0.3.0 not published on npm"
v0.3.0 is not published on npm

[2017-02-12 13:26] nedievas commented on #27
confirm

[2017-03-02 14:38] nedievas opened #28 "TypeError: cb is not a function on new_order"
[bitfinex@gene bot]$ node bit.js
/home/bitfinex/bot/node_modules/bitfinex-api-node/rest.js:67
            return cb(new Error(result.message));
                   ^

TypeError: cb is not a function
    at Request._callback (/home/bitfinex/bot/node_modules/bitfinex-api-node/rest.js:67:20)
    at Request.self.callback (/home/bitfinex/bot/node_modules/request/request.js:186:22)
    at emitTwo (events

[2017-03-02 15:22] #28 closed

[2017-03-02 15:24] nedievas commented on #28
amount and price should be strings. is_hidden, ocoorder is not used.

[2017-03-04 05:24] BarnumD opened #29 "Build failing"
Build failing with SyntaxError: Identifier 'url' has already been declared.  Getting this on my installation.  Also seen in the travis build.

[2017-03-04 05:45] BarnumD opened #30 "Missing os and hos websocket support"
Is it just me or are  you missing version 2 support for authenticated 'orders' (os) and 'historical orders' (hos)?

[2017-03-12 08:40] prdn commented on #30
@BarnumD the version 2 supports both. We have found an issue that causes the client to receive an empty `[]` "hos" message

[2017-03-12 08:41] prdn commented on #30
This will be fixed during next week rollout

[2017-03-12 08:41] #30 closed

[2017-03-17 03:31] michelem09 commented on #29
There is still this error:

[code]

[2017-03-17 03:54] michelem09 commented on #29
Ok, it didn't pass the Auth test because the api keys are invalid.
Could you please update the `test/keys.json` file?

[2017-03-20 01:15] michelem09 opened #34 "RangeError: out of range index"
I'm getting this error but I can't understand the problem, do you have any hint?

[code]

[2017-05-12 12:49] dutu opened #37 "orderbook websocket events returns wrong data (applicable to API v1 and v2)"
`orderbook` events return wrong data: values for price and count are swapped.
Example:
[code]

[2017-05-12 12:54] dutu opened #38 "argument length for orderbook (websocket)"
What is the meaning/use of argument `length` here:
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/ws2.js#L180-L187

[code]

Same question for API v1

[2017-05-15 14:30] robertkowalski opened #41 "api proposal: constructor & options"
Right now the main-entry point, `index.js` initiates both the websocket and rest clients. This is usually unnecessary, as users will go with the rest **or** the ws client and leads to side effects.

For instance, when initialising the class, and using the http client in an integration test, the websocket code will cause the node.js process to wait & listen and not to exit.

Proposal:

Return the i

[2017-05-15 14:34] prdn commented on #41
I like it @robertkowalski

[2017-05-15 14:46] robertkowalski commented on #41
Cool! We just have to think about a migration strategy for old users, lets chat about that...

[2017-05-15 14:47] robertkowalski commented on #29
build should work now! :)

[2017-05-15 14:47] robertkowalski commented on #29
and: yes, you were right. the keys.json are outdated.

[2017-05-15 15:38] prdn commented on #41
@robertkowalski what about a major release that changes the sem-version?

[2017-05-15 15:56] dutu commented on #41
@prdn, not even v0.30 is published on npm. At this stage it's confusing which version is good to use.
There are unaddressed open issues, shouldn't these have priority over non-essential changes such as code writing style changes?
Any plan to address the open issues (some are several months old)?

[2017-05-15 16:07] prdn commented on #41
@dutu part of the effort we are trying to put in place is to reach quickly a version of this library that is stable and can be used as a stable ground work for the future.
Those issues should be addressed while clearing and improving the code base.

[2017-05-15 16:08] prdn commented on #41
@dutu I also would like that this library becomes a real community project, so any help is really appreciated

[2017-05-15 16:19] dutu commented on #41
@prdn, fair enough. However, shouldn't functionality issues be addressed first, over other non-essential changes?
Functionality issues, some several months old are still open and a solution is not provided on npm.
I recently opened 2 issues (and have another older one), and  there is no sign of response or feedback, hence motivation to contribute more is low.

[2017-05-15 16:32] prdn commented on #38
@dutu http://docs.bitfinex.com/v2/reference#ws-public-order-books the length should me mapped to the `len` parameter expected when you subscribe to websocket books.

[2017-05-15 16:33] prdn commented on #37
@robertkowalski please take care of this

[2017-05-15 16:34] prdn commented on #41
@dutu yes and I replied to you :-) we'll take care of these issues

[2017-05-15 22:22] robertkowalski commented on #37
Hi @dutu,

thanks for the report!

I just tried to reproduce the issuee.

The WS API v2 returns for me:

[code]

The WS v1 API returns for me:

[code]

1) Where do you get the values from? Can you send an example snippet?
2) What pairs / orders are you looking at? (I used `BTCUSD` in my test)

---

Example code:

[code]

[2017-05-16 06:37] dutu commented on #37
I was using the ETHBTC pair, but can't reproduce the issue anymore. I'm getting the correct result.
Thank you for your response, I'm closing the issue and report back later if needed.

[2017-05-16 06:53] dutu commented on #37
I'm getting this error for "raw books"
`bws.subscribeOrderBook('ETHBTC', 'R0');`

Also the documentation for the expected response is unclear/incomplete:
v1: http://docs.bitfinex.com/v1/reference
V2: http://docs.bitfinex.com/v2/reference#ws-public-order-books

[2017-05-16 06:58] dutu commented on #38
this doesn't seem to be the case in the code

[2017-05-16 08:57] robertkowalski commented on #37
@dutu thank you, was able to reproduce. seems the websocket-server sends the wrong response. i'll keep you posted!

[2017-05-16 09:08] robertkowalski commented on #38
was able to reproduce the issue. yes, that's a bug. fix is on the way.

[2017-05-16 09:11] prdn commented on #37
@robertkowalski @dutu seems that the websocket servers send the right payload
[code]
You need to look at this part of the documentation
http://docs.bitfinex.com/v2/reference#ws-public-raw-order-books

In my opinion is the lib that should handle it

[2017-05-16 09:37] dutu commented on #37
It looks that the precision levels P and R0 are not handled differently (as they should since there is a different structure)
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/ws.js#L276-L308

[2017-05-16 09:46] dutu opened #42 "'orderbook' ws event issues the snapshot as a series of update events"
'orderbook' ws event issues the snapshot as a series of update events.
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/ws.js#L276-L308

The API documentation recommends:
1. subscribe to channel with R0 precision
2. receive the raw book snapshot and create your in-memory book structure
3. when price > 0 then you have to add or update the order
4. when price = 0 then you have to delete

[2017-05-16 10:43] #38 closed

[2017-05-16 10:43] robertkowalski commented on #42
@dutu as far as I can tell that is the case for the v2 API, were you receive an array of values in the beginning.

for the v1 api, with https://github.com/bitfinexcom/bitfinex-api-node/pull/43 being fixed it should be a detectable by the amount of transmitted values (the length parameter). does that makes sense?

[2017-05-16 10:46] robertkowalski commented on #42
@dutu let me double check the client code for the v1 api...

[2017-05-16 10:48] robertkowalski commented on #42
looks like an issue in the client code...

[2017-05-16 10:52] robertkowalski commented on #42
I see your point now. Probably it makes sense to use an option to opt-in for existing users, to keep backwards compatibility.

[2017-05-16 11:18] robertkowalski commented on #42
@prdn can you remember why it is historically that the snapshots (coming from the api as one array)   - are emitted item by item and not as the full array / snapshot?

[2017-05-16 14:36] robertkowalski opened #44 "'orderbook' event emitting / array handling"
Right now we geht a snapshot and after that updates.

**Formats:**

snapshot:

[code]

update:

[code]

**note: both are arrays**

we now process them with the following code:

[code]

As both are arrays, we are always process the data with the forEach loop. The

[code]

branch is never called and dead code.

That leads me to the assumption that we have a bug here, as the emitted data for updates

[2017-05-16 15:14] prdn commented on #44
@robertkowalski sounds good to me

[2017-05-16 15:25] prdn commented on #42
@robertkowalski I really never worked on this library, so hard to tell why. But I think that if we release a macro version we can change it as it make more sense (and emitting a full snapshot makes more sense)

[2017-05-16 20:58] dutu opened #45 "maximum length (depth) of raw orderbook (ws)"
Hi,
Would you please let me know what is the maximum length (depth) of raw orderbook that can be received on WebSocket.
Have tried a few values higher than 100, but I'm getting the error "length: invalid".

Thank you!

[2017-05-16 21:00] robertkowalski commented on #45
from reading the docs it can be 25 *or* 100

i can't look into the server code, so i have to take the docs here as reference. i can try to find out though

[2017-05-16 21:07] dutu commented on #45
OK, thank you. I have also opened a ticket with Bitfinex support

[2017-05-16 22:30] robertkowalski commented on #42
ok makes sense. i thought there might be a feature or something i missed.

@dutu #47 will help you i think :)

[2017-05-16 22:45] #42 closed

[2017-05-16 22:45] #44 closed

[2017-05-17 09:43] #29 closed

[2017-05-17 09:48] robertkowalski opened #50 "Create an orderbook example with good Snapshot handling"
We need an example for orderbook handling which makes good use of our Snapshot feature.

Bonus points for memory efficient sorting / splicing!

[2017-05-17 09:50] robertkowalski opened #51 "Add keys to ws2 responses"
Not every user wants to use plain lists or add the corresponding keys on their own.

Provide a way to add the keys on the client side.

The mapping should be reusable for other tasks as well.

[2017-05-17 18:17] robertkowalski commented on #41
just a quick explanation why this change is important:

as described, the websocket is created every time in the constructor, even if you don't use it.

for quality and reliability we rely on our testsuite. so every time someone calls `new BFX` in the testsuite, a connection to the bitfinex liveservers is established, creating load on the servers, and then leading to a `429` as too many connection

[2017-05-17 18:31] robertkowalski commented on #37
@dutu just pulled it out of the backlog :)

[2017-05-18 13:11] #51 closed

[2017-05-18 13:12] #37 closed

[2017-05-18 13:20] robertkowalski commented on #34
Hi @michelem09, thanks for reporting!

I was not able to reproduce the issue.

Can you provide a code example how the error happens?

[2017-05-18 13:22] robertkowalski commented on #37
@dutu this is fixed now.

for all breaking changes, see https://github.com/bitfinexcom/bitfinex-api-node#version-100-breaking-changes

[2017-05-18 16:18] michelem09 commented on #34
I'm closing this because my app doesn't suffer it anymore but I didn't remember what module was that I updated to solve that issue. (or may be I updated Node.js? sorry didn't remember)

[2017-05-18 17:35] dutu commented on #45
response from Bitfinex support:

[2017-05-18 17:35] #45 closed

[2017-05-18 17:37] dutu commented on #37
tx, for when is the npm release planned?

[2017-05-18 17:44] dutu opened #57 "module should follow semver"
although module is not published on npm, it needs to step up major release since it introduces API which changes which break backwards compatibility

https://docs.npmjs.com/getting-started/semantic-versioning

[2017-05-18 18:32] robertkowalski commented on #57
yep, agreed!

we are already preparing 1.0.0:
https://github.com/bitfinexcom/bitfinex-api-node#version-100-breaking-changes

On Thu, May 18, 2017 at 7:44 PM, dutu <notifications@github.com> wrote:

[2017-05-18 18:33] robertkowalski commented on #37
i hope next week.

On Thu, May 18, 2017 at 7:37 PM, dutu <notifications@github.com> wrote:

[2017-05-19 11:41] #50 closed

[2017-05-19 14:20] robertkowalski commented on #21
this is merged and done.

[2017-05-19 14:20] #21 closed

[2017-05-23 09:44] nedievas opened #60 "[Error: Key type should be a string.]"
Hi. When I try to execute new_order, I get this error. I have no problem in executing multiple orders.
[code]
console.log output:
[code]

[2017-05-23 09:53] robertkowalski commented on #57
we just released 1.0.0

[2017-05-23 09:53] #57 closed

[2017-05-23 10:00] robertkowalski commented on #41
merged.

[2017-05-23 10:05] robertkowalski commented on #60
hi @nedievas and thanks for reporting.

can you post the full stracktrace?

thank you

[2017-05-23 10:15] nedievas commented on #60
@robertkowalski it's all I have:
[code]
Please explain further.

[2017-05-23 11:20] robertkowalski commented on #60
it seems you haven't added the exchange (`"bitfinex"`) as an argument.

take a look at the method signature:

[code]

exchange must be the string `bitfinex`

code:
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/rest.js#L182
docs:
https://bitfinex.readme.io/v1/reference#rest-auth-new-order

[2017-05-23 16:55] nedievas commented on #60
Yes. That helped. Thanks.

[2017-05-23 16:55] #60 closed

[2017-05-25 06:58] nedievas opened #63 "REST post only order"
Hi. Is it possible to send 'is_postonly: true' via this REST API?

[2017-05-25 07:52] prdn commented on #63
yes, you should be able to

[2017-05-25 08:22] nedievas commented on #63
Would you be so kind and show me example?
[code]

[2017-05-25 13:07] robertkowalski commented on #63
hi @nedievas,

i'm going to implement this next week.

for today i can just recommend to use `make_request` which is wrapped by `new_order `, so you can continue to work and are not blocked.

**Example:**

[code]

Code: https://github.com/bitfinexcom/bitfinex-api-node/blob/dc183255335c3dfdc9fa608325de1f41a0b41a8b/rest.js#L182-L199

[2017-05-25 13:18] nedievas commented on #63
Hi @robertkowalski,
Thank you! I'll try your suggestion.

[2017-05-27 16:07] nedievas commented on #63
Does anybody know the error message when is_postonly=true order is not able to execute?
Like when it is not enough of balance, the message would be "Error: Invalid order: not enough exchange balance...."

[2017-05-28 09:46] nedievas opened #64 "REST version 1 SyntaxError: Unexpected token ="
[code]

sends me this error:
[code]

[2017-05-28 19:56] robertkowalski commented on #64
Please update to the latest Node.js stable LTS version (6.10.3)

On Sun, May 28, 2017 at 11:46 AM, nedievas <notifications@github.com> wrote:

[2017-05-28 19:56] #64 closed

[2017-05-29 12:51] #63 closed

[2017-06-07 10:35] dutu commented on #27
1.0.0 has been released on npm

[2017-06-07 10:35] #27 closed

[2017-06-07 10:58] dutu commented on #25
This error seems to occur for newly released v1.0.0 as well.
Can be reproduced by calling method `active_orders`.

Can we please have it fixed.

[2017-06-07 11:27] dutu commented on #25
Should be fixed with PR https://github.com/bitfinexcom/bitfinex-api-node/pull/66 and https://github.com/bitfinexcom/bitfinex-api-node/pull/67

[2017-06-07 13:20] robertkowalski commented on #25
thank you, reviewing now

[2017-06-07 13:26] dutu commented on #25
thanks, pls also publish the new version on NPM, when ready

[2017-06-07 13:55] robertkowalski commented on #26
thank you for reporting.

we fixed the snapshot behaviour in #47

[2017-06-07 13:55] #26 closed

[2017-06-07 13:58] robertkowalski commented on #15
we improved the docs, examples and the code with version 1.0.0, it is available on npm now.

hope you enjoy it! :)

[2017-06-07 13:58] #15 closed

[2017-06-07 14:28] robertkowalski commented on #25
fixed in b90221a2002e2297c6dbbcd9f8dc42f3ca6f2489

[2017-06-07 14:28] #25 closed

[2017-06-07 17:16] nedievas opened #69 "TypeError: format.replace is not a function"
Hello, I get this error:

[code]

for this part of code with new version pull:
[code]

[2017-06-07 17:41] robertkowalski commented on #69
the error seems to happen in one of your dependencies, `numbro`

what are you passing to numbro in `/home/bitfinex/zenbot/lib/engine.js:398:87`?

[2017-06-07 17:47] nedievas commented on #69
[code]

[2017-06-07 19:11] robertkowalski commented on #69
sorry, this is not a api-client issue.

[2017-06-07 19:11] #69 closed

[2017-06-10 18:58] rjb25 opened #70 "Bitfinex saying I don't have enough funds when I do."
When I send the following payload:
[code]
I am greeted with the following mesage:
[code]
I have tried making it a limit order, making the symbol ltcbtc, making the amount or price very small, etc etc. Every time I get the above error. I have about 0.2 btc in my exchange account. Why is this happening? Do you have a payload that works for you? Could you share it so that I might be able to tell what

[2017-06-10 18:59] rjb25 commented on #70
FYI I am using the api v1

[2017-06-10 19:37] rjb25 commented on #70
order type must be "exchange market"

[2017-06-10 19:37] #70 closed

[2017-06-15 17:56] vkalra commented on #34
I'm getting the same error.  I'll see if I can get you a reproducible test case.

[2017-06-16 08:47] robertkowalski commented on #34
@vkalra thank you.

can you report which channels you subscribe? do you use the v2 API?

[2017-06-16 09:41] michelem09 commented on #34
My code was something like this:

[code]

[2017-06-16 19:55] hurryhx opened #71 "What does 'order' look like in ws2?"
I want to use 'submitOrder(order)' function in ws2. But I cannot find what 'order' looks like in this repo. I tried to use the doc (http://docs.bitfinex.com/v2/reference/#ws-auth-order-new) and tried json:
`
  {
    "gid": 1,
    "cid": 12345,
    "type": "LIMIT",
    "symbol": "tBTCUSD",
    "amount": "1.0",
    "price": "500",
    "hidden": 0
  }
`
as an order. But I got this error:

Error: Unca

[2017-06-18 19:42] dmitruis opened #72 "STOP state Json parsing error"
I'm getting the following error randomly when running the websocket for an extensive amount of time and can't figure out where it's coming from:
stream.js:74
      throw er; // Unhandled stream error in pipe.
      ^
Error: Invalid JSON (Unexpected "T" at position 0 in state STOP)
    at Parser.proto.charError (node_modules\jsonparse\jsonparse.js:90:16)
    at Parser.proto.write (node_modules\json

[2017-06-21 08:11] robertkowalski commented on #71
Hi @hurryhx,

thanks for asking. Here is an example payload:

[code]

hope that helps!

[2017-06-21 08:11] #71 closed

[2017-06-21 08:51] robertkowalski commented on #72
@dmitruis thanks for reporting. right now we are looking into the issue

[2017-06-21 08:56] robertkowalski commented on #34
After some investigation i found out that this is related to the websocket library we use. It happens in relation to certain node releases. See https://github.com/websockets/ws/issues/778

we will publish a new version soon, in the meantime you can try our master branch directly:

[code]

Thanks for your patience!

[2017-06-23 19:03] vkalra commented on #34
@robertkowalski Thanks!  And I was using v2.

[2017-06-27 10:14] robertkowalski opened #73 "ws2: possible subscribeOrderBook issue"
`.subscribeOrderBook('BTCUSD','R0')` is emitting data with a field named "count" in it.  Is it possible that "count" means "order id"?

[2017-06-27 10:15] #34 closed

[2017-06-27 10:31] robertkowalski commented on #72
@dmitruis fix coming soon!

[2017-06-29 13:35] robertkowalski commented on #72
@dmitruis i opened https://github.com/bitfinexcom/bitfinex-api-node/pull/74

[2017-06-29 14:00] #72 closed

[2017-06-29 17:01] #73 closed

[2017-07-01 05:49] dmitruis commented on #72
awesome thanks!

[2017-07-06 21:42] LRonHubs commented on #73
it's the number of orders isn't it?

[2017-07-11 07:55] nedievas opened #76 "How to submit new order?"
Please, help me submit order, as documentation here is poor. My code (secret and key are hidden):
[code]
I get this error:
[code]
Thanks!

[2017-07-13 09:36] robertkowalski commented on #76
Hi nedievas,

it seems you forgot to authenticate yourself.

try to change your code to this:

[code]

hope that helps.

On Tue, Jul 11, 2017 at 9:55 AM, nedievas <notifications@github.com> wrote:

[2017-07-13 09:39] robertkowalski commented on #76
Hi nedievas,

it seems you forgot to authenticate yourself.

try to change your code to this:

[code]

hope that helps.

[2017-07-13 09:39] #76 closed

[2017-07-13 10:16] nedievas commented on #76
Hi. As you can see, I did. Please test code. Thanks

[2017-07-13 15:47] nedievas opened #77 "Authed, but order is not submited as intended."
Order is submited like that:
[code]
but it is **not** submited like that and we get error - { event: 'error', msg: 'auth: invalid', code: 10100 }:
[code]

[2017-07-14 17:15] robertkowalski commented on #76
ah ok, gotcha! thank you for your patience with me!

seems I replied to older code I got by emai from github.

try to send the order after the `auth` event is emitted. sent a PR in https://github.com/bitfinexcom/bitfinex-api-node/pull/78 with a slightly better example.

[2017-07-14 19:47] nedievas opened #79 "WS2 transform only for public api endpoints?"
I don't see transformation in authenticated endpoints.

[2017-07-17 05:26] nedievas opened #80 "REST2 Authed Endpoints ['error', 10100, 'apikey: invalid'] vs REST no error."
Hello,
I'm sorry I am so frequent Issue generator, but I have strange issues and I'd like to figure them out.
My code:
[code]

Output:
[code]
Thank you.

[2017-07-17 20:15] robertkowalski commented on #80
did you use the api key somewhere else already? have you tried creatign a
new one?

i'm on sick leave right now, broke my arm, so i can just answer
sporadically...

On Mon, Jul 17, 2017 at 7:26 AM, nedievas <notifications@github.com> wrote:

[2017-07-18 04:31] nedievas commented on #80
Sure. I created the new key and tested only on this REST2 code. Then checked the same key with REST. REST2 not authed, REST works even with the old keys.
I revoked the key and get the same error on REST2 and REST 'Error: 401' ;)

P.S. Please, don't hurry and get well! I'll be on vacation my self for two weeks.

[2017-07-19 21:31] glaucoheitor opened #81 "Error: unexpected server response (429)"
From time to time, I am getting a 429 error from WS even making a REST request.

That also crash the script.

`events.js:182
      throw er; // Unhandled 'error' event
      ^

Error: unexpected server response (429)
    at ClientRequest._req.on (/home/cards4magic/public_html/soredigitmedia/btc/node/node_modules/bitfinex-api-node/node_modules/ws/lib/WebSocket.js:649:26)
    at emitOne (events.js:1

[2017-07-31 12:00] TestniTester opened #82 "examples/orderbook.js not properly formed"
ouput of orderbook.js is not well formed, meaning
all orders are under bid
its like this
orderbook{
    bid : {
        {bids-data},
        asl : { ask-data}
    }
}

...never mind... AL OK!

[2017-07-31 13:19] #82 closed

[2017-08-01 19:40] robertkowalski commented on #79
yep, right now only public endpoints are supported.

I'm pretty swamped with work right now, if you want to improve the transformer your contribution is welcome...

[2017-08-02 13:06] robertkowalski commented on #41
turns out this got somehow lost

[2017-08-02 13:06] robertkowalski commented on #41
:(

[2017-08-02 13:08] robertkowalski commented on #81
hi @glaucoheitor, thanks for reporting!

429 is a "too many requests" error. You raise a good point which is an issue. The current entry point usually opens a new websocket. You can workaround the issue right now with passing `autoOpen: false` as option:

**Example:**

[code]

Please note that this is not officially documented and may get removed in later versions.

In fact there is a more elegant

[2017-08-03 14:47] TestniTester opened #83 "orderbook not sorted properly"
example:
'2734.4': { PRICE: 2734.4, COUNT: 2, AMOUNT: -10,5990971},
'2734.8': { PRICE: 2734.8, COUNT: 1, AMOUNT: -0,11},
'2734.3': { PRICE: 2734.3, COUNT: 1, AMOUNT: -4.260452},
'2736.9': { PRICE: 2736.9, COUNT: 1, AMOUNT: -0,01068},

same sort error on bids/asks

[2017-08-03 15:05] robertkowalski commented on #83
Hello and thanks for reporting!

I'm not sure if I can follow, can you elaborate please what the error is and how it happens for you?

Thank you in advance!

[2017-08-03 15:26] TestniTester commented on #83
if you open orderbook.js (examples)
the orders in orderbook array are not properly sorted...
if you look up my example, all orders in ALL orderbooks should be sorted by price....
BIDS descending, ASKS ascending...
right?
her...they are mot properly sorted
2734,4
2734,8
2734,3
2736,9
should acualy be
2734,3
2734,4
2734,8
2736,9
right?

[2017-08-03 19:26] robertkowalski opened #84 "Provide an example to sort the orderbook"
From https://github.com/bitfinexcom/bitfinex-api-node/issues/83:

It's not obvious that the data in the Hashmap is not sorted by price and that you need to create some kind of sorted lists in order to have a sorted list with the orderbook values.

Provide an additional method that takes the current data and merges it back into a list.

[2017-08-03 19:28] robertkowalski commented on #83
You raise a good point.

In JavaScript just plain Arrays guarantee sorting order, the example does not provide a sorted orderbook and uses a hashmap like structure for fast inserts and deletes.

It's easy to sort the data with `Object.keys` to get an array from each side and use `.sort` to make it sorted ascending or descending.

I'm busy with some other fixes right now, but I opened #84

[2017-08-03 19:28] #83 closed

[2017-08-05 04:08] slidenerd opened #85 "get all currencies and ticker data for all pairs"
How do I go about getting all the currency pairs on bitfinex and the ticker data for each one through websockets.
The code below only does BTC USD, I would like it to be dynamic where it queries all the available pairs at any given time and then queries each.
[code]

Thank you for your answer in advance

[2017-08-05 04:12] slidenerd commented on #85
**Quick Update**

Does this give data from all the pairs?
[code]

[2017-08-05 10:24] nedievas commented on #85
Hi, @slidenerd. Please try it and you'll see.

First you have to do function which will check available pairs via REST [`get_symbols`](https://api.bitfinex.com/v1/symbols). Then make a function which will put pairs into 'BTCUSD' place on a separate `subscribeTicker` line.

[2017-08-05 10:49] slidenerd commented on #85
Works pretty well, incase someone else in the future is stuck with the issue, here's the code
[code]
@nedievas thanks for the help

[2017-08-05 10:49] #85 closed

[2017-08-09 07:58] censix opened #86 "ws public : 'candles' -- Any plan to implement it ?"
Very lean implementation. Do you have a plan to implement the 'candles' of the public ws ?  It is part of the full v2 api.

https://docs.bitfinex.com/v2/reference#ws-public-candle

[2017-08-10 19:43] danielbjornadal opened #87 "Documentation update"
I cant find anything in the documentation about how to submit or cancel orders?
Should provide some examples.

[code]

[2017-08-16 14:12] robertkowalski commented on #80
@nedievas https://github.com/bitfinexcom/bitfinex-api-node/pull/88 addresses the issue i believe

[2017-08-16 14:31] robertkowalski commented on #87
thank you for your question! you are right, this isn't documented yet

https://github.com/bitfinexcom/bitfinex-api-node/blob/9a43bb9fb52a46b58034b62bda5464f435fe10eb/ws2.js#L233-L244

are the methods to send and cancel orders via websocket.

there is now order event right now.

what you can do is to take a look at the message emitted from the `message` event and then filter for orders:

[code]

ho

[2017-08-16 14:32] robertkowalski commented on #86
its not in the backlog, but happy to accept contributions!

[2017-08-16 14:33] robertkowalski commented on #81
abandoned issue -- closing

[2017-08-16 14:33] #81 closed

[2017-08-16 16:47] nedievas commented on #80
No. Issue stays the same.

[2017-08-17 16:23] lapwat commented on #80
I have got the same error:
`{"event":"auth","status":"FAILED","chanId":0,"code":10100,"msg":"apikey: invalid"}`
using the sample from [official Bitfinex documentation](https://bitfinex.readme.io/v2/docs/ws-auth)

I will try the first version of the api.

[2017-08-17 17:39] lapwat commented on #80
I have got the same error from time to time. If I restart my server 3 times it finally works.

[2017-08-17 18:35] glaucoheitor commented on #41
This should be addressed so we dont get that much 429 errors.
Even using autoOpen: false it didnt resolved 100%.

I am using a time counter to not send more than one request every 2s.

[2017-08-17 18:35] glaucoheitor commented on #81
This should be addressed so we dont get that much 429 errors.
Even using autoOpen: false it didnt resolved 100%.

I am using a time counter to not send more than one request every 2s.

[2017-08-17 18:39] glaucoheitor opened #89 "WS2: auth failed"
Almost everytime I start my code i got this error:

`{ event: 'auth',
  status: 'FAILED',
  chanId: 0,
  code: 10100,
  msg: 'apikey: invalid' }`

this is part of my full code:

[code]

i need to restart my code lots of time until i don't get this error message.

[2017-08-18 00:43] MaxSvargal commented on #80
Websocket API v2
Sometimes on restart node script i see this error. Fixed after 3 restarts.

[2017-08-18 05:57] Tetradeca opened #90 "Feedback over fork implementations"
Hey

I recently saw that this repository was a bit stale (but I guess was proved me wrong ;), and started doing some work on the library, you can find over at [this fork](https://github.com/HyperCubeProject/bitfinex-api-node/tree/lite).

To summarize what has been done:
- Removes the v1 clients: we don't really want to support them indefinitely and encourage people to switch to the newest API's. T

[2017-08-18 17:40] robertkowalski commented on #89
hi, we just fixed an issue on the server side. can you double check if this is still an issue?

thank you!

[2017-08-18 17:43] robertkowalski commented on #80
hey folks!

good news, we just fixed an error on the server side.

can you double check if you still run into the issue?

thank you!

[2017-08-19 05:24] nedievas commented on #80
@robertkowalski no luck.

[2017-08-19 13:55] glaucoheitor commented on #89
it looks like it isn't anymore. thank you very much!

[2017-08-19 13:55] #89 closed

[2017-08-19 16:57] Tetradeca commented on #90
I've actually changed my mind regarding the suppression of the v1 clients, given the absence of a few methods on the v2 endpoint that I haven't noticed previously

[2017-08-21 11:17] robertkowalski commented on #90
Thank you!

I'm taking a look this week!

[2017-08-21 11:19] robertkowalski commented on #80
@MaxSvargal this issue is about an issue with the REST api client. The websocket issue we had recently was handled in https://github.com/bitfinexcom/bitfinex-api-node/issues/89 and should be fixed.

[2017-08-21 11:31] robertkowalski commented on #86
@Tetradeca are you happy to submit a PR containing your candles addition? That would be great!

[2017-08-21 11:41] robertkowalski commented on #80
@nedievas hey, good news, i found the issue. you have to define the second argument:

method signature is:

[code]

payload has a default parameter, however, if you leave it off, it will take the callback as parameters and explode. I'm sending a PR containing a check, to make debugging in the future easier.

thank you for your patience!

whole fixed code:

[code]

[2017-08-21 11:41] #80 closed

[2017-08-21 21:25] avihai-developer opened #93 "Error 500 from endpoint: /v1/position/claim"
I got Error 500 from this endpoint: /v1/position/claim

[2017-08-21 22:13] alinberce opened #94 "How to pass parameters to payload?"
I am having problems accessing the API v1. Maybe I am starting on the wrong foot buy my goal is to fetch all orders done for a auth user.

I thought of using `past_trades` which has a few parameters: symbol, timestamp, until, limit_trades, reverse. How do I actually pass the parameters? If I do something like:

bfx.past_trades('BTCUSD',{'timestamp': 1440191855}, function(error, response){

[2017-08-22 01:28] Tetradeca commented on #93
@robertkowalski I believe the issue comes from the fact the [`claim_position`](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/rest.js#L264) method of the v1 client only takes the `position_id` as a parameter where it should also require to pass an `amount`.

@avihai-developer You can use this in the meantime:

[code]

[2017-08-22 01:56] Tetradeca commented on #90
Sure! Just a note: the `lite` branch linked was the previous stuff I did, but there is still some interesting things. You should look at `master` now, where I basically created a rest client capable of querying both `v2` and `v1` APIs, which I think would be better while we wait for the stability of v2 and migration of previous methods.

I'm missing the different methods abstraction since I wasn't

[2017-08-22 02:00] Tetradeca commented on #94
Yes you should be able to pass other flags like `reverse` or `until` like you did with the timestamp. You should maybe try tweaking `limit_trades` to return more? Also you should test to send the timestamp as a string, although I'm not sure it would matter.

[2017-08-22 05:03] Tetradeca commented on #86
Sure I can do that

[2017-08-22 05:14] avihai-developer commented on #93
I tried this buy i got the same error

[2017-08-23 12:48] alinberce commented on #94
Indeed, you are right it works. Thank you for your info, playing with limit_trades returned more values.
Thank you.

I was wondering if all the V1 endpoints will be supported by V2? For instance on V2 I can't find past trades, only the active ones.

[2017-08-23 14:10] lapwat opened #98 "API crashes without error message"
Hi everyone,
When I run my node server, it works find gathering tickers, order books and trades but then it crashes 5 minutes later without displaying any error. Shouldn't it be running forever if I don't kill it by hand ?
I am running v2.
Thanks for your advice

[2017-08-23 16:14] Tetradeca commented on #98
Yep there shouldn't be any issue like this. Can you try doing:

[code]

[2017-08-23 16:16] Tetradeca commented on #94
That's what I think everyone would expect, but I believe they are pretty overwhelmed and don't have bandwidth to finish the beta api.

[2017-08-23 20:54] lapwat commented on #98
I just have to open the issue and the bug does not happen anymore :( I close the issue and will reopen it with detailed logs if the bug happens again.

[2017-08-23 20:55] #98 closed

[2017-08-24 04:52] jsonhuntrods opened #99 "Issue With Available Balance"
Hello,

This really doesn't have to do with an issue with this library, but more of an understanding of the Bitfinex API and what's happening on their end.

Right now I listen for wallet updates:
[code]

Once the wallet update comes in for a certain currency, I instantly try to sell it (using the balance in the wallet update). Every time I get "Invalid order: not enough exchange balance". Sometime

[2017-08-24 05:28] jsonhuntrods commented on #99
Same thing with the 'oc' event (which I assume means order complete), the only total there that is given is a total doesn't work...

[2017-08-24 05:46] Tetradeca commented on #99
Hey, just a shot: did you make sure that the wallet update event you were receiving was from the `exchange` wallet? Some people get confused with the other two types, which would explain the insufficient funds error.

[2017-08-24 14:05] lapwat commented on #99
Hi, try to sell a little less than your available balance. What is the result ?

[2017-08-25 00:19] jsonhuntrods commented on #99
I think I got it. Here's the main takeaways:

1. The use_all_available parameter that is described in their documentation only works for buys.
2. When placing a sell on Bitfinex, even in the web interface, you have to account for the .1% and .2% fees. So I ended up using the 'tc' websocket event, and calculated my sells like this:

After Buy Completed: (1 - smaller_fee) * previous_amount_bought
Af

[2017-08-25 00:19] #99 closed

[2017-08-25 01:26] cameronlockey opened #102 "Could someone provide usage examples for REST?"
Thanks for building this. Could the README be expanded to demonstrate usage of the REST endpoints?

I realize it may well be basic node conventions that I am missing, but I am trying to inspect the data response for an authenticated REST endpoint (movements), and can't figure out how to see whether I got the data response I expect.

[code]
When I run this, I get:

[code]

[2017-08-25 01:34] Tetradeca commented on #102
Can you double check that the time on your vagrant box is up-to-date?

[2017-08-25 01:43] cameronlockey commented on #102
Just checked, and got `Thu Aug 24 21:43:34 EDT 2017`

[2017-08-25 02:21] cameronlockey commented on #102
Okay. I checked a different endpoint, and was able to retrieve data using much the same method as above. So, I believe my empty array response from `movements` is just because there is no data in my account for the timeframe provided.

[2017-08-25 02:21] #102 closed

[2017-08-25 09:17] hems opened #104 "option to don't use WS or REST"
If you need multiple instances for REST you won't need a new WS every time you creste and instance sonideally we would be able to pass an option in order to don't open an WS connection

[2017-08-25 19:00] lapwat commented on #86
hi, line 113 you forgot event as second parameter

[2017-08-26 03:39] Tetradeca commented on #86
Ah indeed, thanks!

[2017-08-26 04:29] censix commented on #86
Cool !

[2017-08-26 07:43] lapwat commented on #86
Still got this error, not sure where it comes from.
`TypeError: Cannot read property 'fundingCurrencies' of undefined`

[2017-08-26 17:11] Tetradeca commented on #86
Ah yes, that's why I was not passing the event actually. I fixed it correctly on another branch I made but it had a very different structure, let me see what I can do.

[2017-08-26 17:12] lapwat commented on #86
Thank you dude

[2017-08-26 17:15] Tetradeca commented on #86
Actually it might have been simpler than that, can you try updating with my latest commit?

[2017-08-26 17:36] lapwat commented on #86
I have already implemented my workaround and it works. I will try your version when I need candle multipairs.
If your version works, maybe you could try submitting a push request ?

[2017-08-26 21:29] Tetradeca commented on #86
It's already proposed as a PR, but I think the repo owner is a bit overwhelmed elsewhere.

[2017-08-28 22:43] newbdez33 commented on #93
any update here?

[2017-08-29 12:11] robertkowalski commented on #93
thank you for your patience, fix was just merged with https://github.com/bitfinexcom/bitfinex-api-node/pull/96

[2017-08-29 12:13] #86 closed

[2017-08-29 12:14] robertkowalski commented on #86
Hey folks,

thank you for being patient, I was swamped with other work.

I just merged the candles work @Tetradeca provided :)

[2017-08-29 12:29] newbdez33 commented on #93
Still does not work.

I also tried

Then I got error
Error: 500

I guess it is a bug from bitfinex?

[2017-08-29 12:32] robertkowalski commented on #104
hi @hems,

good point. we are already working on a permanent solution.

for now you can just pass: `autoOpen: false` as option:

[code]

[2017-08-29 12:32] robertkowalski commented on #104
related: https://github.com/bitfinexcom/bitfinex-api-node/issues/41

[2017-08-29 12:32] #104 closed

[2017-08-29 12:40] robertkowalski commented on #94
The v2 api is still under *active* development. This week we deploy changes that improve the performance and add new endpoints, especially some missing from the V1 API: http://blog.bitfinex.com/api/api-improvements/

Take this with a grain of salt, but I think we try to provide the whole functionality from the V1 API as long as it isn't a major performance bottleneck.

[2017-08-29 12:40] #94 closed

[2017-08-29 12:42] robertkowalski commented on #90
Cool, checking! And thanks for already sending PRs :)

[2017-08-29 13:00] robertkowalski commented on #90
here is some feedback:

 - the test server helper is really cool. good work!
 - i'm impressed by your rest1/rest2 factory refactor. very clean and lean, much better than the big mess we had before. only thing to note: it seems some methods are missing? what are we going to do with methods that do just exist on the v1 or v2 endpoint?
 - i'm not sure about the transformer refactor. i think the curre

[2017-08-29 13:36] robertkowalski commented on #93
you are right, we found an issue on the server side and were able to reproduce

[2017-08-29 15:26] Tetradeca commented on #90
Ah thanks! 😃

Yes I currently as you can see I only implemented the `candles` for the rest api while waiting, didn't want to do something that I don't use for nothing in case you would want to change it drastically. I can migrate the methods implemented in the two rest clients now. Maybe providing an api looking like:

[code]

Effectively passing the v1 methods in the root, and the v2 ones still i

[2017-08-29 15:57] lapwat commented on #86
event.symbol is still undefined

[2017-08-30 14:55] robertkowalski commented on #93
fix is rolled out tomorrow :)

[2017-08-30 23:27] hems commented on #104
tks!

[2017-08-31 02:01] newbdez33 commented on #93
Great! loooking for it!

[2017-08-31 18:51] avihai-developer commented on #93
Any update?

[2017-08-31 23:24] newbdez33 commented on #93
I believe claim is fine now. I tried to claim a no exists position and it returns 400 which is correct now.

[2017-09-02 02:29] Tetradeca opened #108 "Nonce behavior"
As stated in the docs, the nonce should be strictly increasing. Unfortunately sometimes it happens that you need to query two different API's at the same timestamp, or the same with different parameters.

I tried providing a high resolution time expressed in seconds and nanoseconds (`10206113444118`), but it appears the API does not really handles that correctly, and tells me that my nonce is too

[2017-09-02 02:30] Tetradeca commented on #90
Bump 😄  @robertkowalski

[2017-09-05 10:37] robertkowalski commented on #108
Good catch!

I think thats a missing feature of the ws2 client. The rest client supports it already: https://github.com/bitfinexcom/bitfinex-api-node/blob/7312e92a6e83061db7d551fff38ef0d0aa80c6a3/rest2.js#L14

It takes the current timestamp and lets every request just increase the number unix timestamp.

I think its worth to add that to the ws implementations as well!

[2017-09-05 10:50] robertkowalski commented on #93
yep, we rolled out the fix on thursday. should be fixed now.

@avihai-developer can you confirm?

[2017-09-05 10:55] robertkowalski commented on #90
Thats a good idea!

Maybe we can even go further and put the v1 methods under `v1` to have a clear seperation.

From a users perspective methods like `makeAuthRequest ` would be available both in v1 and v2. This way a user can just do: require('../rest.js').v1 and everything needed is there.

What do you think?

[2017-09-06 04:42] Tetradeca commented on #108
Hum I was not talking about ws, but yes that's also a good point.
What I did was to replace the default `nonceGenerator` by:

[code]

Unfortunately it doesn't seem like the api supports numbers that big. Do you have any insights on that?

[2017-09-06 04:49] Tetradeca commented on #90
Yeah sounds good, not sure about the require returning directly the instances, since you still need to pass the secrets somewhere through the factory.

Duplicating the export of the `makeRequests` methods in both versions don't make much sense to me though, since It would be mostly used for unimplemented methods or testing.

[code]

 gonna try something out

[2017-09-06 06:42] Tetradeca commented on #90
@robertkowalski  Alright I got something pretty nice [here](https://github.com/HyperCubeProject/bitfinex-api-node/commit/14c9a7e71fa11370ebf68cdf2375869e734d4eb9)!

Couple points:
- Use promises instead of callbacks
- I unified the behavior of the `parseInt` on orderIds, which was previously not done everywhere
- Created a transformer (and I get what you mean, it's tricky),  put it in the v2 file,

[2017-09-06 16:15] robertkowalski commented on #90
please no babel, let's stick with latest LTS to keep it simple.

[2017-09-06 16:30] robertkowalski commented on #90
i think that prepares async/await as well :) - have to sleep a night on the migration issue for current users and also get some feedback from @prdn et al in the team how we can handle that...

[2017-09-07 03:03] Tetradeca commented on #90
Yep, I mean the quick'n easy solution would be to do a major bump of the lib too. Worth in my opinion, since as you said it opens the usage of `async`

[2017-09-07 03:24] ilyacherevkov commented on #108
Nanoseconds work for me, but I have ruby wrapper

[2017-09-07 03:26] ilyacherevkov commented on #108
Btw, sometimes authentication fails even with nanoseconds, so I wrote re-auth logic on each fail

[2017-09-07 06:02] Tetradeca commented on #108
What do you mean the authentification fails just if you provide a nano nonce? Your solution sounds pretty hacky 😄

[2017-09-07 13:08] robertkowalski commented on #108
What speaks against taking the current timestamp and incrementing it by one for each request? Right now that means for multiple connections you need multiple API keys, but with that we buy us stability.

[2017-09-08 11:16] metachris opened #110 "Websocket `subscribeCandles` -> receiving only `undefined {}`"
I would like to receive candles via websockets by subscribing to the candles channel. But I always receive `undefined, {}` events:

    bws.on('open', () => {
        bws.subscribeCandles('OMGBTC', '1m')
    })

    bws.on('candles', (pair, candles) => {
        console.log('Candles:', pair, candles)
    })

The result is:

    bitfinex:ws Received message: [100547,[1504869180000,0.002798,0.002799

[2017-09-08 18:02] nedievas commented on #110
The same with 'tBTCUSD'.

[code]

[2017-09-09 01:49] Tetradeca commented on #110
Are you sure you are using the latest version?

[2017-09-09 05:37] nedievas commented on #110
v.1.2.0

[2017-09-10 21:06] denisenkoaj opened #111 "Nonce too small error"
Hello! Simple function like:

[code]
returns error like this:

There is solution:
in rest.js should change:
`this.nonce = Date.now() * 1000`

just try it.

[2017-09-11 19:42] androng opened #112 "Websocket not open"
I am getting "websocket not open" errors every few hours. If someone has made code to reconnect, perhaps submit a pull request? Otherwise my program just crashes. Do I just use a try-catch and try to call "ws.open()" again?

![screen shot 2017-09-11 at 12 35 46](https://user-images.githubusercontent.com/605932/30293380-203c5152-96ee-11e7-81ae-ef509646ab5c.png)

[2017-09-13 10:31] alinberce opened #113 "Calling trades in v2 returns no data"
I did not manage to see proper documentation of the new beta API calls so I am trying to get the history of trades (https://bitfinex.readme.io/v2/reference#rest-auth-trades-hist) which is more of a trial and error so far.

I did something like this:

[code]
I tried playing with start, end values (seconds, 0, millis, unix, switched between start and end values) but no matter what I've tried I alway

[2017-09-13 17:02] TestniTester opened #114 "docs!?"
im new to node.js
this bitfinex-api-node
is not finished? or?
cant finds how to buy/sell...anything... except orderbook
HELP!?

[2017-09-14 14:46] robertkowalski commented on #114
Hi @TestniTester,

the project is finished, but we keep working on improving it. In the future we have to improve the docs a lot to make them nicer. Right now the docs are a bit thin.

The examples folder has a few examples: https://github.com/bitfinexcom/bitfinex-api-node/tree/master/examples

You can also take a look at our API docs: https://bitfinex.readme.io/v2/reference#ws-auth-position -- mu

[2017-09-14 16:51] TestniTester commented on #114
some examples would be great :+1:

[2017-09-15 02:15] androng commented on #111
I still get this error when using both websocket and REST. I tried your fix and even submitted a pull request here but it does not work unless you use REST only. https://github.com/bitfinexcom/bitfinex-api-node/pull/100

This is annoying--I think I will have to use the workaround mentioned in that pull request where I use TWO API keys.

[2017-09-15 02:17] androng commented on #114
Here is an example for submitting an exchange limit order https://github.com/bitfinexcom/bitfinex-api-node/pull/103

[2017-09-15 03:53] androng opened #116 "Nonce still too small with REST and Websocket even with multiple keys"
Could you provide an example that calls both an authenticated REST and Websocket endpoint? I receive "nonce too small" errors when I try to use them both.

I could use Websockets only, but there is no websocket endpoint for listing historical orders or active positions. I need this because some of my orders seem to not generate notifications.

I could use REST only, but I am afraid of getting rate

[2017-09-15 03:58] androng commented on #116
I just noticed too that there is no "new order" REST endpoint for API v2. This implies you intend for people to use API v2 with REST and Websocket traffic. Or should I use both API v1 and v2 simultaneously?

[2017-09-15 05:14] robertkowalski opened #117 "issue with orders"
came via email:

What is the status of the v2 WS support?

Did you notice that on failed new order, there is no usable information coming in the websocket? No order id or anything that identify what is really happened with which order.

[2017-09-15 08:09] robertkowalski commented on #111
hi @denisenkoaj,

thank you for the report.

i reproduced the issue and talking with the team right how we can still provide a secure API and also increase the usability.

the nonces are used to guard users network attacks so we have to be careful here.

[2017-09-15 08:31] robertkowalski commented on #111
in the meantime i documented the status quo and improved the error messages: https://github.com/bitfinexcom/bitfinex-api-node/pull/118

[2017-09-15 10:18] robertkowalski commented on #117
the response is added in the next api release

[2017-09-15 10:27] jantielens opened #119 "Cannot find module 'bufferutil'"
I'm trying to get the WS API working on Windows 10 with Node 8.4.0 installed. Steps:
- create new node app
- npm install bitfinex-api-node --save
- write some basic code (using the websocket api)

Basic stuff, like getting ticker info works fine. But when I try to create an order, nothing happens (no error, no success, ...). When debugging the app (using VS Code, catching every exception) I can de

[2017-09-15 10:45] jantielens commented on #117
Aha, so  for now it is normal that there is no error/info returned when you submit for example a new order and the API key is readonly?
Thanks for confirming, so I don't have to look in my code/setup for errors. :)

[2017-09-15 10:57] jantielens commented on #119
Just discovered #117, maybe the exception is not breaking anything (because it's caught internally).

[2017-09-15 16:30] androng commented on #116
I used two API keys and still get the same result. One key for websocket v2 and one for REST v2.

[2017-09-15 17:19] androng commented on #116
This is my starting point. Both REST and WS used at the same time with authenticated calls.

`/*
	This is an example of an authenticated REST request.
	This example fetches the last 25 orders on your account.
 */
'use strict'

const BFX = require('bitfinex-api-node')

const CREDENTIALS_REST =
	{"API_KEY": '',
	 "API_SECRET": '' };
const CREDENTIALS_WS =
	{"API_KEY": '',
	 "API_SECRET": '' };

cons

[2017-09-16 02:14] Tetradeca commented on #113
Do you mind trying on [this fork](https://github.com/HyperCubeProject/bitfinex-api-node)? If it works for you it might make @robertkowalski consider it ;D

[2017-09-16 09:12] alinberce commented on #113
@Tetradeca how can I add the fork to my project? Thank you.

[2017-09-16 17:09] shimondoodkin opened #120 "does not deference callbacks on close"
https://github.com/bitfinexcom/bitfinex-api-node/blob/152255e525b78f123044c243cd88b6b43c599620/ws2.js#L29
after multiple open (reconnect)
multiple calls would call events multiple times.

[2017-09-16 17:10] #120 closed

[2017-09-16 18:06] Tetradeca commented on #113
You can either clone it and use [npm link](https://docs.npmjs.com/cli/link), or you could try uninstalling your current `bitfinex-api-node` package and doing

    npm install HyperCubeProject/bitfinex-api-node

[2017-09-17 16:46] TestniTester commented on #114
can anyone give any help?
i want to buy/sell but whatever i set to type in params i get Invalid order type
im looking here
https://bitfinex.readme.io/v2/reference#ws-input-order-new
doin autehtification ok (i can get open orders, wallets but just cannot manage to buy/sell anything :)

[2017-09-17 17:37] androng commented on #114
Here is an example for submitting an exchange limit order. What does it return? https://github.com/bitfinexcom/bitfinex-api-node/pull/103/commits/98545e8eceeded6cc3e81aaac8373c079d121bec

[2017-09-17 18:11] nedievas commented on #114
Here is an example:
[code]

[2017-09-17 19:03] TestniTester commented on #114
i see "order submitted" but i dont see the order in my account ....
hmm
how can i get callback result ?

[2017-09-17 19:06] nedievas commented on #114
Strange, because I see order in my account.

[2017-09-17 19:09] TestniTester commented on #114
all i did was chainge symbol to tBTCXRP but with no callback i dont know whats going on,,,
ok you make your orders, do you have a callback working?

[2017-09-17 19:10] nedievas commented on #114
There is no such pair!

[2017-09-17 19:13] TestniTester commented on #114
what do you mean?
BTC=>bitcoin
XRP=>ripple
on bitfinex ?
of course there is?

[2017-09-17 19:15] androng commented on #114
The pair is called tXRPBTC, not tBTCXRP. Check your websocket error
messages by adding the error callback.

On Sep 17, 2017 12:13, "TestniTester" <notifications@github.com> wrote:

what do you mean?
BTC=>bitcoin
XRP=>ripple
on bitfinex ?
of course there is?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/bitfinexcom/bitfinex-api-

[2017-09-17 19:29] TestniTester commented on #114
guys is there any other way i can make buy/sell... then using websockets ?
or if i reform my question..... api is now going from V1 to V2 if i understand correctly?
when will be there some documentation for V2?

[2017-09-17 20:19] TestniTester commented on #114
a simple V2 post example would be really nice...
cos from that example i can make virtualy evrithing from v2 docs right?

[2017-09-18 02:00] irvingliao commented on #116
I simply changed this line in rest2.js
`this.nonce = Date.now() * 1000`
and both v2 rest and v2 ws will work.

Did you change anything in ws2.js?
Cause the `this.nonce` is private in each class, if you change one of them, it shouldn't affect the other one.

[2017-09-18 09:36] robertkowalski commented on #119
hi @jantielens,

the error happens in the dependency bufferutil (https://github.com/websockets/bufferutil) which is a native c++ extension. it looks like it wasn't compiled properly.

 - i'm not a windows expert, do you have the c++ toolchain installed?
- when you remove the node modules folder and reinstall the dependencies, do you see a compile error in the log?
 - maybe this can help you as wel

[2017-09-18 09:37] robertkowalski commented on #117
hi @jantielens,

this issue describes a missing message when an order submission has **failed**

in all other cases yo should get a response.

[2017-09-18 09:45] robertkowalski commented on #114
hey,

sorry i was caught in the smidgen release (https://github.com/bitfinexcom/smidgen)

the v2 api docs can be found here: https://docs.bitfinex.com/v2/docs

i would recommend using websockets, but here is a rest v2 api example:

[code]

[2017-09-18 19:39] androng commented on #116
When I try my code from two comments ago with a fresh copy of this repo, I get

[code]

with library modification `this.nonce = Date.now() * 1000`, same error

So I tried with a fresh install of `npm install` instead.

I get a different error message:
[code]

Only when I use `this.nonce = Date.now()*20000` in rest2.js and `const authNonce = (new Date()).getTime() * 10000` in ws2.js do I actually g

[2017-09-21 12:16] robertkowalski commented on #114
hey, i just opened a PR with an open order / cancel order example

https://github.com/bitfinexcom/bitfinex-api-node/pull/122

[2017-09-23 07:06] Andytreee commented on #117
hi @robertkowalski ,
is there any sample on submit new orders  for  WS v1

[2017-09-25 16:46] algotek opened #124 "How to change an order?"
How to change the price of a limit order?

[2017-09-26 11:41] bda2206 commented on #110
i fixed like this in ws2.js line 147.

_processCandleEvent (msg, event) {
    if (msg[0] === 'hb') { // HeatBeart
      debug('Received HeatBeart in %s ticker channel', event.symbol)
      return
    }

    msg = msg[0]
    const res = this.transformer(msg, 'candles', event.symbol)
    debug('Emitting candles, %s, %j', event.symbol, res)
    this.emit('candles', event.key.toString().substr(10,7),

[2017-09-26 15:26] g666nz opened #125 "STOP LIMIT FUNCTION IN API"
I noticed in the Bitfinex documents there was no stop limit option. I was wondering if that was a problem in the documentation, or you do not provide that on your api. Hope to hear from you soon.

[2017-09-26 16:26] nedievas commented on #125
I thing you must provide it in your order `type` as:

REST:
[code]
WS2:
[code]

[2017-09-26 18:10] MaxSvargal opened #126 "Candles event.symbol is undefined"
When event will be passed to __processCandleEvent_ method it has no "symbol" prop.
Handler return undefined as first argument.

[code]

[2017-09-26 18:44] MaxSvargal commented on #126
https://github.com/bitfinexcom/bitfinex-api-node/pull/127

[2017-09-27 06:32] g666nz commented on #125
Yes but you only have the exchange stop option. Limit is a basic LIMIT(is for margin trading) and exchange LIMIT is for basic exchange trading. However there is no 'EXCHANGE STOP-LIMIT' or 'STOP-LIMIT'(For margin trading'.

So is that option missing from the documentation or is it not available over the API.

[2017-09-27 08:47] nedievas commented on #125
It is available as `type`. Please read [Request Fields for WS2](https://docs.bitfinex.com/v2/reference#ws-input-order-new). It's up to you what type of order to do.

[2017-09-27 13:01] g666nz commented on #125
I'm using v1 REST. Is it possible with that or will i have to update to V2.

“market” / “limit” / “stop” / “trailing-stop” / “fill-or-kill” / “exchange market” / “exchange limit” / “exchange stop” / “exchange trailing-stop” / “exchange fill-or-kill”. (type starting by “exchange ” are exchange orders, others are margin trading orders)

There is a "stop" and "exchange stop" but no "stop limit" and "

[2017-09-27 13:35] nedievas commented on #125
Check [this](https://docs.bitfinex.com/v1/reference#rest-auth-new-order) and make a test yourself. It's only as parameter with is send to Bitfinex server. You may send it without this API.

[2017-09-27 13:37] g666nz commented on #125
I'l give it a test.

[2017-09-27 14:56] robertkowalski commented on #124
hi and thank you for your request!

you basically have to cancel the order and then create a new one.

there is a multi-operations endpoint which makes it quite handy to do that in one request, in the right order: https://docs.bitfinex.com/v2/reference#ws-input-order-multi-op

[2017-09-27 14:56] #124 closed

[2017-09-27 14:59] robertkowalski commented on #126
fixed in latest master, thank you!

[2017-09-27 14:59] #126 closed

[2017-09-27 18:41] algotek commented on #124
The cancel/open , especially with the multi-op is not working, and hit a " not enough exchange balance " error.
Please suggest something else, or solve the "not enough exchange balance " error.

[2017-09-27 18:46] nedievas commented on #124
it works in [REST1](https://docs.bitfinex.com/v1/reference#rest-auth-replace-order)

[2017-09-27 18:48] algotek opened #128 "How to change an order -> cancel/open -> "not enough exchange balance""
The cancel/open , especially with multi-op command is not working, and end up in a " not enough balance " error.
 Please suggest something else, or solve the "not enough exchange balance " error.

[2017-09-27 18:53] algotek commented on #124
It does not work with REST1 either.  (/v1/order/cancel/replace).
That run into "not enough balance" also.

[2017-09-27 19:12] nedievas commented on #124
Do you really have enough balance when testing?

[2017-09-27 19:19] algotek commented on #128
Just to clarify, the cancel is successful, the 'not enough balance' come at the re-open phase.

[2017-09-27 19:19] algotek commented on #124
Just to clarify, the cancel is successful, the 'not enough balance' come at the re-open phase.

[2017-09-27 19:21] nedievas commented on #124
Just to clarify. Do you really believe that you have enough balance? You are changing the price, so you change the total of your order...

[2017-09-27 19:23] algotek commented on #124
The price is lowered, if that helps.

[2017-09-27 19:24] algotek commented on #124
Are you a bfx staff, or just a normal user?

[2017-09-27 19:27] nedievas commented on #124
normal user. Will do test my self.

[2017-09-27 19:40] nedievas commented on #124
Works like a charm:
First buy 0.1 0.1
[code]
let's change price to 0.05:
[code]
![capture](https://user-images.githubusercontent.com/6176288/30933992-d7d303c2-a3d4-11e7-9b77-c45694ac75fd.PNG)

[2017-09-27 19:40] algotek commented on #124
When you test, make sure you do not have 2x the balance for the order.
Let's say you have 1.9 BTC, open an order for 1 BTC, and try the REST1 replace.
The "not enough balance" will be hit regularly.

[2017-09-27 19:42] nedievas commented on #124
Do you use `use_remaining: true` in params?

[2017-09-27 19:49] algotek commented on #124
" use_remaining boolean True if the new order should use the remaining amount of the original order."
Since the order not filled/part filled, the remaining amount is the same as the original amount, how would this help? (I'll go an try, but don't see the logic..)

[2017-09-27 19:52] nedievas commented on #124
I suppose if `false`, it opens new order then cancels the old one...

[2017-09-27 19:53] nedievas commented on #124
the amount is frozen though, when you have open order.

[2017-09-27 19:58] algotek commented on #124
It did not helped, the trading engine lose track of the balance eventually.

[2017-09-27 20:04] nedievas commented on #124
I suppose it's your side problem. Simple code is working.

[2017-09-27 20:05] algotek commented on #124
Did you make sure there is no 2x balance during the test? Do you understand what that means?
The trading engine can't calculate the balance requirement fast enough, that is what I experience.

[2017-09-28 04:58] nedievas commented on #124
My start balance for test $0.14.
Buy 1 BTC for $0.13:
[code]
Changing order to 1 BTC for $0.12:
[code]
Ups...

[2017-09-28 06:32] algotek commented on #128
Error confirmed here #124

[2017-09-28 15:49] algotek commented on #124
Who is in charge of this? Could you point out the trading engine developers on github?

[2017-09-30 23:09] AscensionProtocol opened #129 "Need Help With Public REST documentation"
Hello!

I am sorry if this has been asked before, but is there documentation for how to properly implement V2 of the REST client?

For example I do:

`import BFX from 'bitfinex-api-node'

const API_KEY = 'secret'
const API_SECRET = 'secret'

const options = {
  version: 2,
  transform:true
}
const bw = new BFX(API_KEY, API_SECRET, options)
const bfw_rest = bw.rest

... but then for my implementati

[2017-10-03 07:44] algotek opened #130 "Can't close remaining margin position: "Invalid order, minimum size for ....""
When the margin position fall below the minimum opening size, how to close the position? (The web gui can close it)

[2017-10-04 16:44] g666nz commented on #125
hey tried to make the type, stop-limit. Did not work, I guess it's not in the API.

[2017-10-05 10:02] #125 closed

[2017-10-05 10:51] hoangnguyen208 opened #131 "Authentication and list of authenticated endpoints for rest API (v1)"
The tutorial for web socket in the documentation is quite clear, but I could not find any examples from the docs on how to authenticate with API keys as well as authenticated endpoints for rest API. I'm not sure but I'm guessing authentication function could be brest.makeAuthRequest(), and an endpoints for key permissions could be brest.keyinfo(). However, it would be great if the team produce a f

[2017-10-07 16:12] vinipuh5 commented on #110
@metachris try to use versuin 1.2.1 and add 't' prefix for your currency pair, like this: 'tOMGBTC'.

[2017-10-09 14:49] robertkowalski commented on #119
closing, abandoned issue

[2017-10-09 14:49] #119 closed

[2017-10-09 14:50] robertkowalski opened #132 "ws (and ws2?): auth messages parsing is incorrect"
[code]

[2017-10-11 19:23] shimondoodkin opened #133 "v1 api parsed incorrectly"
I had just connected, authenticated, subscribed to ws, logged the arguments
the ws called several times
ws: function arguments = { '0': 'exchange' }
ws: function arguments = { '0': 'USD' }
ws: function arguments =  { '0': 435.30566562 }
ws: function arguments = { '0': 0 }

[code]

[2017-10-12 13:28] robertkowalski commented on #133
hmm... we don't expose a `ws` event - what do you want to achieve?

the code example seems to be incomplete. on a run i get:

[code]

[2017-10-12 13:30] shimondoodkin commented on #133
wallet snapshot
https://bitfinex.readme.io/v1/reference#ws-auth-wallet-snapshot

[2017-10-12 21:55] bda2206 commented on #112
yes my websocket seems to have drifted off to reporting no candles overnight.

I'll try this
bws.on('error',bws = new BFX(API_KEY, API_SECRET, { version: 2 }).ws);

[2017-10-13 04:40] pipobimbo opened #134 "REST v1 - Withdrawal endpoint & automation"
Is there any way to use the Withdrawal end point (REST v1) without having to confirm each individual withdrawal by email? The previous fairly limit the usefulness of this endpoint / makes it difficult to automate some processes.

Thanks.

[2017-10-13 05:00] bda2206 commented on #112
the websocket slowly stops supplying candle data.  meh.

[2017-10-13 05:23] androng commented on #112
Whatever this message means, the websocket stops giving heartbeat messages. I have to use `ws.close()` and then `ws.open()` to resume the candle feed.

[2017-10-13 05:27] androng commented on #116
I got rid of the nonce error! I think! I increase the REST nonce by 10 instead of 1 each time.

[2017-10-18 09:23] kidrock87 opened #136 "How to create new order by rest?"
Hello, I'm new to Node. Can you please tell us how to create a new order using the Rest? And where can I read the documentation about your library?

[2017-10-23 16:35] #136 closed

[2017-10-27 15:17] LRonHubs commented on #134
Yea these are called the "Conditions for auto-withdrawal processing" on the Bitfinex Webpage. Go there, click Withdrawal, click BTC, and you'll see a checkbox listing the stuff you need to get it done automagically... Good luck

[2017-10-27 16:08] LRonHubs opened #138 "Websocket connection silently stops receiving data"
My orderbook websockets occasionally stop receiving data, similar to this error in the Go API: https://github.com/bitfinexcom/bitfinex-api-go/pull/30

I was wondering if there was an ability to set a timeout so that an error may be thrown when a message is not received for some time? Or better yet, if it could automatically reconnect when a message is not received after some time?

Thanks

[2017-10-31 10:44] steeply opened #139 "REST v1 API. add params 'limit_trades' in method "Trades" for public"
quotation from a letter from bitfinex

[2017-10-31 23:17] aldanor opened #140 "Trades not matching the orderbook"
Here's a little node script based on one of the scripts in `examples/` that tries to build the book and report in red any trade events that don't seem to match anything that exists in the orderbook: https://gist.github.com/aldanor/5da8bfb27c592edcdab0aefdca650a95 (normally this would happen within a minute or so).

Here's a typical example:

[code]

Seems like just before the match event occurred,

[2017-11-03 17:53] LRonHubs commented on #140
https://github.com/bitfinexcom/bitfinex-api-node/issues/138 ?

[2017-11-03 18:09] aldanor commented on #140
Nope. Websocket connection is fine. It looks like Bitfinex seems to not the synchronise the two channels properly (unlike all other major exchanges I’m aware of).

[2017-11-04 16:01] LRonHubs opened #141 "Frequently get "not enough balance" error when I have enough balance"
All my balances are in the "exchange" wallet and I'm only executing exchange limit orders.

Very frequently when using the PUSH API I receive this response from the server. I've started immediately submitting another PUSH call to Update Balances immediately afterwards to see whats up, and unfortunately I find that my balance is definitely high enough for the order.  I'm also only trading about 90%

[2017-11-04 18:28] LRonHubs commented on #99
I still get this error, even after using the above suggestions

[2017-11-06 10:43] shimondoodkin commented on #120
there was no issue here because it creates new `ws` each time it the connection is opened again.
there is just no reuse of the websocket. the older websocket is left to the garbage collector.

https://github.com/bitfinexcom/bitfinex-api-node/blob/152255e525b78f123044c243cd88b6b43c599620/ws2.js#L28

[2017-11-08 20:33] LRonHubs commented on #124
Yes I also get this error, bitfinex is extremely slow to update balances available balances. Have you checked your available balance between endpoints? When I do, I still get a "not enough balance error", even if the "update balance" endpoint says I have enough.

[2017-11-08 20:34] LRonHubs commented on #124
@nedievas  I'm assuming you have > $0.27 in your total balance on bitfinex, yes? Because if so, your test case doesn't work.

[2017-11-08 20:37] LRonHubs commented on #124
https://github.com/bitfinexcom/bitfinex-api-node/issues/141

[2017-11-09 15:53] includeleec opened #142 "Error: connect ETIMEDOUT 104.16.171.181:443"
always occur.

[2017-11-09 16:17] includeleec commented on #142
i run code in visual studio code error,but run in bitfinex api web playground is ok.
why??

[2017-11-10 02:16] brentkirkland commented on #142
Could you post a snippet of the code you are executing?

[2017-11-10 02:20] brentkirkland commented on #87
Going to beef up these docs...

[2017-11-10 13:17] LRonHubs commented on #112
Do you need to resubscribe to everything after calling ws.open?

[2017-11-10 13:17] LRonHubs commented on #138
https://github.com/bitfinexcom/bitfinex-api-node/issues/112

[2017-11-10 16:45] androng commented on #112
Yes

On Fri, Nov 10, 2017 at 5:17 AM, LRonHubs <notifications@github.com> wrote:

[2017-11-10 19:28] bda2206 commented on #112
the candle data is available for some time after ws.open. gradually the
subscriptions appeared to expire. i’m using rest api now.

On Sat, 11 Nov 2017 at 3:45 am, Andrew <notifications@github.com> wrote:

[2017-11-10 19:43] LRonHubs commented on #112
Ok this is true for everything involving the websockets, including the orderbook. It is pretty hard to trade when the orderbook socket goes off and you have no idea, in fact the entire section of the API becomes useless.

[2017-11-11 16:01] includeleec commented on #142
[code]

[2017-11-11 16:27] includeleec opened #143 "Error: Unhandled "error" event. ([object Object])"
events.js:188
      throw err;
      ^

Error: Unhandled "error" event. ([object Object])
    at BitfinexWS.emit (events.js:186:19)
    at BitfinexWS.onMessage (e:\00-crypto-currency\node_modules\bitfinex-api-node\ws.js:93:12)
    at emitOne (events.js:116:13)
    at WebSocket.emit (events.js:211:7)
    at Receiver._receiver.onmessage (e:\00-crypto-currency\node_modules\ws\lib\WebSocket.js:143:47)

[2017-11-11 20:51] brentkirkland commented on #134
@robertkowalski I think this can be closed

[2017-11-14 11:34] xitter opened #144 "Socket hung up error"
I am connecting to bifinex socket and after a certain time, I get the socket hung up error. How to handle this error and reconnect to the socket. This can be a feature inside this library only.

ERROR:
[code]

[2017-11-14 14:01] includeleec commented on #138
do you resolve now?

[2017-11-14 14:25] LRonHubs commented on #138
No, i stopped trading on bitfinex because of this and many other issues

[2017-11-17 13:24] majid4466 opened #145 "Subscribing to Raw Books returns data for Books instead"
In the playground it is possible to subscribe to Raw Books feed, but trying the same in node returns data for Books. I.e. instead of something like
 ``` [ 164, [ 5205599654, 7833.5, -0.00409589 ] ]```
it returns data like
```[ 90, [ 7868.5, 4, 18.073 ] ]```.

Here is my test case:

[code]

[2017-11-18 23:33] gabitza-sas opened #146 "Bug: new order for type "exchange limit""
So I created a request for a new order with type "exchange limit" and ii instantly sold the currency

Request
{"symbol":"neousd","amount":"0.4","price":"60","exchange":"bitfinex","side":"sell","type":"exchange limit","request":"/v1/order/new","nonce":"1511047751","options":[]}

I would expect this request to just create a new Order with selling the amount of neo of 0.4 when 1 neo has reached 60$ b

[2017-11-19 02:13] sjashwin commented on #84
Can I complete this?

[2017-11-19 15:33] gabitza-sas commented on #146
it works now as expected, i think the first time i tried the value of neo was smaller than the current market value, sorry for any inconvenience

[2017-11-19 15:33] #146 closed

[2017-11-22 00:42] sjashwin commented on #144
Could you provide some steps to reproduce this error?

[2017-11-22 12:11] xitter commented on #144
Error occurs when socket remains open for a long period of time.

Reproduce:
Initialize ws `const bws = new BFX(API_KEY, API_SECRET, opts).ws` and keep this open for a long time, hung up error will appear.

[2017-11-23 16:28] f3rno commented on #142
Is this still happening?

[2017-11-23 23:43] f3rno commented on #110
Not reproducible on the latest version

[2017-11-23 23:43] #110 closed

[2017-11-23 23:47] f3rno opened #151 "Pass BFX opts through to transport constructors"
In favour of https://github.com/bitfinexcom/bitfinex-api-node/pull/137 :)

[2017-11-24 12:03] f3rno commented on #129
The symbol needs to be prefixed with a 't', so `'tBTCUSD'` instead of `'BTCUSD'`.

The repo docs definitely need more attention, coming soon ;)

[2017-11-24 12:03] #129 closed

[2017-11-29 18:06] #134 closed

[2017-11-29 20:37] f3rno commented on #77
It looks like your API key/secret pair is invalid (did you provide them to the constructor?) I'm closing this as it's quite old, let me know if you are still having problems.

[2017-11-29 20:37] #77 closed

[2017-11-30 01:28] leandrodvd opened #153 "Example for submiting a limit order and tracking it"
Hi,

I'm trying to write some code to submit a limit order and track it so that I can trigger another action when the order gets executed or cancel the order if it doesn't get executed after some time.

There is a code in the examples directory that shows how to submit an order and how to cancel it, but how can I track the status of that order at any time ?

[2017-12-05 13:48] f3rno commented on #153
Hi,

So this is a bit opaque at the moment, but you need to listen for messages on the ws stream referencing the order you initially created (`ou` for updates, `oc` for close) to pick up status updates. I'm working on a `ws2` refactor which will help with this via `order.submit().then(..` and `order.onUpdate`, but it's still in the pipeline.

In terms of not having an `id` before order creation, y

[2017-12-05 14:38] leandrodvd commented on #153
Thanks for the reply,

So if I miss the order update in the stream there is not way today to "ask" for the order details, right ?

[2017-12-05 16:11] samidarko opened #154 "[question] close event triggered after a couple of hours. Code 1006"
Hi,

I'm collecting some trade data for 6 pairs using websocket api v2 but the process stops after 1 or 2 hours. The `close` event is triggered. Code 1006.

Is it happening to somebody else?

Thanks by advance

[2017-12-05 16:16] f3rno commented on #153
At the moment, there is sadly no way besides catching the update packets when they arrive. So you need to listen on the stream for the relevant events and update your local order accordingly. An `on-req` notification is fired off for each new order on submit, along with an `on`/`ou`/`oc` packet depending on if the order fills instantly or not (notification is always first).

After that updates com

[2017-12-05 17:01] leandrodvd commented on #153
Ok, thanks for the confirmation @f3rno

[2017-12-05 19:23] dutu commented on #153
well, you can always use REST to get the order status at anytime

[2017-12-09 14:14] vire commented on #113
I have similar problem with vanila call to the trades history API, it does not take into account the start/end query param nor body content :/

[2017-12-10 21:53] GregTheGreek commented on #153
@leandrodvd @f3rno
Do you guys know if `te` represents that the order was filled? Or does it simply mean it is open?

[2017-12-11 12:55] f3rno commented on #153
@GregTheGreek `te` represents a trade, for order status you should monitor `on`, `ou`, and `oc` messages. `ou` are for order updates, you can check the values of `amount`& `amountOrig` along with `status` to detect a fill. Same thing with `oc` which afaik can happen for order executions & cancellations.

[2017-12-11 13:03] GregTheGreek commented on #153
@f3rno thanks for clearing that up.. Is there anywhere that explicitly explains what the returned status codes would look like? I,e options for `status`. Could not find anything here or on the docs.bitfinex.com. Thanks again

[2017-12-11 13:07] f3rno commented on #153
@GregTheGreek eh, they get concatenated on the server. At first the `status` string from an `ou` packet may be `'PARTIALLY FILLED @ 586.06(0.85)'`, and then from the following `oc` it could be `'EXECUTED @ 586.86(0.05): was PARTIALLY FILLED @ 586.06(0.85)'`

So you can split on `:` and check the first substring for `'EXECUTED'`or `'CANCELED'`, etc, or check the entire status string knowing that ca

[2017-12-11 17:00] f3rno commented on #117
Closing as the order notifications seem to handle this in the latest ws2

[2017-12-11 17:00] #117 closed

[2017-12-11 17:04] f3rno commented on #132
Doesn't seem to be happening anymore

[2017-12-11 17:04] #132 closed

[2017-12-11 17:06] f3rno commented on #133
@shimondoodkin you would need to listen for a `ws` message here, apologies for the late reply.

Specifically, something along the lines of `ws.on('message', (msg) => ...` where `msg[1]` is `ws`, at least for ws v2. Closing as this is not an issue with this repo.

[2017-12-11 17:06] #133 closed

[2017-12-11 17:09] f3rno commented on #140
Aye, this is not an issue with the client library

[2017-12-11 17:09] #140 closed

[2017-12-11 17:09] #142 closed

[2017-12-11 17:12] f3rno commented on #143
Closing due to an incomplete description; feel free to re-open this and expand the `[object Object]` error string if it still happens :) Overall it sounds like you need to register a `.on('error', (...` handler

[2017-12-11 17:13] #143 closed

[2017-12-11 17:16] f3rno commented on #154
Hmm, this sounds similar to the other closed connection issues. As a temporary workaround, can you manually reconnect on close? We have an updated ws v2 coming out shortly which will have this built in.

Closing as duplicate of #112

[2017-12-11 17:16] #154 closed

[2017-12-13 15:28] GregTheGreek commented on #153
Is there anywhere that shows an example payload from the server?
I've seen this, but I was wondering if there is something more specific?
`bws.on('message', (msg) => {
  if (!Array.isArray(msg)) return

  const [ , type, payload ] = msg
`

[2017-12-13 16:17] f3rno commented on #153
The docs have payload 'schemas' for each message type: https://docs.bitfinex.com/v2/reference#ws-public-candle You can switch between snapshots/updates on the right for each type.

Or you can check the `lib/models/` folder in the PR I referenced above

[2017-12-13 18:07] GregTheGreek commented on #153
@f3rno Thank you!

[2017-12-13 18:41] GregTheGreek commented on #153
@f3rno By default does this package use V1 or V2?

I ask this because V1 supports `ou`,`oc` where V2 does not explicitly say in the documentation that it supports them.

[2017-12-14 14:39] mubraska opened #157 "Error 403 while creating new exchange market order"
Hello,

I am trying to create a new order based on the amount left in one of the wallets of my account. However I am getting an error with 403 code. The code is given below:

`var BFX = require('bitfinex-api-node');

var bfxRest = new BFX('api-key', 'api-secret', {version: 1}).rest
bfxRest.wallet_balances((wbError, wbRes) => {
  if (wbError) console.log(wbError)
  var etheriumMuni = wbRes.filter(f

[2017-12-14 15:02] #157 closed

[2017-12-14 18:05] f3rno commented on #139
@steeply Hey, apologies for the late response, v1 is really low priority for us atm.

We could refactor the v1 REST methods, but that would break compatibility with existing code, and a `limit` param is available on v2 REST here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/rest2.js#L135

tl;dr this should be changed, but v1 is now deprecated, please use v2

[2017-12-14 18:05] #139 closed

[2017-12-14 18:08] f3rno commented on #113
@vire can you share the snippet that makes the call?

[2017-12-14 18:09] f3rno commented on #93
I'll close this for now as it seems to be fixed, please re-open if it appears again.

[2017-12-14 18:09] #93 closed

[2017-12-14 19:23] vire commented on #113
@f3rno hmm surprisingly I've realized, that the problem was on the API v2 side, they just don't return a meaningful response.

I can't request historical orders just 72 hours ago I guess..

[2017-12-18 00:34] mr-black-8 opened #158 "use_all_available for v2 WebSockets"
I see from the docs that the v1 REST API supports a `use_all_available` parameter for placing a new order.

I couldn't find any mention of this option for the v2 WS API, I'm wondering if this is/will be supported in v2?

[2017-12-19 01:32] engenheiro opened #159 "No access to complete documentation"
I am not able to access the complete documentation through this address that is mentioned in github

http://bitfinexcom.github.io/bitfinex-api-node/

[2017-12-20 03:24] GregTheGreek opened #161 "Minimum size Error"
Is anyone aware of why I keep returning a minum size order? Perhaps I'm calculating the number incorrectly.

If I wanted to buy AVT using ETH (ETH -> AVT) is the `amount` field the amount of `ETH` I want to use or the amount of `AVT` I wish to purchase?

[2017-12-20 03:37] GregTheGreek commented on #161
It is the AMOUNT in the CURRENCY you want to purchase.

[2017-12-20 03:37] #161 closed

[2017-12-20 10:35] levz0r commented on #141
Same issue here...

[2017-12-20 10:54] luckylwk opened #162 "Websocket 503 Errors (Negotiate Unknown)"
I implemented the websocket with API keys and it all worked perfectly for a few weeks. Since yesterday evening I start getting back the following error:

[code]

Is anybody experiencing the same thing?

---

Note, the public websockets seem to be working fine:

[code]

[2017-12-21 01:30] Miguelme opened #163 "Can I change the delay between getting the tickers update when subscribed to tickers ?"
I'm subscribed to a ticker and I would like to change the time when I get the new ticker because currently is in 10 seconds and I would like it to be around 60 seconds between the updates. Is there some info anywhere on how to do this ? Is it possible ?

[2017-12-21 08:24] JureVI commented on #113
I've managed to make it work. Check the requests they make in their web app. When they're calling the endpoint they also include
[code]
in the request body. It's not bullet proof because the request body is undocumented, but it works.

[2017-12-21 15:40] f3rno commented on #159
@engenheiro those docs are out of date, the new link is https://docs.bitfinex.com/v2/reference

The readme URL will be updated soon :)

[2017-12-21 15:40] #159 closed

[2017-12-21 15:48] f3rno commented on #163
@Miguelme you can't change the server update interval, but you can either ignore every intermediate update or keep the last value and work with that every 60 seconds.

I'm closing this as it isn't an issue with the repo, let me know if you need any more info.

[2017-12-21 15:48] #163 closed

[2017-12-21 15:49] f3rno commented on #162
Hmm, this could be due to the DDoS; how often is it happening?

[2017-12-21 18:00] f3rno commented on #113
@JureVI That shouldn't be needed, it looks like an internal flag for the frontend. I'm closing this issue as it isn't a problem in the library itself. Maybe the lag spikes over the last few weeks had something to do with it?

@vire if you're still seeing that limitation on historical orders, open up another issue w/ reproducible info and I'll take a look.

[2017-12-21 18:00] #113 closed

[2017-12-22 15:07] amlwwalker commented on #162
Im getting this too. I have seen it now for about 3 days, each time I start the connection.

[2017-12-23 16:27] skazska opened #164 "not enougth info passed to events"
this.emit('orderbook', event.symbol, res)
...
this.emit('trade', event.symbol, res)
etc.
while there another values regarding channel are keept in event,  like "prec"  - a precision, which i would like to receive in my event handler

[2017-12-23 16:29] skazska commented on #164
could it be extended like
this.emit('orderbook', event.symbol, res, event)
?

[2017-12-24 06:57] StyleShit opened #165 "bws.send callback?"
How can I use a callback function in the websocket "send()" method?
I wanna execute some code after the data has been sent and the order was created.

[2017-12-25 17:49] quocson1 opened #166 "error ETIMEDOUT"
hi,
error ETIMEDOUT , bitfinex-api-node/rest.js:81:17

[2017-12-26 00:01] engenheiro opened #167 "Problem with DASH and IOTA symbols"
Hello, I'm having problems with IOTABTC and DASHBTC pairs. The API informs that the symbol is not valid.

[2017-12-26 00:55] wadami opened #168 "Is there an option to always retrieve the orderbook snapshot?"
Hello,

It would be easier if we could always retrieve the orderbook snapshot and limit the returned values or have fixed options for that (like 5, 10, 20 and full).
Some other exchanges already provides it in their APIs.

Thanks.

[2017-12-26 12:09] StyleShit commented on #167
Try IOTBTC & DSHBTC

[2017-12-26 18:11] f3rno commented on #164
@skazska the channel parameters never change, and are returned once after subscribing. You can fetch the channel data from the `ws2.channelMap` key (by `chanId`), or via `getChannelData ({ chanId, channel, symbol, key })` in the upcoming 2.0.0-beta release.

Since it is static, it isn't included on the event. `prec` is also passed in when subscribing to an OB channel, so the client shouldn't need

[2017-12-26 18:11] #164 closed

[2017-12-26 18:15] f3rno commented on #165
@StyleShit this isn't possible at the moment, but it is implemented as a `Promise` in the 2.0.0-beta update for some events. (See https://github.com/bitfinexcom/bitfinex-api-node/pull/155)

A solution in the meantime is to listen for notifications on the auth channel (0), and check for `on-req` messages:

[code]

[2017-12-26 18:15] #165 closed

[2017-12-26 18:19] f3rno commented on #166
@quocson1  `ETIMEDOUT` is a network error; post more info/a code sample if you still need help. I'm closing this as it isn't an issue with the bfx node lib.

[2017-12-26 18:19] #166 closed

[2017-12-27 02:02] skazska commented on #164
@f3rno sure, but here 2 problems i see with that approach:
1. I can't subscribe to 2 precision of 1 pair on 1 instance:

`        bfnx = new BFX(key, secret, opts).ws
         bfnx.on('open', () => {
            bfnx.on('orderbook', (pair, book) => {
               //FIXME prec or length is not available here in handler....
               //here handler can't know which chanel fired an orderbook e

[2017-12-27 15:52] gandac commented on #138
Hey,
I reconnect on 'error' and 'close' events. I don't know if this is the correct mode to reconnect, but seems it works for me.

[code]

[2017-12-27 15:53] gandac commented on #112
Hey,
I reconnect on 'error' and 'close' events. I don't know if this is the correct mode to reconnect, but seems it works for me.

[code]

[2017-12-27 15:54] gandac commented on #144
Initialize with a variable not a const , then I reconnect on 'error' and 'close' events. I don't know if this is the correct mode to reconnect, but seems it works for me.

[code]

[2017-12-29 13:30] amlwwalker commented on #162
OK, I think the problem was that I had autostart set to TRUE, but was defining the `.on('open'...)` in another function, and the socket had already started so I suspect my function hadn't been bound to the socket and was causing some error.
By disabling the auto start, and calling `ws.open()` in the function where i defined the `open` bind, it all works now.

Hopefully this helps someone

[2017-12-31 14:29] mvp83 commented on #141
same issue with Order Multi-OP orders.

For instance, open order:
`send to Bitfinex: [0,"on",null,{"gid":1,"cid":3029456402370,"type":"EXCHANGE LIMIT","symbol":"tLTCUSD","amount":"-0.6000000000000001","price":"216.6","hidden":0, "postonly":1}]`

Answer:

`Got msg: [0,"n",[null,"on-req",null,null,[6707624719,null,3029456402370,"tLTCUSD",null,null,-0.6,-0.6,"EXCHANGE LIMIT",null,null,null,null,null,

[2018-01-01 08:07] StyleShit opened #169 "Get Bitfinex error"
When I get errors frp, BItfinex, such as "order not found" or something,
How do I get them in my code? I'm using WebSockets V2

Thnx

[2018-01-01 14:38] f3rno commented on #169
@StyleShit it depends on the error, but you can listen for 'error' events with `ws2.on('error', (err) => ...`

If it's an error that would appear as a notification on the platform, it will come in as a notification on `ws2` with the status set to `ERROR`. For example, cancelling an unknown order:

[code]

[2018-01-01 14:41] f3rno commented on #144
@gandac your snippet doesn't reconnect, it spawns a new ws connection.

Have a look at the reconnect logic from the v2 release:

[code]

[2018-01-01 14:45] StyleShit commented on #169
@f3rno, the on("error") doesn't work. I mean the notifications.
If I understand you right, I should catch on("message") and check if there is "ERROR" in the response array?

[2018-01-01 15:16] f3rno commented on #169
@StyleShit aye, you need to specifically check for `'n'` messages on the auth channel (0) with a `STATUS` field of '"ERROR"`. The different fields are documented here: https://docs.bitfinex.com/v2/reference#ws-auth-notifications

[2018-01-01 15:37] StyleShit commented on #169
@f3rno Thank you for the detailed answer!
I'll check it out.

[2018-01-02 06:19] zhaoxiongfei opened #170 "lack `payment_id` ripple cannot withdraw"
https://github.com/bitfinexcom/bitfinex-api-node/blob/222de2a04d7e752b954602c0dce7e2e01627029b/rest.js#L422

[2018-01-02 09:04] StyleShit commented on #169
@f3rno OK, I've got the errors, but it was too complicated..
( checking that it's an array, channel 0, 'n', status ERROR, etc. ).
Can you add `on('n')` listener which will return a JSON with the status and message to the WebSocket?

Anyway, thank you very much for your help! You are awesome :)

[2018-01-02 16:07] f3rno commented on #169
@StyleShit no problem! I'm happy to help, hehe.

We've added notification listeners in `v2.0.0-beta` [here](https://github.com/f3rno/bitfinex-api-node/blob/v2-refactor/lib/transports/ws2.js#L1716) which will be released very soon (today/tomorrow) :)

If you use the v2 beta and want to check for order errors, you can catch them on the returned promise:

[code]

Checking for new order notifications

[2018-01-02 16:16] StyleShit commented on #169
@f3rno
When you say "released", you mean that it will be released as a stable version in the master branch?
(sorry if I'm saying that wrong.. I'm pretty new to github :P )
Coz I prefer a stable version instead of beta. I'm working on a bot which should be as reliable as I can.

[2018-01-02 17:27] f3rno commented on #169
@StyleShit released as in on master and tagged as `v2.0.0-beta`; the `beta` suffix is because there are many new changes, some of which are a bit opinionated, and we want to get some user feedback/testing in before finally pushing `2.0.0` and freezing the API.

It is pretty stable, and has features which make bot development a bit easier, so you might want to try it :) You can find it here for now

[2018-01-02 19:10] #41 closed

[2018-01-02 19:10] #79 closed

[2018-01-02 19:10] #84 closed

[2018-01-02 19:10] #87 closed

[2018-01-02 19:10] #90 closed

[2018-01-02 19:10] #112 closed

[2018-01-02 19:10] #114 closed

[2018-01-02 19:10] #138 closed

[2018-01-02 19:10] #144 closed

[2018-01-02 19:10] #151 closed

[2018-01-02 19:10] #153 closed

[2018-01-02 19:31] f3rno commented on #170
This has been fixed in `v2.0.0-beta`, which is now released.

The v1 `withdraw` method has been added to `RESTv2` w/ a full params object. Docs [here](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/rest2.md#RESTv2+withdraw)

[2018-01-02 19:31] #170 closed

[2018-01-02 19:33] f3rno commented on #169
@StyleShit `v2.0.0-beta` has been released, so I'll close this issue. If you still need help just continue the thread here.

[2018-01-02 19:33] #169 closed

[2018-01-02 19:34] f3rno commented on #168
@wadami for performance & bandwidth reasons, no, but we've added `manageOrderBooks` in the updated `WSv2` client, which does exactly this. You can find a full example here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/ws2/order_books.js

[2018-01-02 19:34] #168 closed

[2018-01-02 19:35] #167 closed

[2018-01-02 19:36] f3rno commented on #158
This may be supported in the future, but is not currently planned.

[2018-01-02 19:36] #158 closed

[2018-01-02 19:41] f3rno commented on #116
Closing, we've bumped the nonce to `Date.now() * 1000` where applicable.

[2018-01-02 19:41] #116 closed

[2018-01-02 19:41] f3rno commented on #131
Docs have been updated for [REST2](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/rest2.md) and [WS2](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/ws2.md) and examples are available [here](https://github.com/bitfinexcom/bitfinex-api-node/tree/master/examples).

It should also be noted that the client implementations are fairly straightforward (especially REST)

[2018-01-02 19:41] #131 closed

[2018-01-02 19:41] f3rno commented on #111
Closing as duplicate of https://github.com/bitfinexcom/bitfinex-api-node/issues/116

[2018-01-02 19:41] #111 closed

[2018-01-02 19:46] f3rno commented on #162
@amlwwalker ah, that makes sense :) I'm glad you resolved it!

[2018-01-02 19:46] #162 closed

[2018-01-02 19:52] StyleShit commented on #141
I also get this error. Websockets v2.
I think the problem is in the server coz it happens only sometimes for me. Most of the orders proceed successfully.

[2018-01-02 21:00] mvp83 commented on #141
have same issue through web-interface when i try change a price in a order. So, it does not depend from API

[2018-01-03 02:43] zhaoxiongfei commented on #170
`rest.prototype.withdraw = function (withdraw_type, walletselected, amount, address, paymentId, cb) {
  const params = {
    withdraw_type,
    walletselected,
    amount,
    address
  }
  if (paymentId) params.payment_id = paymentId;
  return this.make_request('withdraw', params, cb)
}`

Can I modify it like this?

[2018-01-03 05:27] StyleShit commented on #141
Can anyone refer someone from Bitfinex staff to this post?

[2018-01-03 11:04] s5m4 opened #171 "Unable to open websocket connection with 2.0.0 version"
Hi,
the 2.0.0 update looks super cool. Thank you devs, also the thickened up docs are very helpful.
But piecing together the doc and example code snippets and trying to find out how they work, I cannot establish a ws2 connection, the ws.on(.... ) functions are never called, I get no errors out of it. Here is what I have for testing:
`const BFX = require('bitfinex-api-node')

const bfx = new BFX({

[2018-01-03 11:25] s5m4 commented on #171
ok, I found my mistake, it's quite obvious:
I was missing the ws.open() command.

Maybe it's worth leaving this post for others who run into the same trap.

[2018-01-03 12:17] f3rno commented on #141
@StyleShit that would be me 💃

This is a server issue (not in bitfinex-api-node), and has to do with the delay between closing an order and the associated balance update. Specifically, if you close and open an order simultaneously via the `ox_multi` endpoint, your wallet balance does not update between the two operations. Duplicated here: https://github.com/bitfinexcom/bitfinex-api-node/issues/128

[2018-01-03 12:18] f3rno commented on #128
I'm closing this as a duplicate of #141; although it's specific to the multi-op endpoint, the issue is general and on the server.

[2018-01-03 12:18] #128 closed

[2018-01-03 12:32] #108 closed

[2018-01-03 12:32] #171 closed

[2018-01-03 12:33] f3rno commented on #170
@zhaoxiongfei yes, that also works 🙂

[2018-01-03 13:05] s5m4 opened #174 "Please add onTicker example to docs - help needed"
hi all,
I cannot figure out how to read and process data that is emitted by a subscribed ticker channel using the ws.on() or ws.onTicker() functions.

It used to work like this for a established websocket connection:
[code]
which now results in 'undefined' where the ticker data would have been in the console output.

I found the example for the onTrades() function and figured onTicker() must work

[2018-01-03 15:38] ioiobzit opened #175 "IOTEUR symbol for the ticker"
Hello,

whether I'm unable to find the IOTEUR symbol for the ticker, or it is missing.

Could you please add it to the API, also the BTCEUR symbol would be nice.

All the best,
Antonio

[2018-01-03 16:11] f3rno commented on #175
It is not missing, but needs to be prefixed with 't', like `tIOTEUR`. Check the referenced PR for an example :)

[2018-01-03 16:14] f3rno commented on #174
@s5m4 Good catch! This turned out to be a bug in ticker payload parsing, I've opened a PR with a fix.

You also have a bug in your logic, as the `onTicker` symbol needs to be prefixed with a 't' as well, like `tBTCUSD`. Working example w/ PR fix:

[code]

[2018-01-03 16:32] StyleShit opened #177 "Rename onTradeEntry to onTradeExecute"
Hi,

I couldn't find any function for tradeExecute in the docs. Is there one?

[2018-01-03 17:03] s5m4 commented on #174
@f3rno thanks for the quick response, that's good news!
Now what I'm still wondering is how I can check what symbol/pair the ticker is of from WITHIN the function, like stated above, what used to work like this:
[code]
The ticker object in your example doesn't contain the pair, adding "pair" in the argument list is not working accordingly. However there is this new '{ symbol: 'tXMRBTC' }' block, a

[2018-01-03 17:16] f3rno commented on #177
@StyleShit `onTradeEntry` and `onTradeUpdate`, `te` fires before `tu` and should be used for realtime data

Maybe `onTradeEntry` should be renamed to `onTradeExecute`, hmm.

[2018-01-03 17:26] StyleShit commented on #177
@f3rno, tradeEntry means that the trade was executed? If so, I also think you should rename it.

[2018-01-03 17:29] zhaoxiongfei commented on #170
@f3rno Thank you.

[2018-01-04 10:51] s5m4 opened #178 "How to set Order type when type contains space character eg. 'LIMIT ORDER'?"
Hi all,
I'm asking aware of the risk of exposing (again) what a JS noob I am. I did some google searching but without any luch so far. I'm trying to recreate the _WS2 Example: Sending an order & tracking status_ example from the README.md but I want to change the order type to EXCHANGE LIMIT which should be available according to the types defined in lib/models/order.js. In the given example the o

[2018-01-04 11:05] s5m4 commented on #178
great, this is somewhat embarassing...: Order.type.EXCHANGE_LIMIT

[2018-01-04 11:20] scaevola opened #179 "Add basic customer support"
It's impossible to reach your support service. So why bother to use your API?

[2018-01-05 09:13] wonder-wu commented on #174
thanks

[2018-01-05 09:47] s5m4 commented on #174
btw. if anyone encounters the same problem and is as unable as me to change the source code on a deeper level themselves, here is what I did now:
I'm using both, the new 2.0.0 AND the previous versions in one application by having two modules, one which uses 2.0.0 for the new order handling with Order.js and the older version for working with the Tickers.
Kind regards!

[2018-01-05 16:40] wadami commented on #168
I'm using pure javascript, is it a correct implementation?
`ws = new WebSocket('wss://api.bitfinex.com/ws/2');
ws.onopen = function() {
	ws.send(JSON.stringify({"event":"subscribe", "channel":"book", "manageOrderBooks":"true", "transform":"true", "symbol":"tBTCUSD", "prec":"R0", "len":"25"}));
};
ws.onmessage = function(msg) {
	var response = JSON.parse(msg.data);
	console.log(response);
}`

I'm g

[2018-01-06 00:31] f3rno commented on #168
@wadami have a look at the examples: https://github.com/bitfinexcom/bitfinex-api-node/tree/master/examples/ws2

[2018-01-06 00:37] f3rno commented on #178
@s5m4 apologies for that, hehe :) This is how the types map is set:

[code]

It's like this to make typing easier and to avoid wrapping the space.

[2018-01-06 00:37] #178 closed

[2018-01-06 00:39] f3rno commented on #174
@s5m4 this is on my radar and should be patched tomorrow.

[2018-01-06 00:43] f3rno commented on #175
Closing as duplicate of #176

[2018-01-06 00:43] #175 closed

[2018-01-06 00:46] f3rno opened #180 "Pass Channel Data to Listeners"
Related to https://github.com/bitfinexcom/bitfinex-api-node/issues/174

[2018-01-06 16:46] ir-fuel opened #182 "Incomplete examples"
Hi

I just stumbled upon this SDK and it's quite hard to understand how to use it, as the link between the docs/examples here and the docs on bitfinex is not really clear.
For example:

There is 1 code example that shows how to request a calc:

[code]

But nowhere is shown where the result of this request arrives.

I dug a bit in the documentation and I found this:
[code]

Which I presume might be

[2018-01-07 08:01] nedievas opened #183 "onOrderSnapshot() crash while transform=true"
My code:
[code]
when `transform` = **true** I get this error **onOrderSnapshot()**:
[code]
if `transform` = **false**, then it's OK.

[2018-01-08 02:12] Anthbs opened #185 "Example: Update existing order via websocket"
Can we get an example of updating an existing order via the websocket api?

I have tried to generate a request using the following format but it doesn't seem to work:
[code]

[2018-01-08 17:55] f3rno commented on #185
@Anthbs good idea! I will add another example soon, in the meantime you can check https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/models/order.js#L95

Orders need to be re-created and cannot be updated in place.

[2018-01-08 18:07] f3rno commented on #183
@nedievas this has to do with the fact that transformed orders receive a reference to the `ws2` client. So when you stringify them, `JSON.stringify` errors out on that field.

I'm closing this as it is not a bug in the library, and not a normal use case. If you need to stringify an object order, delete the `_ws` key with `orders.forEach(o => delete o._ws)`, but keep in mind that it will no longer

[2018-01-08 18:07] #183 closed

[2018-01-08 19:46] Anthbs commented on #185
Thanks that's how I currently work around it to just thought there might have been a better way.

[2018-01-09 15:17] lucasleets opened #186 "How can i use OCO Order with ws2?"
I tried 'ocoorder': true,
buy_price_oco and sell_price_oco

Where can I get an example of a OCO order?

[2018-01-13 19:03] 4sh3 opened #188 "What means this value?"
I think the params are: [Price, Number of orders at this price, volume]

![image](https://user-images.githubusercontent.com/30200595/34909213-c6f1861a-f89c-11e7-8624-f3085f9f49a5.png)

[2018-01-13 19:10] 4sh3 opened #189 "Error at spread function on the substraction of the values"
[code]

[2018-01-14 14:15] geekguy commented on #174
@f3rno - any eta for the fix to go live?

If not, any work around for this?

[2018-01-14 21:19] s5m4 commented on #174
@geekguy not sure what exactly you're referring to but check my previous comment. maybe it can help you. what's your issue precisely? Maybe I can share a thought.

[2018-01-15 04:11] geekguy commented on #174
@s5m4

We need to merge https://github.com/bitfinexcom/bitfinex-api-node/pull/176 in master.

Without that fix, socket ticker is not working.

I wanted to know when are we planning to merge that branch.

[2018-01-16 17:46] s5m4 opened #190 "How to distinguish between subscriptions in .onCandle()?"
Hi,
when I subscribe to several candle pairs, how can I distinguish the data that comes in through ws.onCandle()? In ws.onOpen() I subscribe to 5 minute candles for all BTC markets (altCoinArray just holds all the Symbols like ETH, XMR, LTC etc.):
[code]
now in my .onCandles() function I would like to deal with each candle according to it's key, symbol or channel (I don't really mind) so that ETHB

[2018-01-17 02:46] f3rno commented on #188
@4sh3 `const [price, count, amount] = entry`

https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/models/order_book.js#L49

[2018-01-17 02:46] #188 closed

[2018-01-17 02:47] f3rno commented on #189
@4sh3 `toFixed()` actually returns a string, it does not increase precision. What is the error you are seeing in precision in `console.log(ob.spread())`?

[2018-01-17 08:29] Onefivefournine commented on #18
Same here, but in client.tickers
Found out possible solutions here
https://github.com/bitpay/node-bitpay-client/issues/84
or here
https://stackoverflow.com/a/43857814/7430672

[2018-01-17 12:07] MRazva opened #193 "seqAudit=true issue"
hello guys, could you please help understand where the following issue comes from, I have set seqAudit=true as in the example:

Error: invalid auth seq #; last 71, got 192
    at WSv2._onWSMessage (/home/ubuntu/buroka/node_modules/bitfinex-api-node/lib/transports/ws2.js:351:30)
    at emitOne (events.js:116:13)
    at WebSocket.emit (events.js:211:7)
    at Receiver._receiver.onmessage (/home/ubun

[2018-01-21 22:12] dendiz commented on #190
I don't think you can check for the key inside the function.

if the logic is the same for each pair, why not just:

`
altCoinsArray.forEach( (KEY) => ws.onCandle({key: "trade:5m:t" + KEY}), (candles) => .... )
`

[2018-01-22 10:14] s5m4 commented on #190
@dendiz thanks a lot for that hint. I'm just not used to javascript. looks very handy!

[2018-01-22 13:16] nemozny commented on #193
Hi, same for me. I just thought the packets were lost.
This option is totally unusable for me, due to very high number of above errors.

[2018-01-22 21:53] william20111 opened #197 "Rest v2 Trades and Orders history returns empty list"
Hi,

[code]
#113

I am experiencing the same as referenced in this bug. The fix mentioned in that bug seems to resolve it also. Rather than a empty payload using the "_bfx" seems to work.

`{"_bfx":1}`

Cheers
Will

[2018-01-24 22:51] puppeteer701 opened #199 "Undefined data for when listening onTrades"
Only ```id``` is valid, all other data is undefined.

Example:
[code]

[code]

[2018-01-25 01:02] skylinezum opened #200 "Models for funding offer do not match fields (missing placeholders)"
Models to serialize/deserialize incoming ws2 arrays do not match the fields.

Example:
[code]

Model here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/models/funding_offer.js#L7-L24

It is missing placeholder indexes so fields do not match.

[2018-01-25 04:45] puppeteer701 opened #201 "Returned volume could be wrong"
Daily volume returned by library:
[code]

Daily volume on bitfinex statistics:
[code]

Am I reading something wrong here or has https://www.bitfinex.com/stats a higher refresh rate then ws of the library?

[2018-01-25 05:05] runvnc commented on #99
The problem that I am having is that I am unable to find any reliable way to access timely updated balance data, using either the websocket or the REST API.  It seems as if this is in some non-consistent database that is updated as an afterthought, and often gives the correct result after a trade, but sometimes just hasn't been updated yet.  There is an option to ask for a recalculated balance.  I

[2018-01-25 08:52] nemozny commented on #138
@gandac I tried this, but it doesn't work for me.
It says

1. Bitfinex server restarted
2. I close and reopen connection
3. Subscribed candles
4. All subscribes fail and never revives until I manually kill and start the process.

[2018-01-25 09:09] sacho commented on #199
It looks like this is because the message handler is parsing the messages incorrectly:

[code]

The message length for trades using the WS2 api seems to be actually 4, not 3, and the code is taking the wrong value as a payload. I couldn't find a description of this new message format in the docs yet.

[2018-01-25 21:34] soliveira-vouga opened #202 "Explanation on the submit order example"
Hi, I'm having trouble understanding what sort of data I'm expecting from the submit order example below:

[code]

What's the flow here. If I do an EXCHANGE MARKET order will there be an 'update' message sent? What sort of data is provided in the update message of an order? Why does the example have a setTimeout for 2 seconds and cancel the order if it is not closed? Is that just an example of dea

[2018-01-27 06:45] wickowicz commented on #141
In this case I'm checking the wallet and recreating order with amount, which is in the wallet (or simple recreating order).

[2018-01-31 11:41] motocarota commented on #202
Correct, that would be the platform informing you your order has been accepted.

Same as shown here https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/ws2.md#WSv2+onOrderUpdate

That's just an example of an order with a lifespan of two seconds, it means that if the order does not get executed in two seconds it will be cancelled.

It doesn't make much sense probably, but I suppose it'

[2018-01-31 12:44] #174 closed

[2018-02-02 00:53] droconnel22 opened #205 "Error for Websocket: Object.values is not a function in transports/ws2.js"
// within an es6 class....
 this._bitfinexWS = new BFX().ws(2);  `

this._bitfinexWS.on('open', () => {

            this._bitfinexWS.subscribeTrades(currencyPair);
            this._bitfinexWS.onTradeUpdate({ pair: currencyPair }, (trades) => {
                console.log(trades);
                if(trades) {
                    callback(trades);
                }
            });
        });

[2018-02-02 18:10] soliveira-vouga commented on #202
Thanks, that helps

[2018-02-02 18:10] #202 closed

[2018-02-02 22:26] soliveira-vouga opened #206 "Websocket still silently stops receiving data"
This is in reference to #138

I've subscribed to order books but I've noticed that after a few hours the socket stops receiving data. I have `autoReconnect` set to `true`

[2018-02-03 02:02] droconnel22 commented on #205
Please let me know if you might need more information.

Thanks

[2018-02-03 23:48] hems opened #207 "order.registerListener calls callback for all orders and not only the order you called registerListener"
In order to create 2 orders ( 1 - Limit , 2 - Stop Limit ) i'm creating a variable:

[code]

Once the variable is created i create two orders:

![image](https://user-images.githubusercontent.com/27327/35772806-6aecfee8-093c-11e8-8e18-93659b614c9d.png)

The unexpected behaviour here is, even tough i only call ".registerListeners" only on the "buy_order" i'm getting update for the "stop order", as y

[2018-02-04 02:35] hems commented on #193
I get this error when i cancel an order on Bitfinex website

[2018-02-04 02:35] hems opened #208 "Error: invalid auth seq # when cancelling order on finex"
I just noticed when i cancel an order opened via the API using the Bitfinex UI i get:

````Error: invalid auth seq #; last 15, got 104706````

How to avoid this error?

[2018-02-04 14:27] sorinboia opened #209 "sendCalc not stringified before sending"
This is an easy one
 _sendCalc (msg) {
    debug('req calc: %j', msg)

    this._ws.send(msg)
  }

The msg variable should be JSON.stringify before it is sent to the WS.

_sendCalc (msg) {
    debug('req calc: %j', msg)

    this._ws.send(JSON.stringify(msg));
  }

[2018-02-04 16:29] s5m4 opened #210 "How do I make this REST request correctly?"
Hi,
I'm trying to make a simple REST request to read candle data from bitfinex but it always outputs an empty array. I'm new with REST in general so this is a total beginner question. I copied the code from the bitfinex API manual pages.
[code]
I'm don't have enough experience to read from the "response" what the trouble could be.
Surely a no-brainer for someone with some experience. Thank you.

[2018-02-04 22:11] s5m4 commented on #210
ok, after some more googeling i found the answer in a reddit post, leaving it here for other noobs like myself:
https://www.reddit.com/r/BitcoinMarkets/comments/660tcf/bitcoinchartscom_bitfinex_csv_data_out_of_date/

(...)
Similarly you can retrieve OCHLV data:

For instance the first 1,000 candles for 1m period for BTC/USD can be retrieved through: https://api.bitfinex.com/v2/candles/trade:1m:tBT

[2018-02-04 22:11] #210 closed

[2018-02-05 16:19] sorinboia opened #211 "Order status does not get updated"
When transform is enabled

The listener return a new object with the Order class
[code]

In that case
[code]

`Order.unserialize(order)` will try to unserialize an object instead of the notification array.

Many ways to solve this.
I'll leave it to you.

[2018-02-06 04:26] skylinezum opened #212 ".onWalletSnapshot or .onWalletUpdate BALANCE_AVAILABLE always null"
I think this is a bitfinex backend problem, but in my funding wallet balance_available always returns null for me. Even when a funding offer is provided to someone else.

[2018-02-06 04:41] skylinezum opened #213 ".onFundingOfferNew callback gets called twice for every funding offer created"
When a funding offer is created. the .onFundingOfferNew callback gets called twice.

[2018-02-06 06:22] hems opened #214 "REST API v2 Positions last four fields are "null" !"
According to finex documentation: https://docs.bitfinex.com/v2/reference#rest-auth-positions he last four items on the Array would be PL / PL_PERC / PRICE_LIQ and LEVERAGE but i get NULL instead.

As in: ["tBTCUSD","ACTIVE",-0.01,7757.90153256,-0.00020637,0,null,null,null,null]

This seems to be an error on the server side, is anybody having the same issue?

Does REST V1 /positions end point work

[2018-02-06 22:40] ThePlenkov opened #215 "Query options are not supported for REST api"
Dear devs,

For REST API's like https://docs.bitfinex.com/v2/reference#rest-public-candles

there are query options defined

However this API doesn't support them.

For example to simulate candles I need to read them from the past and in this case I have to call internal `_makePublicRequest` with URL created manually.

May be it makes sense to add just oParams for each method and to process them w

[2018-02-06 23:25] ThePlenkov commented on #81
@robertkowalski Don't you know by some chance what is exactly the server logic?

First I faced errors when I called several requests instantly..  Now I made 2sec delay but still have an issue with the last request:
node --inspect-brk=42861 simulator.js
Debugger listening on ws://127.0.0.1:42861/d746e658-d7eb-4a69-a040-e133f9ce51b7
tBTCUSD simulation started
API call: /candles/trade:3h:tBTCUSD/hist

[2018-02-06 23:40] ThePlenkov commented on #81
I noticed that I made a type. limit is a correct URL.

[2018-02-08 11:35] dubrovsky-kiril opened #216 "Api that gets list of crypto pairs available for trades"
Hello. I want to say thanks for the library. It ease my life 👍

I just started to look in the api and I didnt find one that can get me list of supportable crypto pairs on Bitfinex. Is there one? Or otherwise could you please implement it? Would be reaaallyy helpful! :)

[2018-02-09 10:16] ttbarnes opened #217 "apikey: invalid error"
Hiya, i'm trying to get some trades/history data with v2 api. With either`bitfinex-api-node` module or `request-promise`, i'm getting this error response: `["error",10100,"apikey: invalid"]`

I've looked through documentation and other issues like #80, I always seem to get this error regardless. Am I missing something, or maybe something missing in the docs?

Example:

[code]

I've tried adding fr

[2018-02-09 14:07] gairom commented on #206
I have the same problem, can't reconnect.
I've tried to use the autoReconnect and also manually to close and open but every time I get error 'not opened'
Fatal uncaught exception crashed  Error: not opened
    at WebSocket.send (C:\BitJS\node_modules\bitfinex-api-node\node_modules\ws\lib\WebSocket.js:360:18)
    at WSv2.send (C:\BitJS\node_modules\bitfinex-api-node\lib\transports\ws2.js:964:14)

[2018-02-10 11:29] jgordor commented on #214
Hi @hems same to me, do you find any solution?

[2018-02-10 18:17] dubrovsky-kiril opened #218 "New order with version v1.2.1"
Hello.

Could somebody explain me please how to paste new order in order book with library version v1.2.1. I have read docs, but it is not clear for me. As I understood I should use BTXws.on("on", callback) structure. But what req params should have callback and in which order. What should I wait as a response?

[2018-02-11 14:06] dubrovsky-kiril opened #219 "Request params for submit order via WS2"
Hello. Could someone explain me please how to make new orders. I am using library version v1.2.1. I didn't find any description except code example below:

[code]

Questions:
1. What are first three params in payload variable? What do they mean?
2. What are 'gid' and 'hidden' props in 4th param?

[2018-02-11 15:13] serzhiio commented on #141
@f3rno i'm also very often have a 5-10secs delay between close-create. And this thing makes me mad. Guys, i'm a market maker with $7.5M+ volumes. And thats not seriuos for such a big exchange to have balance update problems. Please do something.

[2018-02-11 15:36] serzhiio commented on #185
Update(replace) orders feature is a must. Developers please implement it ASAP.
And why not to use immediate balance update after order executed?

[2018-02-11 19:54] hems commented on #214
@jgordor sent an email to finex support about a week and still waiting, so far the closest to a solution i got was [playing this video in loop](https://www.youtube.com/watch?v=_O1hM-k3aUY)

Will report back once I hear from them, i'm sure this will be a easy fix.

[2018-02-11 22:12] dubrovsky-kiril opened #220 "False "not enough balance" error"
Hi. I am trying to execute new order, but as a response I get error with message below:
'Invalid order: not enough tradable balance for 1.0 IOTETH at 0.002107'

But it is not true. I have enough of balance. Why this is happening? Below is trade execution code:
  bitfinexWS.send([0, 'on', null, {
    "gid": 1,
    "cid": Date.now(),
    "type": "LIMIT",
    "symbol": "tIOTETH",
    "amount": "1",

[2018-02-12 10:00] #220 closed

[2018-02-13 00:39] hhuhhu commented on #80
i've got the same error

[2018-02-13 11:46] koss89 opened #221 "You must add a base URL"
https://github.com/bitfinexcom/bitfinex-api-node/blob/c2a6f31572dfb62b1273b2b8b81b7fbb77626851/lib/transports/rest2.js#L76

[2018-02-13 11:47] #221 closed

[2018-02-13 12:12] koss89 commented on #221
sory

[2018-02-18 14:13] f3rno commented on #217
@ttbarnes if you still need help with this, `queryKey` and `querySecret` need to be renamed to `KEY` and `SECRET` respectively.

[2018-02-18 14:13] #217 closed

[2018-02-18 14:16] f3rno commented on #219
@dubrovsky-kiril have a look at the example: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/ws2/orders.js

You don't need to build the payload yourself, you can instantiate a new order and submit it. `gid` is a group ID which binds orders together ('Cancel Group' in the UI), and hidden is the hidden flag :)

I'm closing this now, but let me know if you have other questions.

[2018-02-18 14:16] #219 closed

[2018-02-18 14:17] f3rno commented on #216
@dubrovsky-kiril check out https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/rest2/symbols.js

[2018-02-18 14:17] #216 closed

[2018-02-18 16:33] f3rno commented on #197
Hmm, I can't replicate now. In the future, try the `trades()` method from `RESTv2`:

[code]

[2018-02-18 16:33] #197 closed

[2018-02-19 07:10] michaeljmonte commented on #205
I just ran into this, what version of Node.js are you running?

[2018-02-19 07:56] jwchen119 opened #223 "REST API v2 candles always return [] !"
Here's part of my code below. However, it always return empty array.

[code]

I also tried :
`bfxRest.candles((err, res) => {`

Nothing helped, it still return [].
I'm pretty sure there's some bugs, somehow I'm not able to point it out.

[2018-02-19 15:34] f3rno commented on #179
Closing as being nonconstructive and addressed to the wrong team...

[2018-02-19 15:34] #179 closed

[2018-02-19 15:37] f3rno commented on #205
@droconnel22 are you still seeing this?
@michaeljmonte can you provide more details? Is the error coming from the bfx lib?

[2018-02-19 15:39] f3rno commented on #223
@jwchen119 are you using the latest version of the library (v2 beta)? If so, the constructor signature changed, it should be:
const bfxRest = new BFX({
  apiKey: '...'
  apiSecret: '...'
}).rest(2)
[code]

[2018-02-19 15:43] f3rno commented on #214
@jgordor @hems this is a backend issue and a fix is in the works, I'll update you guys when it's out.

[2018-02-19 15:47] f3rno commented on #185
@serzhiio for performance reasons balance calculations are deferred and processed outside of the trading engine. This is also why orders are immutable, and must be re-created. It's a design decision, and something the API works with by offering a `recreate()` method :)

[2018-02-19 15:56] f3rno commented on #190
I'm late, but it looks like @dendiz pointed you in the right direction.

The `{ key: ...` part of the `onCandle` call is the filter, and it's applied to the incoming ws packet. The `key` in this case is actually pulled from the channel data, so you should use the same value you used when subscribing to the candles.

I'm not sure what you mean by duplicate output, that sounds like a bug if it's som

[2018-02-19 15:57] #189 closed

[2018-02-19 15:58] nikulinsanya commented on #208
Seems, the problem is in the wrong order of posting orders. You post several orders and some of them come to bitfinex earlier than prev orders.

[2018-02-19 16:12] serzhiio commented on #185
@f3rno so, i cant do anything with a design desicion, but order replacement system looks very slow.
Even if i decide to hold x3 funds on each side i'm still facing with huge delays because of big order canceling timings. And that thing cause possibility to execute two or more orders which even should not already exist. So if i get along with one problem there is other to be next.
How to deal with

[2018-02-19 16:19] hems commented on #214
nice one @f3rno , thank you

[2018-02-19 16:21] hems commented on #208
@nikulinsanya thanks, i'll have a closer look at this when i get back to my app.

[2018-02-19 16:27] f3rno opened #224 "RESTv2 Symbols/Symbol Details Endpoint"
As per https://github.com/bitfinexcom/bitfinex-api-node/pull/196

The `RESTv2` wrapper needs to provide a way to fetch the full active symbol set, and then pass those symbols directly to the other API methods. This requires a new endpoint on the v2 REST API.

[2018-02-19 16:35] michaeljmonte commented on #205
I have since resolved it by upgrading my node.js. I was running 6.8 for some reason now I am running 9.5.

Yes the issue was coming from ws2.js in _propagateMessageToListeners.

`const listenerGroups = Object.values(this._listeners)`

It seems older versions of Node.js (<7.0.0) do not support Object.values.

[2018-02-19 20:41] masterkain opened #229 "Restv2 private trades always return empty array"
might be a server-side issue, got the same results in ruby (custom lib, not `bitfinex-api-rb` (https://github.com/bitfinexcom/bitfinex-api-rb/issues/65)

anyone else with the same issue?

[2018-02-20 02:47] jwchen119 commented on #223
Sorry @f3rno
By migrating v1 to v2, there's some new problem here. I think it might be the problem of my environment?
My full code is below, I'm using Heroku to build my app for testing:

[code]
Build succeeded but shows this error:
const rest = bfx.rest(2)
                         ^
 TypeError: bfx.rest is not a function
[code]

[2018-02-20 07:59] jwchen119 commented on #223
Alright, I did make a mistake.
I was using old version of "bitfinex-api-node" declare in package.json which lead to the problem.
After using the version of  "2.0.0-beta" all the problem solved.

[2018-02-20 07:59] #223 closed

[2018-02-20 08:00] f3rno commented on #80
@hhuhhu are you still seeing it? If so, can you provide more info?

[2018-02-20 08:02] f3rno commented on #223
@jwchen119 Good, I'm glad you figured it out :) Let me know if you have any other questions

[2018-02-20 08:07] f3rno commented on #229
@masterkain can you provide more details? I can't replicate, `bitfinex-api-node` trades work fine on my end.

[2018-02-20 08:13] f3rno commented on #207
@hems I'll look into this today, but from your screenie `PRICE_AUX_LIMIT` should be `priceAuxLimit`

[2018-02-20 08:14] ttbarnes commented on #217
@f3rno updated - sorry that was a copy/paste error.

I'm still getting this issue. Any ideas/help appreciated!

[2018-02-20 08:26] f3rno commented on #217
@ttbarnes hmm, well, your RESTv2 key/sig headers are invalid, this is from the `RESTv2` class:

[code]
Can you try to use `RESTv2` from the latest `master` branch for this instead? This method should work:
[code]

Setup via:

[code]

[2018-02-20 08:31] f3rno commented on #205
@michaeljmonte hmm, good point. I've bumped the min node version to 7 here: https://github.com/bitfinexcom/bitfinex-api-node/pull/226/commits/7b6027b90bd28a61feca1452f2e80346cb2c8423

This is a case where it would have made sense to refactor the `Object.values` call out, but <6 is really quite old at this point, when 8.9.4 is available as LTS, and 9.5.0 is out.

I'm closing this for now, thanks fo

[2018-02-20 08:31] #205 closed

[2018-02-20 08:32] serzhiio commented on #185
@f3rno very often it takes too long to cancel order and update wallet and сonsequently you miss the uptrend and get losses. Everything is simple. Cancel old+update wallet+create new. If at any of this points you get delay more than 500ms (BFX has more than 1s in fact) you loose. What can i say?

P.S.: Even if i make reservation of balance on each side i still getting delays. Please report it to th

[2018-02-20 08:33] f3rno commented on #208
@hems this is interesting; I'll try to reproduce this week, you may be onto something. It sounds like the sequence # differs if the packet is generated by an action in the UI. Needs verification.

[2018-02-20 08:40] f3rno commented on #185
Closed by accident, re-opened.

@serzhiio I understand your problem, and will see what I can do about it. The delays you speak of can be avoided if you have sufficient balance to defer the balance calculation :) Of course, that is not optimal for our smaller clients, hence: I will speak with the backend team, and update this ticket with info.

[2018-02-20 08:47] serzhiio commented on #185
I cant say i'm a small client. If i'm making $1M+ volume a day is it small?

20 февр. 2018 г. 11:40 пользователь "Cris Mihalache" <
notifications@github.com> написал:

Closed by accident, re-opened.

@serzhiio <https://github.com/serzhiio> I understand your problem, and will
see what I can do about it. The delays you speak of can be avoided if you
have sufficient balance to defer the balance calcu

[2018-02-20 15:21] oscariuz opened #230 "Missing Native OB Checksum Support"
Dear API Developers,

I really like the new WebSockets Checksum function you introduced, however it is not entirely clear to me how to construct the checksum string in the case of raw books.

Let's say we subscribe to raw books via
[code]

We then receive an initial snapshot
[code]

We then receive only two updates from the book.
The first one will cancel an ask
[code]
The second one will introduc

[2018-02-20 17:43] f3rno commented on #230
@oscariuz that is a very good point, the node library doesn't natively support/use OB checksums. I will add this in for the next release, and get back to you this week. It's difficult to debug a checksum issue without seeing the running system :)

[2018-02-20 17:51] f3rno commented on #201
@puppeteer701 ETH/USD in your example is actually less on the UI's side. They are two separate pathways to the same data, with two different caching behaviors.

The websocket feed should be preferred, and not cross-referenced with other sources (specifically REST,) as the access patterns & therefore caching differ.

[2018-02-20 17:51] #201 closed

[2018-02-20 20:59] masterkain commented on #229
hello, at the moment in js I have (includes different stuff I tried) this test script, either my account is broken or I don't know, v1 works fine but I cannot tell a margin trade from an exchange one in that case.

[code]

empty array as result, I have some ruby code that no matter what parameters I try, it's always [].
I can provide my credentials in pvt if you'd like to test it out.

[2018-02-20 22:52] masterkain commented on #229
I got it working again in my ruby version, I don't understand yet what I'm doing wrong, but we can close this I guess, sorry for the noise.

[2018-02-20 22:52] #229 closed

[2018-02-20 23:32] masterkain commented on #197
hello, I just closed another ticket that might be related to this.

During tests `v2/auth/r/trades/hist` returns only recent trades, but when I try to ask for a range I get nothing in return.
Initially I was thinking that `end` and `start` were an issue, but I got recent trades in return when specifying them.

https://gist.githubusercontent.com/masterkain/105396aef86d80d60431f33b06f45708/raw/f5479

[2018-02-20 23:52] masterkain commented on #224
I'd love also the get the currency symbol we can find the CSV exports, sometimes it's different and can't be derived. `tQSHBTC` => `QASH` (in CSV) => `QSH:BTC` (permalink)

the best would be also to specify the CMC permalinks such as `qash`, `streamr-datacoin` to better identify the currencies and permit enumeration, but that's perhaps asking too much.

[2018-02-21 01:08] hhuhhu commented on #80
@f3rno it's ok now, thank you

[2018-02-21 09:12] ttbarnes commented on #217
@f3rno thank you, all working with this approach 😄 However I'm a bit confused with the trades endpoint, i'm always getting a `null []` response, with seemingly any trade pair, EG

`const opts = { symbol: 'tIOTBTC' }`
`const opts = { symbol: 'tIOTUSD' }`

There are definitely trades in my account for these pairs.

Calling like this with `RESTv2` from latest version:

`rest.trades(opts.symbol, (err,

[2018-02-21 10:50] f3rno commented on #217
@ttbarnes the `start`, `end`, and `limit` args are not optional on the `rest.trades()` call. This is because the cb is optional, so you can do `rest.trades(opts.symbol).then((trades) => { ... }).catch((err) => ...`

Can you try that to see if it gives a different result?

[2018-02-22 11:28] hems commented on #207
thanks @f3rno I'll investigate and test this further and let you know about my findings

[2018-02-22 12:49] ttbarnes commented on #217
@f3rno i'm getting a successful response with this approach, but with an empty array.

[2018-02-22 14:24] s5m4 opened #233 "Not receiving Data after WS2 reconnection"
Hi,
I realized the websocket connection just breaks off after some hours and doesn't reconnect although autoReconnect is set to true. Now I am trying to get a manual reconnection by first connecting the websocket and subscribing to some candle data. Then the websocket.close() function gets called to simulate a connection error at runtime. In the on close function I set another timeout and try to c

[2018-02-22 14:26] s5m4 commented on #233
#138 This might be related.

[2018-02-23 08:11] f3rno commented on #233
@s5m4 don't reconnect by making a new `BFX` object; there is a `reconnect()` function on `WSv2` :) So you can do:

[code]
If it still doesn't work properly after using that method, let me know and I will take a closer look. If you make two BFX instances like that, you'll create 2 ws2 connections (one might be hanging)

[2018-02-23 08:13] f3rno commented on #207
@hems I'm busy with other things at the moment, but I haven't forgotten about this. There will be a new release of this lib next week, and in the meantime all sorts of things are arriving in `master`. If this is a bug (I think so, but need to reproduce) then it will be fixed in the next release (2.0.0-beta.1)

[2018-02-23 09:53] hems commented on #207
@f3rno thank you for your feedback, i won't be back at this before second week of March so i'll already try it out on the new version and if i find the bug i'll try to make a better report

[2018-02-23 15:18] s5m4 commented on #233
@f3rno thanks for your reply! I wonder why it didn't strike me to look into the websocket specs to get the .reconnect() function. The webserver is reconnecting now it seems ( on.open() gets called) but there are no events triggering the .on(candle) function. I even modified the code to avoid calling the .subscribeCandles() twice because I thought that maybe subscribing a second time acts as a unsu

[2018-02-24 11:44] dubrovsky-kiril opened #234 "Difference between 'ou' and 'tu' events"
Hello. I got small question regarding difference between 'ou' and 'tu' events. Could someone make it clear for me? Don't they both stand for order update?

[2018-02-24 15:03] f3rno commented on #234
@dubrovsky-kiril `order update` & `trade update` respectively.

[2018-02-24 15:09] dubrovsky-kiril commented on #234
what means trade update? Isn't 'order update === trade update'?

[2018-02-24 15:52] f3rno commented on #234
@dubrovsky-kiril no since they are two separate events; check the docs: https://docs.bitfinex.com/v2/reference#ws-auth-trades and https://docs.bitfinex.com/v2/reference#ws-auth-orders

A trade is essentially an executed order (afaik)

[2018-02-24 15:59] dubrovsky-kiril commented on #234
Hm... Thanks. I will!

[2018-02-24 18:32] NeXTs opened #235 "Oscillator?"
Hello

How could I get/calculate AO indicator?
Is it possible to do by API, or should I fetch history of trades and apply tried-party AO formula to it?

[2018-02-24 19:10] dubrovsky-kiril commented on #234
Small additional question. If my order got executed partially. How can I track this? What event should I use?

[2018-02-25 11:59] #234 closed

[2018-02-25 12:24] dubrovsky-kiril opened #236 "Keep balance update with WS"
Hi guys. What is the proper way of keeping your balance update? I found one event called 'bu', but I didn't get when it gets triggered and how to use it. I have checked 'messages' event during creating of new orders and didn't find 'bu' message there. What are your thoughts? :)

[2018-02-25 19:32] nixxle opened #237 "Websocket model Tick.js missing?"
The unserializing of Websocket Ticks doesn't work for me.

`bitfinex-api-node\lib\transports\ws2.js:541`
`      data = Tick.unserialize(msg[1])`
`TypeError: Cannot read property 'unserialize' of undefined`

[2018-02-25 21:47] #235 closed

[2018-02-25 23:10] s5m4 opened #238 "State-of-the-art New Order-Placement"
Hi all,

**how do you place your new orders?**

I am really wondering because there are some options for it but none seems to be working, which confuses me a bit:
a) websocket connection currently seems unstable. (see issues #233 and #138)
the example given in the readme doc ("create and track order") uses websocket which is not a good solution when websocket connections silently crash without a p

[2018-02-26 09:56] s5m4 commented on #236
Hi, I share your confusion. For a non-expert coder like me the docs are not very helpful in this regard.
I worked out a solution for myself where I am mixing websocket and REST connections to get things working. Although I would prefer websocket for handling all API communication, the implementation seems unstable and incomplete (I might be wrong but as I said I'm not an experienced coder and can'

[2018-02-26 11:57] machard opened #239 "ws api order lifecycle questions"
Hello,

Here is a log of the websocket stream i use to pass and monitor orders:

[code]

So as you can see I pass one limit buy order below the current price (the cid 2) and one that will take liquidity (the cid 1). The behaviors I need clarification with are related to the fact that i receive "oc" without prior "on" and also the "te" comes after the "oc" for the order with cid1..

- It means in m

[2018-02-26 14:01] spig0t commented on #197
I'm trying to use all three potential methods I can see to get some order history - rest1's past_trades, rest2's trades + orderHistory .... and none of them return any results (just empty arrays), even though I just made a trade some minutes ago (which shows in my "Order History" on the bitfinex website) to be sure I have at least one recent-enough trade (I have plenty of older ones but I understa

[2018-02-26 14:17] spig0t commented on #197
Also note - I now tried using CCXT instead, and with this, I do receive this latest order when I call fetchClosedOrders (and I also aren't required to provide the symbols when calling this, which is rather nice).

[2018-02-26 15:24] dubrovsky-kiril commented on #212
I think you need to send 'calc' message in order to receive updates. See "Important" section in 'Wallets'. https://docs.bitfinex.com/v2/reference#ws-auth-wallets

[2018-02-26 15:27] dubrovsky-kiril commented on #212
Btw, I am switching to second version of package and I got small issue with calling . onWalletSnapshot. What are the request params? What {opts} should be used if I want to fetch 'EXCHANGE' wallet snapshot?

[2018-02-26 15:56] dubrovsky-kiril opened #240 "'error: Error: invalid seq' when authenticate"
Hi. I am encountering 'error: Error: invalid seq #; last 79, got 81' after authentication happen. What might be a reason?

[2018-02-26 20:09] f3rno commented on #239
@machard I've broken up my points below:

 * Yes, it is possible to receive an `oc` packet without an initial `on`/`ou` if the order fills immediately.
 * For partial fills either `on` or `ou` may be emitted; `on` comes first if a partial fill occurs immediately
 * `te` cannot be relied upon to arrive before the matching `ou`/`oc` packet. From my own logs, `ou` arrives first.
 * For the 0.2 order,

[2018-02-26 20:11] #186 closed

[2018-02-26 20:11] #209 closed

[2018-02-27 00:45] machard commented on #239
OK thank you, this makes sense.
Last question:
A limit buy of 0.2 btc goes in the order book then gets filled 0.1 and then get filled again 0.1, what will be the sequence : "on", "ou", "ou", "oc" or "on", "ou", "oc" ?

[2018-02-27 01:30] droconnel22 commented on #205
It was the Node version. Thank you!! I was running stable v 6.7. Will upgrade.

[2018-02-27 01:38] machard opened #241 "auth channel, get notifications when filtering"
Hey,
About ws2 auth channel.
If i use `filter: ['trading']` i loose the notifications, is there a way to only get trading and notifications messages or my only choice is to go with the full channel ?
Thx

[2018-02-27 07:26] f3rno commented on #239
@machard it should be first an `on` for entry into the OB, followed by an `ou` w/ `PARTIA...` status,   followed by an `oc` with a status along the lines of: `EXECUTED; was PARTIALLY FI...` :slightly_smiling_face:

Shorter: `on`, `ou`, `oc`

[2018-02-27 08:01] machard commented on #239
ok thx, i'm all good now. you can close

[2018-02-27 08:03] machard opened #242 "Add FAQ: Order Rate Limit"
Hey,

Can I know exactly what is the maximum number of orders per 10 minutes ?
Is this limitation per pair ?
Is this limitation per api key ?
Is this limitation per websocket connexion ?
What is the logic behind this limitation ?

Thx

[2018-02-27 09:05] f3rno commented on #239
Alright, feel free to re-open if you need any more info o/

[2018-02-27 09:05] #239 closed

[2018-02-27 14:24] f3rno commented on #237
@nixxle Can you try this again with the latest `master`? We recently merged some PRs in which changed this logic.

[2018-02-27 14:26] f3rno commented on #241
How are you applying that filter?

[2018-02-27 14:29] f3rno commented on #240
@dubrovsky-kiril It means the sequence numbers on the packets aren't sequential... I'm not sure why, can you post a full JS packet log? Remove any sensitive information before doing so (API keys/etc), and if it's very long (likely) use an unlisted paste: https://pastebin.com/

In the meantime you can remove the `seqAudit: true` flag before we figure it out.

[2018-02-27 14:33] f3rno commented on #236
@dubrovsky-kiril have a look at the wallet update event (`wu`) and let me know if it answers your question: https://docs.bitfinex.com/v2/reference#ws-auth-wallets

[2018-02-27 14:37] f3rno commented on #242
@machard this has changed recently; the base limit is 1000 orders per 5 minutes per user, and increases proportionally with your trading volume. I'll add a FAQ entry to the readme.

[2018-02-27 15:04] f3rno commented on #212
@dubrovsky-kiril correct :) Thanks for answering!

[2018-02-27 15:04] #212 closed

[2018-02-27 15:05] f3rno commented on #238
@s5m4 the ws2 API is preferred, and the instability is being addressed :)

[2018-02-27 15:05] #238 closed

[2018-02-27 15:06] f3rno commented on #130
Closing due to age, but for others in the future: Add the `POS_CLOSE` flag to the closing order: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/models/order.js#L339

[2018-02-27 15:06] #130 closed

[2018-02-27 15:47] machard commented on #241
@f3rno
from here https://docs.bitfinex.com/v2/docs/ws-auth#section-channel-filters

[2018-02-27 15:48] machard commented on #242
👍

[2018-02-27 16:03] dubrovsky-kiril commented on #240
Here is paste of .onOrderBook responses -- https://pastebin.com/xpwD9DcJ. I tried to make also for .onMessage, but unfortunately callback fails with error after some time - https://pastebin.com/B0KKXsv0

[2018-02-27 17:03] archienorman11 opened #245 "Raw Orderbook Messages Logic"
Hi,

Wondering if someone could help me understand a couple of things with the bfx websocket api v2 `raw orderbook messages`:

1: `when PRICE = 0 then you have to delete the order` - does this only mean that an order has been cancelled? Or are they other reasons why the order might be deleted, for example, a market or limit order also result in this message being sent? If so, can I match a trade (

[2018-02-27 17:34] #242 closed

[2018-02-27 17:35] f3rno commented on #215
Fixed in `master`

[2018-02-27 17:35] #215 closed

[2018-02-27 17:36] f3rno commented on #211
Fixed in `master`

[2018-02-27 17:36] #211 closed

[2018-02-27 17:36] f3rno commented on #185
Fixed in `master`

[2018-02-27 17:36] #185 closed

[2018-02-27 17:36] f3rno commented on #180
Fixed in `master`

[2018-02-27 17:36] #180 closed

[2018-02-27 17:36] f3rno commented on #177
Fixed in `master`

[2018-02-27 17:36] #177 closed

[2018-02-27 17:36] f3rno commented on #182
Fixed in `master`

[2018-02-27 17:36] #182 closed

[2018-02-27 19:19] nixxle commented on #237
I tried todays master branche. Same error.

If you look in ws2.js on line #27 it says Tick which should come from /models/index.js

If you look in models/index.js there is no Tick export.

[2018-02-28 08:04] ksergey commented on #242
@f3rno

Could you please clarify:
If I reach the limit, I receive rejects or something like that for new order?

Thanks

[2018-02-28 08:27] ksergey opened #246 "Missing FAQ: WS2 sequences"
Hi Devs!

Could you please clarify the purpose of sequences (SEQ_ALL) on ws2 transport?
Sequence always starts from 1 and monotonically increases. It looks like set by a frontend (not by matching engine/exchange core).

Thanks

[2018-02-28 09:17] ksergey opened #247 "Synchronize orders state after websocket reconnect"
Hello!

I have a problem with synchronization orders state after websocket reconnected.
After websocket reconnection I need to know what happend with order. There is could be few cases:
1. Order stayed AS-IS
2. Order filled
3. Order canceled
4. Order placed

I know about `os` message, but it's not enought for synchronize orders state.

Questions:
1. Is it possible to receive trade history for an o

[2018-02-28 09:26] ksergey opened #248 "Platform status via websocket connection"
Will be good to see platform status right after websocket connection open.
Or will be good to request platform status via websocket connection.

[2018-02-28 10:27] massmediagroup-28 opened #249 "TypeError: Cannot read property '0' of undefined when connect to ticker stream"
I use this code
[code]

and have error output like this:
[code]

what i'm doing wrong?

[2018-02-28 18:07] f3rno commented on #141
Alright everyone, this should now be mitigated (in most cases) by a recent trading engine update. I'm closing it in the meantime, feel free to re-open if it becomes a problem again in the future. Please be aware we cannot prevent this in **all** cases, but it should be far less of a problem going forwards.

[2018-02-28 18:07] #141 closed

[2018-02-28 18:13] f3rno commented on #249
@massmediagroup-28 please update to the latest `master` branch and try again; the `tick.js` model is now gone. I'll close this in the meantime, if it occurs again with the latest version please re-open.

[2018-02-28 18:13] #249 closed

[2018-02-28 18:20] f3rno commented on #248
@ksergey I've passed the ws2 request along internally, in the meantime have a look here: https://github.com/bitfinexcom/bitfinex-api-node/pull/251

[2018-02-28 18:29] f3rno commented on #247
@ksergey hmm, this is not so straightforward.

1. As WS2 is primarily a push-feed, at the moment it is not possible.
2. If connected when the packet comes through, yes, but it is not possible to query the state of a specific historical order via WS2. For this, REST2 should be used. (see #4)
3. Currently nothing, but I will bring this up internally & see what we can do.
4. Ditto, see #3. It is not

[2018-02-28 18:34] f3rno commented on #246
@ksergey it enables you to verify that no packets have been dropped; if a sequence number is skipped, it means a packet was lost somewhere. This can also occur if an action was initiated via the UI, and is being addressed in https://github.com/bitfinexcom/bitfinex-api-node/issues/193 (fix pending, max ~1wk)

[2018-02-28 18:40] f3rno commented on #245
@archienorman11

1: It means the order has been removed from the OB, either due to cancellation or execution. You should be able to identify the trade that caused this by the `ORDER_ID` field on the `te/tu` packets.

2: Yes, exactly :)

Please close this issue if that makes sense

[2018-02-28 19:53] ksergey commented on #246
@f3rno Where packet can be lost?

[2018-02-28 20:06] ksergey commented on #247
@f3rno

4. How long need to wait before trade will be visible via REST2?

More questions:
5. Sometimes I got disconnect right after receiving `on-req` notification. But the order from notification missed in `os` message after reconnect. It's bug or feature?
6. Sometimes my application sent `Order Multi-OP` (i.e. 5-7 order new or 5-7 order cancel requests) and not received any response via WS2. But

[2018-03-01 07:47] machard opened #252 "using rest1 client to cancel_all_orders fails with empty error {}"
Hello,

When using the client v1:
[code]
No matter how many time i retry it will often get blocked outputing "{}"

[2018-03-01 09:24] dubrovsky-kiril commented on #236
@f3rno 'wu' works when your trade got executed and so your wallet get updates. But what if I want to track balance in sense that I want to see amount that is currently on trades. So that way I can keep track of amount I can spend on new trade and can not.

[2018-03-01 22:40] nikulinsanya commented on #208
seems I fixed it setting seqAudit to false.

[2018-03-02 13:03] f3rno commented on #233
@s5m4 I'm looking at this now, should have a solution over today

[2018-03-03 07:04] hems commented on #208
@nikulinsanya interesting, i hadn't noticed that ````seqAudit```` property on the documentation

[2018-03-03 09:31] f3rno commented on #213
Fixed on the backend

[2018-03-03 09:31] #213 closed

[2018-03-04 01:12] joemccann opened #254 "[BUG] candles() Only Returning 1 Minute Interval, Not Daily"
This is likely my own user error, but I can't seem to get the `candles` REST API call to return the appropriate timeframe.

[code]

And the subsequent output:

[code]

Any help would be appreciated!  I didn't see anything in the `examples` directory so I'm going based on the source code.

[2018-03-04 08:23] f3rno commented on #254
@joemccann `timeFrame` should be `timeframe` :slightly_smiling_face: Lemme know if that works

[2018-03-04 12:02] nixxle commented on #237
I have now tried 2..0.0-beta.1

Tick.js is back. Which is nice.

The data that comes from the server for a tBTCEUR tick:

`[1,[9033.3,44.68155408,9035.8,51.238849,-112.8,-0.0123,9032.6,1110.94672631,9355.4,8970.1]]`

then, in ws2.js::532

`_handleTickerMessage (msg, chanData) {`

the raw data is supposed to go to Tick.unserialize()

`const data = this._transform ? Tick.unserialize(msg[2]) : msg[2]

[2018-03-04 17:17] joemccann commented on #254
Doh! 🤦🏼‍♂️ That fixed it!  Thanks!

[2018-03-04 17:17] #254 closed

[2018-03-04 18:29] FernandoVezzali commented on #85
For the API v1 the endpoint https://api.bitfinex.com/v1/symbols works prectly. I noticed that the version 2 of the API doesn't have any endpoint for listing symbols. I tried hit the https://api.bitfinex.com/v2/symbols and I "Cannot GET /api/v2/symbols" as response.

[2018-03-07 15:16] lucasleets commented on #186
i tried this:

  const o = new Order({
    cid: Date.now(),
    symbol: 'tSANUSD',
    type: Order.type.EXCHANGE_LIMIT,
    amount: -10,
    oco: true,
    price: 5,
    priceAuxLimit: 1,
  }, ws)

ERROR: price_oco_stop: invalid

Added price_oco_stop 1,

and get ERROR: price_oco_stop: invalid, again

How can i fix this?

[2018-03-08 09:43] JanMesaric opened #255 "Example for ws2 Positions request"
Hi,

has anyone figured out how to work with positions feed? I can't seem to get any data from built in functions. Any help or examples would be greatly appreciated.

[2018-03-09 10:30] #255 closed

[2018-03-09 21:40] Valdineyap commented on #220
Hello,

  Did you find a solution for this?
  I have the same problem!

Thanks in advance,

[2018-03-10 07:53] mescalina opened #256 "Trades via ws return undefined values"
The structure of the trades object has changed and in order to work this modification is needed:

EDIT ws2.js inside bitfinex-api-node/lib/transports:

[code]

I don't know if something else is affected by this change of the Bitfinex api

[2018-03-10 16:22] lucasleets opened #257 "OCO Example not working here"
i tried this:

const o = new Order({
cid: Date.now(),
symbol: 'tSANUSD',
type: Order.type.EXCHANGE_LIMIT,
amount: -10,
oco: true,
price: 5,
priceAuxLimit: 1,
}, ws)

ERROR: price_oco_stop: invalid

Added price_oco_stop 1,

and get ERROR: price_oco_stop: invalid, again

How can i fix this?

[2018-03-10 16:29] caherrerapa opened #258 "API returns `CANCELED` but the Node API status is `CANCELLED`"
![maker_ _node_examples_ws2_maker_js_ _node_ _node_examples_ws2_maker_js_ _149x57](https://user-images.githubusercontent.com/1084920/37244367-941ac810-24ba-11e8-96e4-2075a7402f9a.png)
![project_ ___workspace_maker](https://user-images.githubusercontent.com/1084920/37244384-d4f7c234-24ba-11e8-92d0-c757a3e58dbd.jpg)

[2018-03-11 14:24] pabx06 opened #259 "2.0.0-beta Ws2 onOrderBook .midPrice() cause error onTicker() error"
"bitfinex-api-node": "^2.0.0-beta"

[code]

[2018-03-12 19:49] personalityson commented on #85
There is no way without submitting a full list of symbols, because the API is ill-designed... Literally the only exchange that does it. Why? Because idiots

[2018-03-13 15:35] mescalina commented on #233
Hi,

the connection gets open and closed continuosly after the reconnect because of this option: packetWDDelay: 10 * 1000

It should forcing the connection to keep the connection alive but it results in multiple open events being fired.

I have the same problem with trades, after successfully reconnecting to tha api listeners are not working anymore.

[2018-03-13 20:53] soliveira-vouga commented on #220
I got this error as well just today. I sent an order with type "MARKET". There was plenty of balance for the order but still got the following error:

`ERROR: Invalid order: not enough tradable balance for 50.0 XRPUSD at 0.76735`

[2018-03-13 20:56] datgrog commented on #256
Thanks man, I was trying to play with  [ws2-example-subscribe-to-trades-by-pair](https://github.com/bitfinexcom/bitfinex-api-node#ws2-example-subscribe-to-trades-by-pair) but it shows void things like

[code]

but now it works, much better.

[code]

Is this repo officially supported by bfx ?

[2018-03-13 21:01] soliveira-vouga opened #262 "False error on balance when submitting an order"
I recently submitted an order with type `MARKET` and I got the following error:

`ERROR: Invalid order: not enough tradable balance for 50.0 XRPUSD at 0.76735`

However, there is plenty of available balance to make this trade. This is the first time I've seen this issue. Any suggestions?

[2018-03-13 21:01] soliveira-vouga opened #263 "What's the difference between a "MARKET" order and an "EXCHANGE MARKET" order?"
I recently made a change to my trader to use Order.type.MARKET instead of Order.type.EXCHANGE_MARKET and upon the first trade I got the error mentioned here: https://github.com/bitfinexcom/bitfinex-api-node/issues/262

There was more than enough of balance to execute this trade. I'm not sure if it was a coincidence and I just happened to receive a false negative on this trade or if it's something

[2018-03-14 16:46] Valdineyap commented on #220
I found the problem: When defining the "TYPE" parameter you must use "exchange market" and "exchange limit" intead of only "market" and "limit".
When you don't have the word "exchange" the transactions are related to some of the other two Wallets (Marging or Funding)

[2018-03-14 18:29] gguney opened #264 "Ticker"
I've successfully run web socket but when I use the example :

        const SYMBOL = 'tIOTEUR'
        ws.on('open', () => {
            debug('open')
            ws.subscribeTicker(SYMBOL)
        })

        ws.onTicker({ symbol: SYMBOL }, (ticker) => {
            console.log('%s ticker: %j', SYMBOL, ticker);
        })
        ws.open();
Console outputs:

tIOTEUR ticker: 1
tIOTEUR ticker: 2
t

[2018-03-15 14:22] ddeath opened #265 "Uknown status ACTIVE (note:POSCLOSE)"
Hi there I just received an order status: ACTIVE (note:POSCLOSE)

what does that note mean?

Thank you

[2018-03-15 16:58] BarnumD commented on #229
I'm also getting an empty array for private trades.  Would prefer this to be re-opened.

[2018-03-18 12:57] NemesisFLX commented on #264
Same problem here to.

[2018-03-20 14:26] JanMesaric opened #266 "Sockets return Error: unexpected server response (429)"
Hey,

I'm currently subscribed to tickets via subscribeTrades and orderbooks via subscribeOrderBook, for 15 pairs. I'm using bfx w2. I make one instance of BFX object and call open() on it once, after that a on() method triggers subscribing me to what was mentioned before.

I was under impression that sockets would not hit any API limitations, and it works fine, but after 30-60 minutes I start to

[2018-03-21 03:50] PerterPon commented on #266
So am I, this error shows up after about 5 hours later

[2018-03-21 04:02] BarnumD opened #267 "Trade history null"
I'm trying to get old trade data (don't have any recent trades).  I'm trying to use examples\rest2\trade_history.js as an example.  I've updated the start+end time to subtract the number of days from now that I would need to find a trade.  However, I 'm not getting any results.
I just get this in red..
`bfx:examples:rest2_trade_history fetching trades... +0ms`

I have an .env file in place with my

[2018-03-21 15:06] hxu2k opened #268 "Error: connect ETIMEDOUT 75.126.2.43:443"
Error: connect ETIMEDOUT 75.126.2.43:443
 at Object.exports._errnoException (util.js:1019:11)
 at exports._exceptionWithHostPort (util.js:1041:20)
 at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1175:14)
code:'ETIMEDOUT',
syscall:'connect',
address:'75.126.2.43'

This error has happened for over two weeks.

[2018-03-22 06:10] Lettro commented on #264
Thanks @NemesisFLX! That fixes the issue 🙌

[2018-03-22 08:13] ddeath commented on #266
I am getting 429 too. Before bitfinex update it was fine. Maybe something changed on the server?

[2018-03-22 08:48] pelly-ryu commented on #264
is this a bug of the library?

[2018-03-23 08:46] ddeath commented on #262
This can happen if you recently made a trade and exchange did not have updated your balance yet.

[2018-03-23 09:01] ddeath opened #269 "Error: ob update for unknown price level: [0.65581,0,-1]"
Hello Guys,

we recently started to get error:
Error: ob update for unknown price level: [0.65581,0,-1]

It started to pop up after Bitfinex exchange update. Any ideas how could we fix it?
Thank you

[2018-03-23 14:50] jinxmcg commented on #233
soo...any update? I have the same issue

[2018-03-24 02:31] hxu2k commented on #268
No errors anymore.  Closed itself.

[2018-03-24 03:00] hxu2k commented on #268
This error is on and off.

[2018-03-24 07:28] mescalina commented on #233
No news no new regrets..
I ended up writing my own bitfinex module and it usually successfully reconnect destroying the old connection and listeners first and recreating new ones. But still 1 time during a 1 week period it reconnected but listeners did't work. This problem is simply horrible because it makes the module totally unreliable on the most important feature which is staying connected.

[2018-03-25 04:00] machard commented on #252
this bug is very annoying, it keeps happening

[2018-03-27 01:55] vach opened #270 "how to get raw order stream (not manage anything in library)"
I was hoping to find this in the examples but only example i see is the one that demonstrates how the library is managing orderbooks for you...

I'd like to subscribe for R0 stream.

[2018-03-27 10:42] hems commented on #257
Same here, also happens with type=Order.type.LIMIT !

[code]

[2018-03-27 10:46] hems commented on #257
@f3rno I can see you wrote models/order.js and examples/ws2/oco-order.js maybe you know if something changed since then?

[2018-03-27 12:17] nikolaykm opened #271 "Update/Amend order through WS2 API"
Hi guys,

Do you know if there is a way to update/amend order through the WS2 API. In the documentation there is only sections for creating/canceling orders. However updating order from the WebInterface is possible and when I update order from there I'm getting "ou-req" and then "ou" for that order.

Do you know how I can achieve the same functionality through the APIs, without first canceling the

[2018-03-27 21:24] UzverNumber47 opened #272 "Question: Why am I getting trades 3 seconds old?"
I get tradeUpdate and tradeEntry events with almost 3 seconds delay. Can this time be somehow decreased?

Websockets v2 api

[2018-03-28 07:27] ksergey commented on #271
`ox_multi` ?

[2018-03-28 09:27] nikolaykm commented on #271
"ox_multi" with "oc" and "on" in it is first cancelling the order and then creating a new one.

That is better than sending the updates one by one, but its also generating a new order id. However it seems that updating order from the WebUI is possible without first canceling it and then creating a new one, so I'm wondering how this could be done using the API?

[2018-03-28 11:55] UzverNumber47 commented on #272
Looks like it is my network issues. Sorry

[2018-03-28 11:55] #272 closed

[2018-04-01 11:26] shannon-murdoch-webjet commented on #257
Running into the same issue here. OCO orders are coming back with the error also.
ERROR: price_oco_stop: invalid

[2018-04-02 12:09] rtpaulino opened #273 "TypeError: Object.values is not a function"
Sometimes I get this error (which kills my application):

[code]

[2018-04-02 12:10] rtpaulino commented on #273
Sorry, wrong Node JS VERSION. Closing issue.

[2018-04-02 12:10] #273 closed

[2018-04-02 15:51] dubrovsky-kiril opened #274 "Can't place new order via WS2 after reconnect"
Did someone had this kind of problem? After successful reconnecting and authorization order placing does not work. I am using personal logic implementation, but problem seems like is general. Please share you thoughts, experience :)

[2018-04-03 22:13] ddeath commented on #274
Hi, what do you mean by `Cant place new order`? Do you get an error?

It is working fine for me. I am using auto reconnect. Are you using it too?

[2018-04-03 22:18] ddeath opened #275 ""StatusCodeError: 500 - undefined""
When I did a request to "https://api.bitfinex.com/v2/auth/r/wallets" I got 500 without any description.

It does not happen often. Any ideas what is the problem?

[2018-04-04 05:10] gsampathkumar opened #276 "Unable to use REST wallet_balances call to execute trades"
Hi, My logic is somewhat like this:

1. get USD balance - REST
2. execute trade to buy a token A - REST
3. get token A balance - REST
4. execute trade to sell token A balance - REST

Step 3 is problematic as the results are either a. Undefined (if I've never had that token in my wallet before I believe), b. 0 (hasnt been updated with the amount from trade on step 2), c. some balance (not accountin

[2018-04-04 05:10] gsampathkumar commented on #263
MARKET is margin trading
EXCHANGE MARKET is on the exchange with no margin.

[2018-04-04 09:26] dubrovsky-kiril commented on #274
Yes I do. Hm... How fast do you reconnect? What time interval do you use? I don't get any error. Hm... Maybe problem is in my logic of how I use post order context. Will check this later today.

[2018-04-04 09:30] ddeath commented on #274
I do not set any time intervals. I just use auto-reconnect feature.

[2018-04-04 16:44] BarnumD commented on #267
Is anyone able to get the examples to work for them?  Specifically when grabbing older trades/orders?

[2018-04-05 06:03] tomatopeel commented on #256
Wow this is horrible... Really Bitfinex?

[2018-04-05 17:45] bachilli opened #277 "Input endpoints - Order Status missing ws2"
How I cant get a order status with websockets? If I'm rate limited by rest, how can I get the status of a order if my connection drops?

[2018-04-05 18:15] bachilli opened #278 "Not indexed response arrays"
Why the responses from websockets are not indexed, like ['order_id' : 999009, "status":status]. All responses returns are in raw arrays that are difficult to understand and can broke easily if the api are updated.

[2018-04-05 18:25] bachilli opened #279 "Orders snapshots/Trades snapshops don't return executed orders"
Orders snapshots or/and Trade snapshops doesnt return executed/filled orders. So, if my connection drops, I lost the status.

[2018-04-06 13:33] ksergey commented on #279
Use rest for that

[2018-04-06 16:43] PerterPon opened #280 "Order Model instance can not get detail property when 'transform' === true"
env:
bitfinex-api-node: 2.0.0-beta
node: 8.11.1
OS: macOS 10.12.6

Here is my code, I tried, when `transform` set to `true`, I can't get order's status from Order Model instance.

[code]

The log I console after `ws.submitOrder( o )` look like this:

[code]

[2018-04-07 21:20] jsappme opened #282 "Websocket not able to reconnect"
My script works great until it gets deconnected and not able to connect again.

Here is my code:

[code]
Here is the result:

[code]

any idea why?

[2018-04-08 14:07] jsappme commented on #282
I also tried the following simple code provided in your exemple, but it also stops working after a while but this time giving me no error.

[code]

[2018-04-08 14:34] DeBr0glie opened #283 "Problem with get trades or tickers"
There is
`let payload = msg[msg.length - 1]`
But message is:
`[
  3,
  "te",
  [
    223516945,
    1523197857549,
    -0.5,
    7062.7
  ],
  2
]`

And finally in "ws.onTrades" I get "2" instead of array

[2018-04-09 19:56] f3rno commented on #263
@gsampathkumar correct, thanks for the answer

[2018-04-09 19:56] #263 closed

[2018-04-09 22:26] jsappme commented on #233
I have the same issue. No progress on this one?

[2018-04-09 22:26] jsappme commented on #233
@mescalina would you mind sharing your module?

[2018-04-09 22:27] jsappme commented on #138
any solution for this?

[2018-04-09 22:33] jsappme commented on #154
@f3rno  any update on this issue, we are all experiencing closing websocket connections after a while that makes this module kind of useless. A fix for this will awesome. Thanks.

[2018-04-10 09:00] jsappme commented on #144
any plan on fixing the reconnection not working?

[2018-04-10 12:31] f3rno commented on #233
@mescalina @jsappme apologies for the delay guys, I got swamped with other work. I'm working on getting the next beta release out ASAP, taking review time into account it should be released next week at the latest.

[2018-04-10 12:49] f3rno commented on #283
@DeBr0glie just to confirm, you have sequencing enabled there right?

[2018-04-10 12:55] robertkowalski commented on #233
I am sorry for the delays and that you felt alone. In understand that it frustrates when something is not working properly. Still want you to remember: this project is maintained by humans and sometimes humans have to work on other things.

The bfx api client is an open source project, **nobody has to use it**. Everyone participating, from core committers to users can and is encouraged to step up

[2018-04-10 13:09] f3rno commented on #278
@bachilli they are like this for performance reasons; raw arrays have a smaller size on the wire, and if you use the built-in models you don't need to worry about them, as they are handled automatically (and broken out for easier reading): https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/models/candle.js

[2018-04-10 13:09] #278 closed

[2018-04-10 13:13] f3rno commented on #269
@ddeath is this still happening?

[2018-04-10 13:13] f3rno commented on #275
@ddeath we need more info to debug this; any chance you can provide your IP & specific time frame of when you last saw this?

[2018-04-10 13:28] DeBr0glie commented on #283
@f3rno yes...

[2018-04-10 13:54] ddeath commented on #275
@f3rno could you provide some email address where I can send that information?

[2018-04-10 13:57] ddeath commented on #269
@f3rno yes it is. Last time I have seen this error was 2018-04-07.

[2018-04-10 18:51] jsappme commented on #233
@f3rno @robertkowalski if I can help with anything let me know. Thanks for your work.

[2018-04-10 20:35] bachilli commented on #278
@f3rno I agree with the performance reasons. But the bitfinex will never change this model? If no, thats ok.

- Using this same contact... How I request for API Rate limit increase? Its ok to send orders via WS, but If my connection drops, I lost a lot of information and cant retrieve this lost info with REST APi bacause the endpoints are rate limited. Theres other way to do this ou require more r

[2018-04-10 20:35] bachilli commented on #279
@f3rno can you help me with that question?

[2018-04-11 11:55] jgordor commented on #214
Hi @f3rno any news on this? Thanks

[2018-04-11 20:33] f3rno commented on #280
@PerterPon hmm, I can't reproduce, I checked out `v2.0.0-beta` & copy/pasted your code. Is this still happening? Was there anything else in the logs before that output? Try adding `process.env.DEBUG = '*';` to the top of your file

[2018-04-11 20:34] #245 closed

[2018-04-12 04:59] gsampathkumar commented on #276
A small example would be great.

Also,
a. some clarification on whether there will be a single packet update with
the new balances or multiple updates as commissions are deducted.
b. in which currency is the commission deducted. For buying ETH with USD,
ETHUSD for instance. Commissions are taken from USD before trade and
deducted from ETH after trade or something different.

On Thu, Apr 12, 2018 a

[2018-04-12 06:36] ddeath commented on #282
maybe try:

[code]

Disable seqAudit as it is not working right now...
Also if you are not listening on `on('error', ...)` try to listen to that

Also which version of the lib are you using? Maybe try to use version from master branch...

[2018-04-12 06:50] ddeath opened #288 "api.bitfinex.com | 520: Web server is returning an unknown error"
Hello

I just get an error during the post call `https://api.bitfinex.com/v2/auth/r/wallets` around 2018-04-12 05:40:20 utc

The response body of that call is json encoded HTML page saying also:

`There is an unknown connection issue between Cloudflare and the origin web server. As a result, the web page can not be displayed.`

It is probably not an error with this library but with the server... A

[2018-04-12 08:59] gsampathkumar opened #289 "Feature request: Buy or Sell available / max amount at market price"
Is it possible to programmatically place an exchange market order that buys or sells whatever possible using all the available balance i.e. without having to specifiy a price or amount parameter to the new order API.

[2018-04-12 17:33] f3rno commented on #289
@gsampathkumar this has been requested before, and unfortunately it is not possible. Instead, how about a way to quickly query the last-known-balance for a currency via the `WSv2` class?

[2018-04-12 17:34] gsampathkumar commented on #289
That would work if the trade weren't going to fail because the balance was
deducted some commission. If that would never happen, what you recommend
would work.

On Thu, Apr 12, 2018 at 11:03 PM, Cris Mihalache <notifications@github.com>
wrote:

[2018-04-12 20:50] jsappme commented on #282
I tried it but it's still get disconnected after a while and does not reconnect.

[2018-04-13 09:20] ksergey opened #290 "FOK order"
Hello,

Looks like FOK order is broken. Why my FOK order partially filled?

Request:
[code]

Response:
[code]

I believe order should be rejected instead of partial fill.

[2018-04-13 12:30] ddeath opened #291 "[WS2] Error: already open"
Hello,

we just received couple of this errors:

[code]

It looks like the reconnect does not always work properly. (we enabled autoreconnect feature)

Any idea what can be wrong?

[2018-04-16 11:32] vinhins opened #292 "RESTv2 calcAvailableBalance StatusCodeError: 404"
rest.calcAvailableBalance("tBTGUSD", 1, 8097, "EXCHANGE", (err, data) => {
    if (err) {
      return console.log("error: %s", err.message);
    }
  })

ERROR:
error: StatusCodeError: 404 - "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<title>Error</title>\n</head>\n<body>\n<pre>Cannot POST /api/v2/auth/r/calc/order/avail</pre>\n</body>\n</html>\n"

[2018-04-16 22:18] Tiger333333 opened #293 "Rest v2 Order Trades returns empty array since 13/04/2018"
Rest v2 "Order Trades" returns empty array (since 13/04/2018), while "Trades" is still working.

Example:

https://api.bitfinex.com/v2/auth/r/trades/tETHUSD/hist?limit=25
returns my trades as expected.
One of them is:
[226013938,"tETHUSD",1523601772000,10679431556,-0.09984006,492.52,"EXCHANGE LIMIT",486.46,null,-0.09834645,"USD"]
but
https://api.bitfinex.com/v2/auth/r/order/tETHUSD:10679431556/tra

[2018-04-17 18:55] bachilli commented on #277
Yes. But in cases of disconnection se Lost the packets.

Em ter, 17 de abr de 2018 14:22, Cris Mihalache <notifications@github.com>
escreveu:

[2018-04-18 14:32] f3rno commented on #280
Closing due to inability to reproduce, please re-open if you encounter it again

[2018-04-18 14:32] #280 closed

[2018-04-18 14:45] f3rno commented on #290
@ksergey this is normal, FOKs are filled up to the limit price (if there is a better price available, it is take,) and are subject to cancellation depending on the final balance check when they reach our trading engine. We will update the docs in the UI to reflect this

[2018-04-18 14:45] #290 closed

[2018-04-18 17:59] f3rno commented on #279
@bachilli RESTv2 is the way to go for this, WSv2 should only be used for realtime data. The idea is, ws2 provides everything you need to maintain a running copy of your current account state. So you receive an initial snapshot of your currently open orders, along with updates for them as they occur. Any historical needs should be covered by RESTv2, and the account limits are more than reasonable f

[2018-04-18 18:01] #279 closed

[2018-04-18 18:03] f3rno commented on #264
This is fixed in `master` now guys. @NemesisFLX thanks for taking care of it in the meantime!

[2018-04-18 18:03] #264 closed

[2018-04-18 18:11] f3rno commented on #282
@jsappme it looks like your network connection is dropping entirely; can your confirm it is not a network issue on the client? From your log, it looks like auto-reconnect succeeds once the network itself comes back.

[2018-04-18 18:13] f3rno commented on #256
This is now fixed in `master`

[2018-04-18 18:13] #256 closed

[2018-04-18 18:18] jsappme commented on #282
no it is not a network connection on the client side. When it says: "connection opened" it does not receive the trades.

[2018-04-18 18:35] f3rno commented on #262
@ddeath correct :)

[2018-04-18 18:35] #262 closed

[2018-04-19 11:06] escoman opened #299 "[WS2]: Empty order-info field on notification (ou-req) with error"
My request: [0, "ou", null, { "id": 10979800191, "amount": "0.70", "price": "15.85" }]

Server response: [0,"n",[1524135087973,"ou-req",null,null,[null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,0,null,null,null,null,null,null,null,null],null,"ERROR","Invalid order: minimum size for ETC/USD is 0.8"]]

So, I can not find out which o

[2018-04-19 12:31] f3rno commented on #299
@escoman escalated internally, I'll get back to you

[2018-04-19 12:40] f3rno commented on #299
@escoman this has been fixed and will be deployed in the next few hours, you should then receive at least the order ID in the response payload :slightly_smiling_face:

[2018-04-19 12:40] #299 closed

[2018-04-19 12:53] ksergey opened #300 "Update an existing order"
Hello,

Could you please clarify how Update Order (https://docs.bitfinex.com/v2/reference#update-order) works?
What's is AMOUNT and DELTA in this case mean? It's not clear from docs.

Thanks

[2018-04-20 16:31] Alonzo-Coeus opened #301 "TypeError: bfx.ws is not a function"
I have been having an issue in my trading bot with instantiating a connection.
This problem started recently, after upgrading to the new version my main bot worked for a while but has now completely broken.

I have some example code so someone can point out what i need to change to get my bots up again.
[code]

[2018-04-23 09:42] hxu2k commented on #268
I had never changed anything to my code.  It just suddenly got disconnected with this error.  Could be the site was blocked by my govt?

[2018-04-23 14:56] f3rno commented on #268
@hxu2k hmm, where are you located?

[2018-04-23 16:54] #230 closed

[2018-04-24 01:18] L-S-Ross opened #302 "API Key invalid"
tried 3 times from scratch to do this, each time I got API key invalid. Used the login method on the bitfinex documentation and it logs in with that API key fine.

[2018-04-24 07:09] ddeath commented on #302
@L-S-Ross can you post snippet of your code which you use?

Also which version of lib do you use?

[2018-04-24 09:11] L-S-Ross commented on #302
ws.on('open', () => { // wait for socket open
  ws.auth()           // & authenticate

  debug('open')
})

ws.on('error', (err) => {
  debug('error: %j', err)
})

ws.once('auth', () => {
  debug('authenticated')

  // do something with authenticated ws stream
})

// Register a callback for any order snapshot that comes in (account orders)
ws.onOrderSnapshot({}, (orders) => {
  debug(`order snapsho

[2018-04-24 10:51] ddeath commented on #302
@L-S-Ross and where do you insert api key?

About that data, take a look at [this example](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/ws2/orders.js) This lib has models classes for data.

[2018-04-24 11:57] L-S-Ross commented on #302
thanks ddeath, I didn't know i had to put the api key in again, I authenticated like the v2 docs said, on the bfx website. Soooo confusing, I can see the data, but cant get at it. I guess it's case closed, I'm to blame :(

[2018-04-24 11:57] #302 closed

[2018-04-24 15:07] L-S-Ross opened #303 "After parse, how do you get the specific info/values from the JSON string?"
The [0, 'ws' [[key, key[value]]]] is confusing to a newbie, I can do data.subdata and data[n] location but cant get into the following array and extract just the data i want. I don't understand why. Can anybody actually help me do that? And not just send me to another page that doesn't explain how to use the code on that page.

[2018-04-24 15:07] #271 closed

[2018-04-24 15:07] #258 closed

[2018-04-24 15:08] #291 closed

[2018-04-24 15:15] #248 closed

[2018-04-24 15:17] f3rno commented on #301
@Alonzo-Coeus hmm, which version of `bitfinex-api-node` do you have in your `package.json`?

[2018-04-24 15:25] f3rno commented on #303
@L-S-Ross the `ws` packet represents a wallet snapshot, and the individual entries are the state of your wallets. The data structure is documented here: https://docs.bitfinex.com/v2/reference#ws-auth-wallets

You can pass the individual wallet data arrays (`[ 'margin', 'USD', 75.58465857, 0, null ]`) to the `Wallet` model if you want key/value access. Then you can do `wallet.balance`, etc. An exam

[2018-04-24 15:26] f3rno commented on #300
@ksergey does this help? https://github.com/bitfinexcom/bitfinex-api-node/pull/294

The `delta` is used to increase/decrease the order amount without changing its position in the queue.

[2018-04-24 15:44] L-S-Ross commented on #303
Thanks  f3rno, where do I pass  transform: true? Somewhere in here right?

wss.onopen = () => {
  // API keys setup here (See "Authenticated Channels")
	const crypto = require('crypto-js')
	const apiKey = 'The Api key'
	const apiSecret = 'The Api shhh'
	const authNonce = Date.now() * 1000
	const authPayload = 'AUTH' + authNonce
	const authSig = crypto
	  .HmacSHA384(authPayload, apiSecret)
	  .toS

[2018-04-24 15:53] ddeath commented on #303
[code]

Also maybe take a look at README.md and examples in thes repository.

[2018-04-24 16:03] f3rno commented on #241
@machard this is technically available via the `notify` filter, but it wasn't documented. The official docs have been updated: https://docs.bitfinex.com/v2/docs/ws-auth#section-channel-filters

[2018-04-24 16:03] #241 closed

[2018-04-24 16:40] L-S-Ross commented on #303
This is not the same as the example I saw in there, by f3rno...

'use strict'

require('dotenv').config()

const BFX = require('../')
const SocksProxyAgent = require('socks-proxy-agent')

const { API_KEY, API_SECRET, REST_URL, WS_URL, SOCKS_PROXY_URL } = process.env
const agent = SOCKS_PROXY_URL ? new SocksProxyAgent(SOCKS_PROXY_URL) : null

const bfx = new BFX({
  apiKey: API_KEY,
  apiSecret: AP

[2018-04-24 16:48] ddeath commented on #303
@L-S-Ross you were asking where to pass `transform: true` so I posted an example for you where it should go.

Also, nobody is laughing at you. I suggested you go through examples because there are examples which use `transform: true`.

[2018-04-24 16:54] L-S-Ross commented on #303
I'm sorry, I've built a decent bot over 2 weeks and I've spent 3 days now just trying to get access to the balance, for a position size calculation and i'm getting nowhere. I dont mean to be rude, I'm frustrated. thanks ddeath, again.

[2018-04-24 18:38] ksergey commented on #300
@f3rno
Is it possible to increase order amount for filled order?
Is it possible to update only order price?

[2018-04-24 19:18] L-S-Ross commented on #303
f3rno... thanks, I'm getting the value after USD in my console message, not the real balance. I changed that string to the values I want and got undefined, I changed that to the snapshopt object and got nothing at all. I think I may not be following wht you are telling me to do. I dont think you mean for me to just copy and paste. I don't know Node.js very well, I know swift a little more, so I ma

[2018-04-25 12:42] cryptomius commented on #257
I'm not sure if it helps, but I found I needed two libraries installed to get this library working..
`npm install crc-32
npm install --save bignumber.js`

[2018-04-25 14:03] hems commented on #257
@cryptomius have you managed to post OCO orders?

[2018-04-25 23:48] cryptomius commented on #257
@hems yes I have - check out https://github.com/cryptomius/Bitfinex-Auto-Stop-121-Scale-Out/

[2018-04-26 02:02] L-S-Ross opened #304 "TypeError: BFX is not a constructor at Object.<anonymous>"
But it is, it is... Where is the error in the code?

[code]

OR is it in here somewhere?

[code]

[2018-04-26 03:09] L-S-Ross commented on #304
Can anyone help with this error please?

/home/leon/Projects/testbot/node_modules/bitfinex-api-node/lib/transports/ws2.js:680
      if (Array.isArray(data[0])) {
                            ^

TypeError: Cannot read property '0' of undefined

[2018-04-26 11:04] f3rno commented on #303
@L-S-Ross what exactly are you trying to do?

[2018-04-26 11:06] algotek opened #305 "Update order not working"
Hi,

Sending order update like:
[0,"ou",null,
{
"id":123456789,
"price":"8001",
}]

fail silently.
No error, no response, nothing.

[2018-04-26 12:51] aryeharmon opened #306 "is the apiKey required for public methods?"
the api key should not be required for public methods. however i can not getting any data from ws.onTrades

[2018-04-26 12:54] ddeath commented on #306
[code]

You probably have to subscribe to the trades

[2018-04-26 13:18] L-S-Ross commented on #303
I started from scratch again and it’s working well... thanks. I just get an error when I run the ticker now. Cannot read[0] of undefined. In the ws2 file. I made an issue. Was that the right thing to do?

[2018-04-26 18:00] L-S-Ross commented on #303
I always forget to add @f3rno

[2018-04-26 19:48] ujjwalt commented on #273
Hey @rtpaulino could you elaborate a bit on this since I'm getting the same error.

[2018-04-26 20:17] f3rno commented on #305
@algotek can you provide your code?

[2018-04-26 20:18] rtpaulino commented on #273
Yes. The problem was the version of Node. If I'm not wrong, I was using node v6. After changing to v8 I had not problem.

[2018-04-26 20:32] f3rno commented on #304
@L-S-Ross I've fixed this in https://github.com/bitfinexcom/bitfinex-api-node/pull/307

In the meantime, can you switch to the `master` branch?

[2018-04-26 20:34] f3rno commented on #306
Yes, @ddeath is right. @aryeharmon can you share your code?

[2018-04-26 21:48] L-S-Ross commented on #304
Thanks again @f3rno. I didnt know i wasnt on it. top left selector on the main screen right? will do.

[2018-04-26 21:48] #304 closed

[2018-04-26 23:11] f3rno commented on #199
This is now fixed in `master`

[2018-04-26 23:11] #199 closed

[2018-04-26 23:14] f3rno commented on #206
Fixed in #297, but feel free to re-open if new `autoReconnect` issues arise

[2018-04-26 23:14] #206 closed

[2018-04-27 00:26] f3rno commented on #303
@L-S-Ross have a look here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/transports/rest2.js#L364

You can use the REST api to fetch your wallets/balances, and then do what you want with them. There is also an example which will get merged in [here](https://github.com/bitfinexcom/bitfinex-api-node/pull/228/files#diff-58ae27873d9ea7a2ac123c3bc8e89012R32), but it does a lot more

[2018-04-27 01:29] L-S-Ross commented on #304
Superb. Thank you very much @f3rno.

[2018-04-27 03:46] imangm opened #311 "ReferenceError: Order is not defined"
Hey Guys,

I'm trying to add an order via ws2 but unfortunately I can't figure out what's wrong with this code:

[code]

The error message is as below:

[code]

I would appreciate if someone could point me to the reason of this problem.

Thanks
Iman

[2018-04-27 08:15] #300 closed

[2018-04-27 08:47] ujjwalt commented on #273
Any clue where the issue is arising out of? Because you’re right in that
I’m also on v6.
On Fri, 27 Apr 2018 at 1:48 AM, Rafael Paulino <notifications@github.com>
wrote:

--
Thanks
Ujjwal Thaakar

[2018-04-27 14:38] ddeath commented on #273
@ujjwalt take a look here:
https://node.green/#ES2017-features-Object-static-methods-Object-values

it is not supported by nodejs

[2018-04-27 14:42] ddeath commented on #311
As the error says, it is not defined. You have to import it from library. For example:

[code]

After that your code should work...

[2018-04-27 14:43] L-S-Ross commented on #303
Thanks, I think the websocket way is better for me, to update automatically when i make a new trade. I copied the ws2 and made - ws.onWalletSnapshot({}, (wallets) => {
  debug(`Wallet snapshot: ${JSON.stringify(wallets, null, 2)}

it shows all wallets, but how would I get just my BTC wallet? I would need to copy that line above and have another for onWalletUpdate, right?

[2018-04-27 16:10] f3rno commented on #303
@L-S-Ross you'll need to parse it from the snapshot response :) The wallet updates are sent out when a balance changes, the snapshots after connecting to the ws v2 API.

[2018-04-27 18:00] L-S-Ross commented on #303
@f3rno I did this - ws.onWalletSnapshot({}, (wallets) => {

  console.log('this right here ', JSON.parse(wallets, null, 2))
})

I got -
[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]
 ^

SyntaxError: Unexpected token o in JSON at position 1

What did I do

[2018-04-28 02:30] L-S-Ross commented on #303
Hi @f3rno, I have an issue with ws.open. If i dont call it twice, I don't get candles data, but all other data comes. I can't understand it. If you have time (You've helped me a lot this week already and it is the weekend so i don't expect anything), could you check my code and tell me what I've done wrong please?

`
const request = require('request');
const bfx = require('./bfx')
const ws = bfx.w

[2018-04-29 13:47] #200 closed

[2018-04-29 14:14] #237 closed

[2018-04-29 22:55] L-S-Ross commented on #303
@f3rno Hey buddy, I worked it out. I only open ws once and get all the info, I even worked out how to get each individual wallet's balance as a separate variable. Thanks for all your help.

[2018-04-30 02:41] L-S-Ross commented on #303
@f3rno Spoke too soon. I didnt change anything but suddenly I get this error about the tick.js file

/home/leon/Projects/testbot/node_modules/bitfinex-api-node/lib/models/tick.js:44
    if (Array.isArray(arr[0])) {
                         ^

TypeError: Cannot read property '0' of undefined

any ideas?

[2018-04-30 08:32] hxu2k commented on #268
No, the other one.  ;-)

在 2018年4月23日，下午11:35，Sergey Kovalevich <notifications@github.com<mailto:notifications@github.com>> 写道：

@hxu2k<https://github.com/hxu2k> Russia? =D

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/bitfinexcom/bitfinex-api-node/issues/268#issuecomment-383619273>, or mute the thread<https://github.com/no

[2018-04-30 12:48] f3rno commented on #311
@ddeath exactly :) Thanks for responding! You can also do `const { Order } = BFX.Models`

[2018-04-30 12:48] #311 closed

[2018-04-30 12:49] #306 closed

[2018-04-30 15:58] tetiv opened #312 "TypeError: Object.values is not a function"
Hello,
I tried this example:

[code]
and got this error:
[code]
my package.json:

[code]
I don't know what is wrong in my code.
Thank you for your answer.

Kind regards, MT

[2018-04-30 16:35] ddeath commented on #312
@tetiv take a look here:
https://github.com/bitfinexcom/bitfinex-api-node/issues/273

You have probably an old version of node.

@f3rno this is at least second time. Maybe you could include a required version of the node into README?

[2018-05-01 03:08] ddeath opened #314 "Status: INSUFFICIENT BALANCE (G1)"
I would like to ask what does G1 means in status?

Thanks

[2018-05-02 14:09] tetiv commented on #312
You are right. I had an old version of node from Fedora rpm distribution. Thank you.

[2018-05-02 14:09] #312 closed

[2018-05-02 15:04] f3rno commented on #301
I'm closing this as it shouldn't be happening with the latest `2.0.0-beta.1` (or the prev `2.0.0-beta`). If you can confirm it occurs with an updated copy of the library, please re-open.

[2018-05-02 15:04] #301 closed

[2018-05-02 15:08] f3rno commented on #314
@ddeath it's an internal flag, which is set depending on the specific reason for the order cancellation due to insufficient balance (it can happen in different ways), and not something that is relevant to end-users. Good question though

[2018-05-02 15:08] #314 closed

[2018-05-02 15:22] #257 closed, assigned to nobody

[2018-05-02 15:25] f3rno commented on #214
@hems @jgordor this has been fixed on the backend, apologies for the late response.

[2018-05-02 15:25] #214 closed

[2018-05-02 15:28] f3rno commented on #224
Alright, for the moment we are providing a `RESTv1` pass-through on `RESTv2` with the methods available as `rest.symbols()` and `rest.symbolDetails()`, code here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/transports/rest2.js#L601

In the future we will provide dedicated endpoints for the v2 REST API, but I am closing this issue as this is not pertinent to the node library :s

[2018-05-02 15:28] #224 closed

[2018-05-02 15:30] f3rno commented on #259
This should be fixed in `2.0.0-beta.1`, if it occurs again in the future pls re-open this issue

[2018-05-02 15:30] #259 closed

[2018-05-02 15:40] f3rno commented on #233
@mescalina @jsappme I've fixed a sporadic reconnect issue in `2.0.0-beta.1`/`master`, if this is still occurring for you please update your `bitfinex-api-node` and test again. If it happens afterwards, re-open this issue :slightly_smiling_face:

[2018-05-02 15:40] #233 closed

[2018-05-02 16:03] hxu2k commented on #268
Hi Chris,

Thanks for your reply.  This error persists no matter I use VPN or not in China.  My node.js code with REST API v1.1 worked perfectly fine before.  Will try to host my code on a private server as suggested and see what happens.

Thanks,
H.

在 2018年5月2日，下午4:23，Cris Mihalache <notifications@github.com<mailto:notifications@github.com>> 写道：

@hxu2k<https://github.com/hxu2k> since it's a net

[2018-05-03 08:50] askmike opened #321 "Rest v2 `wallets` available balance is null"
Problem:

    const bfx = new Bitfinex.RESTv2({apiKey: 'x', apiSecret: 'y', transform: true});
    bfx.wallets(console.log);

outputs:

    { err: null,
      data:
       [ Wallet {
           domain: null,
           _events: {},
           _eventsCount: 0,
           _maxListeners: undefined,
           type: 'funding',
           currency: 'BTC',
           balance: 0.01511371,
           unse

[2018-05-03 09:10] ksergey opened #322 "Event "info""
Hello,

Today my app received `info` which looks like:
[code]

The field `platform` not mentioned in official docs. Could you please clarify? Is it the same which returns by `Platform Status` request?

[2018-05-03 09:12] ddeath commented on #321
@askmike the null is valid value. In the api v2 you have to use different call which will calculate available balance:

https://bitfinex.readme.io/v2/reference#rest-auth-calc-bal-available

[2018-05-03 10:53] askmike commented on #321
@ddeath thanks for clarifying. I guess the easiest for now is to simply query the v1 endpoint instead of fetching the new endpoint per currency you need whenever you see a `null`.

[2018-05-03 10:53] #321 closed

[2018-05-03 13:13] nonamenonumber commented on #199
I still had to adjust mine from what was in master
[code]
to
[code]
to get my feed running again.

[2018-05-03 13:43] f3rno commented on #322
@ksergey yes, a value of '0' signals that the platform is under maintenance. Have a look here: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/transports/ws2.js#L1013

I've updated the docs here: https://docs.bitfinex.com/v2/docs/ws-general#section-info-messages

[2018-05-03 13:43] #322 closed

[2018-05-03 13:52] #292 closed

[2018-05-03 15:39] kiko35 opened #323 "Docs Request: Difference between R0/P* OBs"
Hello,

I don't really understand the description on the bitfinex's doc for the raw books which is "These are the most granular books." What's the difference with the orderbook?

Thanks

[2018-05-03 17:26] chrvadala opened #324 "Detect last candle for that mts"
Hi guys,
I'm subscribed to candle updates with an interval set to 1 minute, but I see that bfx send candles more frequently and every time there's an an updated version.
Is there a way to detect that is last update for that minute?
I need to detect that a candle is closed and start some other actions (stats, comparisons...)

[code]

[code]

[2018-05-03 18:39] f3rno commented on #323
@kiko35 the raw order books return the top N bid/ask _orders_ (depending on the book length, i.e. N=100), while ordinary OBs provide you the top N bid/ask price levels (so 2 orders at the same price level appear as a single price level).

I will update the docs to clarify this.

[2018-05-03 18:42] f3rno commented on #324
@chrvadala we send out the current candle repeatedly as it is updated by trades in real time, before the start of the next, along with the final version of it w/ the realized `close` price. To detect a new candle, just compare the timestamp :slightly_smiling_face: If the MTS has changed, it's a new candle.