[2018-05-03 18:42] #324 closed

[2018-05-04 07:42] kiko35 commented on #323
thanks

[2018-05-04 09:12] f3rno commented on #323
@kiko35 I will keep this open until the repo docs are updated.

[2018-05-07 14:06] mixitka opened #325 "Invalid input for order update"
Hi,

I tried to sent the following json message to update my order (https://bitfinex.readme.io/v2/reference#update-order):

[code]

but I'm getting the following error response:

[code]

What is wrong? Does `ox_multi` support order update? (I use ox_multi because I may want to update more orders in general)

Thanks,
Martin

[2018-05-08 09:10] zenymax commented on #233
@f3rno it's occurring with me. I 'm testing on the newest version. Can you teach me what do you do to fix it? thanks very much for hard work.

[2018-05-09 05:54] Daimakaimura opened #326 "Order ID in Trades WS v2 Public Channel and R0 OB (Raw Order Book)"
Hello, I am trying to match the Trades in the public channel with the R0 OB updates but it appears that there is no way to match the public trade item with the OB r0 update as the public trade item doesnt include the order_id. Is there a way to do that?

[2018-05-09 06:24] ksergey opened #327 "Is "on", "ou" and "oc" synchronized with "te"?"
Is "on", "ou" and "oc" messags synchronized with "te" message?

For example
My order firstly partially filled and right after that full filled. What I got from WS2 stream?

[code]
Or its possible to something like that:
[code]
?

[2018-05-09 13:44] f3rno commented on #327
@ksergey the trade events should arrive after the relevant `o*` packets, but keep in mind you will not receive a `on` packet if the order immediately executes or partially fills (documented in the readme [here](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/README.md#will-i-always-receive-an-on-packet))

The expected order should then be:
[code]

If it differs, please let me know :sl

[2018-05-09 13:49] f3rno commented on #326
@Daimakaimura no, only trades on channel 0 (your trades) contain the order ID; public trade channels do not include it.

[2018-05-10 03:54] ksergey commented on #327
@f3rno Thanks!

[2018-05-10 05:59] ksergey commented on #327
@f3rno
[code]

Look at the group of messages `te`-`tu`. Why the order not `te`, `tu`, `te`, `tu`?

[2018-05-10 06:16] ksergey commented on #327
Why I not receive rejects for prices like in message below?
[code]
Instead I got successful response:
[code]

[2018-05-10 10:00] f3rno commented on #327
@ksergey `te` is always faster than `tu`, so if two trades execute very close together you will first receive two `te` messages. `tu` is deferred until further processing has been done on our end.

@ the price sig figs, that is normal, if it exceeds 5 significant figures it is rounded down.

[2018-05-10 10:59] ksergey commented on #327
@f3rno I have checked - this price from market data feed (Raw Books). This not looks like rounded price for BTCUSD instrument.
Why I received price like that?

[2018-05-10 11:13] mixitka commented on #325
@f3rno Any idea, please?

[2018-05-10 14:12] f3rno commented on #327
@ksergey In the example you sent, the requested price was `9070.29206856` and the final rounded price `9070.2` (5 sig figs). Did you receive the `9070.29206856` price from a raw books feed?

[2018-05-10 16:26] ksergey commented on #327
Yes, I received `9070.29206856`.

Sometime ago I contacted with support (support@bitfinex.com). They sent report to their developers but no response.

I can forward full conversation to you

[2018-05-10 23:09] roderickObrist commented on #326
@Daimakaimura, I've been working on this for quite some time.
I have subscribed to both "book:R0" and "trades" and maintained an local copy of the order book and tried to line up the "te" with what's open. Here's what I've learnt so far

1. "te" will come before the equivalent order book update (sometimes up to 1-2 seconds, or 10-30 messages)
2. Either I have no idea what I'm doing or Bitfinex has

[2018-05-11 05:49] Daimakaimura commented on #326
@roderickObrist, indeed that is what I had in mind. The reason I was trying to match the public trades channel messages with the R0 updates is because I realised that OB updates come too late for me. In my case the delay between the Trade (te msg) and the corresponding R0 update is around 100-200 ms. Much less than in your case but still big enough to render my strategy useless. Regarding the hidd

[2018-05-13 10:35] roderickObrist commented on #326
@Daimakaimura , Thanks for the reply.

I'm not saying that all "te" is 1-2s ahead at all times, just on extreme cases. Some tips I can give you if you're trying to reduce lag:
1. Try to find out which geolocation the bitfinex ws server is, and get AWS in the same data center. This can reduce your information lag by up to 200 ms, and your order lag by the same amount.
2. Don't use the REST API, eve

[2018-05-13 18:11] aliveli186 opened #328 "Order book checksum fails from non standard number formatting"
Reference documentation: http://blog.bitfinex.com/api/bitfinex-api-order-books-checksums/

The **number to string serialization** format used in your order book updates seems to be very platform specific implementation which causes conflicts at client side on how to handle the numeric-string representations of the numeric values.

It's not clear:
1) What data type are those numbers? Doubles, decim

[2018-05-14 06:28] UzverNumber47 opened #329 "Keep getting errors 10100 and 429 every time I run my script"
I subcribe only to trade events and after a few seconds get
websocket error: {"event":"error","msg":"auth: dup","code":10100}

It was fine on Staturday but everything went wrong on Sunday May 13

I listen to about 10 pairs if it matters. I tried to recreate api key but nothing changed

Thank you

[2018-05-14 09:13] ksergey opened #330 "Questions about Update Order"
Could you please clarify what values should be in fields `AMOUNT` and `DELTA` in `Update Order` message?

For example, in `New Order` `AMOUNT` should be positive if order side is buy and negative if order side is sell. For `Update Order` the same rules?

The same question for `DELTA`. `Update Order` could decrease order `AMOUNT` via `DELTA`?

This is not clear in official documentation

[2018-05-14 10:01] askmike commented on #276
I am currently having the following output:

v1 rest API:

    { type: 'exchange',
      currency: 'eth',
      amount: '1.2506469',
      available: '0.2506469' },

v2 rest API:

    Wallet {
      domain: null,
      _events: {},
      _eventsCount: 0,
      _maxListeners: undefined,
      type: 'exchange',
      currency: 'ETH',
      balance: 1.2506469,
      unsettledInterest: 0,
      balanc

[2018-05-14 12:17] UzverNumber47 commented on #329
The problem might be in this parameter packetWDDelay: 1 * 1000
When I changed it to 10 * 1000 the issue was gone

[2018-05-14 12:17] #329 closed

[2018-05-14 14:56] ksergey commented on #327
@f3rno Found a new issue with messaging:

[code]

Why I received `on` message right after `n` `on-req` when order already modified? Why not `on`+`ou`? Looks like `on` == `ou`.

And one more question: is notification `on-req` always published? Always published before `on` (or `ou`, `oc`)?

[2018-05-14 15:01] ksergey commented on #327
Is it possible case:
I received notification `on-req`.
Send `Update Order`.
Receive instead of `on` + `ou` only `on`?

[2018-05-15 09:18] seymar opened #331 "Resubscribe after reconnect"
It would be nice if the module automatically resubscribes when a reconnect has happened.
Now I need to manually keep a list of the pairs I want to be subscribed to (the list changes over time).
On `open` I read this list again and resubscribe to all the pairs.

Keeping this list would be unnecessary if the module remembered its subscriptions and therefore save me a whole lot of code.

[2018-05-15 17:31] dubrovsky-kiril opened #332 "How to get account order execution fee"
Hello. Could you please help me with understanding how should I get account order execution fee? Like there is dynamic percentage based on $ you traded. How can I get this percentage? Desirably via web socket api

[2018-05-16 09:18] ksergey commented on #327
Why I receive `on` before notification `on-req`?
[code]

It's unexpected behaviour, because `on` could contain already modified order parameters (i.e. `AMOUNT` != `AMOUNT_ORIG`). I use notification `on-req` to ensure my local order representation is equal to order on the exchange side.

[2018-05-16 20:14] seymar opened #334 "Error: Cannot find module 'bluebird'"
I'm getting the following error:
[code]
Required from:
https://github.com/bitfinexcom/bitfinex-api-node/blob/599df5037f15ea812399d5ab3cd1ebf0c48e12d1/lib/models/order.js#L3

The cause may be:
`bluebird` is not part of the dependency list in [`package.json`](/bitfinexcom/bitfinex-api-node/blob/master/package.json)

I am using **Node v10.1.0**

[2018-05-16 20:37] seymar commented on #332
https://www.bitfinex.com/fees

[2018-05-19 08:54] f3rno commented on #332
@seymar correct, thanks for answering :)

[2018-05-19 08:54] #332 closed

[2018-05-19 08:58] f3rno commented on #334
@seymar a fix is pending merge, thanks for pointing it out :bowing_man:

[2018-05-22 18:02] xFFFFF opened #339 "Orders via WSS or REST?"
In the case of stream, it is known that websocket is faster. However, is the order so? I mean: connect-> send request on every placing order
If it is faster than in REST, what are the disadvantages of websocket?

[2018-05-22 18:11] dubrovsky-kiril opened #340 "Precision level interpretation"
Hello. I don't really understand how to interpret precision levels. Could someone explain me please? For example what P0 means? Like different pairs with the same precision level P0 has different meanings for me.

<img width="771" alt="screen shot 2018-05-22 at 21 05 49" src="https://user-images.githubusercontent.com/8821675/40381424-4dc9acd6-5e04-11e8-9962-432204a3e359.png">

[2018-05-22 19:38] #340 closed

[2018-05-22 20:38] #334 closed

[2018-05-28 11:00] DeBr0glie opened #342 "Error fetching while call base marginInfo"
[code]

[2018-05-28 17:55] Shigawire commented on #339
The idea is to remain connected to the websocket connection the whole time and then send the new order-command when required.

[2018-05-31 07:07] ksergey opened #343 "Strange behaviour in Raw Book data"
Hello,

I found strange for me behaviour in Raw Book data.
Instrument: `ETHUSD`
Date: `2018-05-30`

Constructed depth of market:
[code]

New order add:
[code]
Now we have a cross in book. The cross was until this update:
[code]
Why there is no execution? The order with id `12794470767` just moved from price `568.34` to price `568.37` while order with price `568.36` cross this order.

Could you ple

[2018-06-01 19:32] tux-00 commented on #330
AMOUNT : https://bitfinex.readme.io/v2/reference#ws-auth-orders

[2018-06-03 09:57] adityamertia opened #344 "Frequent - Error: unexpected server response (429)"
Hi,
I am trying to place order  using websocket. However the code works fine sometimes and same code gives following error at other times. This is happening quite frequently and we are not crossing our limit of placing many orders simultaneously. This is essentially only one order placement.

[code]
source code used:
[code]

[2018-06-04 19:21] jtfarks commented on #242
I'm seeing the message: 'Reached Maximum number of orders per 10 minutes'. Do you mean this has changed to 5mins now for the websocket or am i hitting the next level of throttling?

[2018-06-05 08:01] ksergey commented on #330
Resolved

[2018-06-05 08:01] #330 closed

[2018-06-05 14:44] Feynz opened #345 "Detemining if a limit order is executed as a Taker trade"
When making Limit order I know the "te" and "tu" messages indicate if a trade is a taker, though the "oc" is faster. Is there anyway of determining if it's a Taker with the "oc" stream?

[2018-06-12 16:17] f3rno commented on #345
No, currently the maker/taker data is not provided on the `o*` packets.

[2018-06-12 16:17] #345 closed

[2018-06-12 16:19] f3rno commented on #339
@xFFFFF You can keep the connection open between multiple orders :) The WSv2 API is meant for receiving realtime data/creating & managing orders, while RESTv2 is primarily for querying historical data.

[2018-06-12 16:19] #339 closed

[2018-06-13 11:36] fngrl opened #347 "WebSocket connection issues: nonce small or digest invalid"
I am working with the WS2 implementation of the script and randomly receive one of two errors. It usually happens when I try to set a new order and the only way I've found to solve the problem is to restart my app completely or generate a new API key.

The initial authentication works fine, just when I set an order I get those error responses back. I haven't been able to identify a pattern yet.

I

[2018-06-15 02:33] Feynz commented on #345
Turns out you can. If an 'oc' is received for an order and no 'on' was received previously, the limit order is a taker. Not sure if this trick works for partial takers, ie, is the 'ou' received before the 'on' in the case of a partial taker?

[2018-06-16 03:28] dqian commented on #45
250 seems to work

[2018-06-18 05:14] MaxPovver commented on #344
429 is Too Many Requests error
it means that you are calling api too often

[2018-06-18 10:05] balin77 opened #349 "How to unsubscribe from WS2 Ticker"
Hi guys,

Im having an issue - probably due to the lack of experience. I subscribed successfully to the WS Ticker channel:
[code]
The response is:
[code]
Now I would like to unsubscribe, which until now I couldnt get done. I tried

[code]
and
[code]
but I didnt even receive an answer. When I tried to unsubscribe by channel_id like that
[code]
I received this answer:
[code]
As far as I can judge, t

[2018-06-18 18:34] adityamertia commented on #344
@MaxPovver If you see the above code its essentially a single call and not in a loop. There is no other code that is at work apart from this one test code. Only one call cannot generate too many requests. And this issue keeps coming on and off. Any other pointers?

[2018-06-21 09:00] donfyy opened #351 "When will v2 api be in stable like v1 api?"
Will Bitfinex introduce breaking changes into v2 api as described in document https://docs.bitfinex.com/v2/docs?

[2018-06-21 22:19] corpix opened #352 "Strange symbol naming"
What is `t` in symbol name `tETHUSD`?

[code]

And how it differs from `pair` `BTCUSD` here?

[code]

[2018-06-22 08:46] ddeath commented on #344
@adityamertia you still can get too many requests event if you have only one call.

For example if you have poor network connection. I think by default is autoReconnect true, so if you have a network issues you will be reconnecting frequently and it will cause 429.

Try logging how frequently your connection drops and reopens... Maybe the issue is there

[2018-06-25 23:14] SiteBooster opened #355 "Re-subscribing doesn't work correctly"
When I subscribe a candle:
`ws.subscribeCandles(candle_key);`

Then unsubscribe that same candle:
`ws.unsubscribeCandles('t' + query.coin + 'USD', query.time)`

And then subscribe that candle again:
`ws.subscribeCandles(candle_key);`

I seem to get all candle data twice:
_[2018-6-26 01:07:49] Candle data for trade:1m:tXRPUSD:{
 "mts": 1529968020000,
 "open": 0.48054,
 "close": 0.48081,
 "high": 0.

[2018-06-28 05:14] TehCrucible opened #356 "WS2 not returning trades after initial subscription."
Looks like the websocket is not returning live trade data for me. The following code results in a single message containing the initial trade history and no follow up messages as market trades happen.

Am I missing something here?

Package version 2.0.0-beta.1

[code]

[2018-06-28 05:21] TehCrucible commented on #356
Quick follow up. If I initialise the library with the `seqAudit` parameter, it looks like I no longer get the initial set of trades however I do start receiving individual trades after connection.

Am I just misunderstanding something about the sequencing? Is there some documentation on this parameter and what is actually happening here?

[code]

[2018-07-03 07:36] ilyacherevkov opened #357 "Order CID on "OC" event missing"
WS 2 [documentation]( https://docs.bitfinex.com/v2/reference#orders) on orders callbacks says there should be the following structure of order "on", "ou", "oc" update messages:

However, all I get:

I need CID to match local records with orders changes.

[2018-07-03 08:47] #357 closed

[2018-07-04 11:11] davidjirovec opened #358 "Statuses explanation"
`WIDTH CANCELED was: PARTIALLY FILLED @...` - What does it mean?
`insufficient balance (g1) was: partially filled @...` - What does this mean? I had enough balance, otherwise I would not be able to place the limit order, right?

[2018-07-05 08:03] ilyacherevkov opened #359 "Time-in-Force (TIF) orders"
As per [changelog page](https://docs.bitfinex.com/v2/docs/changelog#section-v2018-06-08) new type of order, namely Time-in-Force (TIF) was recently introduced. Any ideas how to pass params to place this type of order? Documentation was not updated.

[2018-07-10 16:14] jean-airoldie opened #360 "Order Book Checksum Mismatch"
Hi,
There seems to be a bug in the ws2 order book checksum feature in which the managed order book's checksum does not match the one provided by bitfinex.

bitfinex-api-node version : 2.0.0-beta.1
OS used : ubuntu 18.04

Minimal amount of code for reproduction (inspired by the provided examples)
[code]
Example output of `$ DEBUG=bfx-client node app.js`
[code]

[2018-07-12 05:46] vsly-ru commented on #352
simply use `'ETHUSD'` for `pair` and `'t'+pair` for symbols.

[2018-07-13 11:02] vsly-ru opened #361 "Error: invalid seq # again"
My script was working fine until i decided to cancel an order for the first time:
[code]
it works fine (log been displayed) and then `ws2.on('error', (err) =>` triggers many times:
[code]
Nothing else is working in the ws2 (`= bfx.ws(2)`) afterwards, it only produces errors.
Just disabled `seqAudit` for now (is it ok to keep it like this?)

**UPD:** After `seqAudit` was disabled, `ws2.onTrades({ p

[2018-07-13 17:05] STOpandthink opened #362 "Can't transfer funds from Exchange to Margin wallet"
I'm using `v1/transfer` endpoint, and getting the following error: "USD cannot be used for Margin Trading. Transfer to Margin wallet not possible."

I've checked API permissions for my key, and everything is enabled.

[2018-07-17 11:40] trimup opened #363 "How to use websocket 2 Authenticated filter"
i use no Channel filters connet is ok!
payload ={"apiKey":"O8L","authNonce":"1531827428723041","authPayload":"AUTH1531827428723041","authSig":"f","event":"auth","calc":1}
connet response:
{"event":"auth","status":"OK","chanId":0,"userId":"","auth_id":"3","caps":{"orders":{"read":1,"write":1},"account":{"read":1,"write":0},"funding":{"read":1,"write":1},"history":{"read":1,"write":0},"wallets":{"re

[2018-07-18 15:44] vsly-ru commented on #363
This is a **node.js** **lib** project page, we simply use it.
In your case: idk what is `Authenticated Channel filter` you mentioned (can't even google it).
If you need to subscribe to trades, wallet, balance etc. do it manually by sending messages like:
[code]
then you get response:
[code]
keep `CHANNEL_ID` somewhere and compare it to `CHANNEL_ID` of updates you'll receive.
Good luck with your pr

[2018-07-18 15:51] vsly-ru commented on #358
What type of order you using exactly? `type: 'LIMIT',` ?

[2018-07-19 09:33] corpix commented on #352
@vsly-ru sorry, but this does not answers the original question. I want to understand the difference between `ETHUSD` and `tETHUSD`. In my opinion "blindly use `this` instead of `that`" is incorrect behaviour.

I have a guess about `t` prefix. Probably it means **t**rading. I came to this conclusion because I have seen `fETHUSD` symbol in the API docs and there are two(or more?) "market types" on

[2018-07-22 10:28] robertkowalski opened #365 "rest2: creating order method missing"
there is no method to create / send an order with the rest2 transport

[2018-07-24 22:06] STOpandthink commented on #362
Hello? This is still an issue. It's big problem, because we only have the API key to access the account, so there's currently no other way to transfer funds between wallets.

[2018-07-25 20:53] jmxdbx commented on #365
If I am implementing using rest v1 for order placement functions, will these functions continue to work?

IIRC, order placement via rest is deprecated for order placement via websockets. But I have heard that the websockets is not as stable?

[2018-08-02 05:31] lostless13 opened #367 "Websocket v2 sequence auditing doesn't handle error responses correctly"
If a request (ie sendOrder method or cancelOrder method) fails (ie rejects the promise) the sequence number auditing begins to report errors.

Steps to reproduce:
1. Enable seq Auditing
2. Open and authenticate WebSocket. (Version 2)
3. Send Order with invalid symbol or amount.
4. Promise is rejected
5. Websocket begins to report sequence errors.

Sample output after cancelling an order:
![image](

[2018-08-02 13:40] ilyacherevkov commented on #360
I'm not even working with Node.js library, buy my own solution doesn't work either (worked previously)

[2018-08-02 21:07] lostless13 commented on #361
I've noticed this too. Basically anytime you try to cancel an order it doesn't work correctly. My suspicion is that there is a promise that doesn't resolve correctly.

[2018-08-03 12:10] ilyacherevkov commented on #360
Seems like I accidentally introduced error into my local orderbook processing. I fixed it and checksum is OK

[2018-08-03 13:12] ilyacherevkov commented on #328
+ 1, also I can't calculate checksum if orderbook is physically smaller than 25 price levels

[2018-08-03 13:18] ilyacherevkov commented on #360
#328

[2018-08-06 20:28] joepegler opened #368 "Order onclose sporadically fires twice."
Any idea why the order close callback might fire twice? It doesn't happen every time - the majority of the time it fires once as expected. Seems to happen randomly.
[code]

[2018-08-07 00:25] electic opened #369 "Websocket Changes Coming 2018"
http://blog.bitfinex.com/api/api-update-september-2018/

If you subscribe to more than 50 subscriptions for trades, will the library create another websocket connection?

[2018-08-09 10:52] algotek commented on #369
I have no idea who come up with this, but are they realize that all and every library need to be updated and all direct api users need to create their own 'load balancer' because of this?

[2018-08-09 11:07] f3rno commented on #369
@algotek we will provide transparent support for an internal connection pool via our API libraries (this one included)

[2018-08-09 11:16] algotek commented on #369
Create a V3 endpoint , introduce the breaking changes there , and enforce new users/api keys to use V3, but do not trash your existing api users. Almost certain you have no idea how big the impact will be. Half of your api users will fall off the cliff.

[2018-08-09 11:25] algotek commented on #369
or simply change all relevant V2 endpoints on sept 1 , so all api users forced to stop. This make sure old api codes won't run into trouble.

[2018-08-09 11:27] prdn commented on #369
There are users that subscribe to 3k channels (150 books, all trades, all candles on a single book).
Ensuring the stability and the proper usage of the websocket feed is our priority. We gave 1 month and will work to adjust this library to support the change.

[2018-08-09 11:45] algotek commented on #369
Why all users need to suffer from a few 3K subscriber, it is not clear. 1 month for all api users is not enough, and the fact that 'old' api codes can continue to run silently is also disturbing.

[2018-08-09 11:57] algotek commented on #369
Not sure if bitfinex can differentiate between let's say introducing a v3 with new changes, and then turn off v2 ,
or keep the v2 but put a few razor blade in it here and there?

[2018-08-09 12:25] algotek commented on #369
Just for example, searching on bitfinex c# libraries (https://github.com/search?l=C%23&q=bitfinex&type=Repositories) , there are about 20 results , 1 updated recently, and they have no idea of the sept1 change either. Thats why I said you blow your api users out of water. (number of custom libraries for all languages: ~500)

[2018-08-09 12:29] prdn commented on #369
Most of them do not seem to support websockets. Also I think that the best way to deal with this is from the user side : https://twitter.com/paoloardoino/status/1023584788081516544?s=19

It's few lines of code really

[2018-08-09 16:31] algotek commented on #369
CHANNEL_ID lost its purpose, since it is not unique anymore across multiple websocket instance.
CHANNEL_ID could be replaced with ticker name.

[2018-08-09 17:06] algotek commented on #369
CHANNEL_ID lost its purpose, since it is not unique anymore across multiple websocket instance.

[2018-08-10 08:48] algotek commented on #369
Does ping the bitfinex server neccessary? I see the websockets which subscribed for public data stucked, with no response whatsoever, with single websocket this never occured before. Did you test this multi websocket connection at all? Why data websockets hang indefinitely?

[2018-08-12 22:29] lellywang commented on #362
i have the same issue

[2018-08-13 03:47] STOpandthink commented on #362
I received a reply from their team. My issue was that I specified "usd" not "USD". Sigh.

[2018-08-13 03:47] #362 closed

[2018-08-13 13:00] nonamenonumber commented on #367
Getting same issue when testing using a read-only api key:
![image](https://user-images.githubusercontent.com/709935/44033093-2d474188-9f01-11e8-8c08-5c376802b1a5.png)

[2018-08-13 13:12] f3rno commented on #368
@joepegler Do you receive multiple `oc` packets? You can check by setting `process.env.DEBUG = '*'`

[2018-08-13 13:55] #363 closed

[2018-08-15 09:39] mkutny opened #371 "reconstructing OrderBook from updates"
Sometimes I receive orderbook updates that request me (by setting COUNT to 0) to delete price levels which I don't have in my local reconstructed orderbook.

I have a hypothesis about why could it legally happen. Browsed through all the issues but wasn't able to find an explanation so decided to open a new one.

Let's say that an orderbook for some symbol contains just 10 ask entries: with prices

[2018-08-15 18:27] nkv42 commented on #45
Still not enough

[2018-08-17 11:33] ilyacherevkov commented on #358
same error. Wtf?

Limit order type used

[2018-08-18 07:25] davidjirovec commented on #358
I've contacted Bitfinex support:

Bitfinex Support <support@bitfinex.com>
Jul 5
to me
Hello david jirovec

Thanks for your email.

I understand you would like clarity on the status messages in your order reports, is that correct?

Cancelled = indicates that your order had not been executed in full.
Partially filled = indicates that part of your order that has been executed, in line with the fluctu

[2018-08-18 08:51] ilyacherevkov commented on #290
I receive this error for normal EXCHANGE LIMIT orders

[2018-08-18 12:28] DevRonin commented on #368
Same issue:
On cancellation:

bitfinex:ws recv msg: [0,"oc",[15612263482,null,1534595130070,"tEOSUSD",1534595130247,1534595160130,2,2,"EXCHANGE LIMIT",null,null,null,0,"CANCELED",null,null,0.1,0,null,null,null,null,null,0,0,0,null,null,"API>BFX",null,null,null]] +1s

bfx:examples:ws2_orders order updated: [15612263482,null,1534595130070,"tEOSUSD",1534595130247,1534595160130,2,2,"EXCHANGE LIMIT",nu

[2018-08-21 08:13] #371 closed

[2018-08-21 09:50] ksergey commented on #327
Hello! Any updates on my issue?

Today I found in logs next messages chain:

My application not received [te] message right after `[ou] Order update, because fill` and not before `[ou] Order update, because price change`.
Looks like it's not expectable behaviour, right?

[2018-08-23 04:39] lostless13 opened #375 "Invalid JSON Websocket Error"
I am continually getting invalid JSON error on the WebSocket. It seems to happen most frequently after an order has been filed. but the data seems to get corrupted somehow. This is making the websocket api unusable. Note this is on Ethfinex.

![image](https://user-images.githubusercontent.com/24193723/44504960-feb04600-a65b-11e8-9cb7-3719ceb5d250.png)

[2018-08-27 10:59] AlessandroSpallina commented on #347
i have the same error when i try to execute two or more rest api in one second, i think this is related to the library nonce generation, need to switch to timestamp with milliseconds

[2018-08-27 16:08] ksergey commented on #347
Or generate another api key

[2018-08-28 16:56] mattfilippone commented on #363
what are the possible CHANNEL_NAMES - no where on their site or docs do they list them.  They have section titles such as "Position Snapshot", "Order Updates" but those strings don't work and neither do the short hand versions 'te', 'ts', 'ps'.  What gives?

[2018-08-29 07:34] #369 closed

[2018-08-29 07:50] #344 closed

[2018-08-29 07:51] #367 closed

[2018-08-29 08:41] f3rno commented on #361
@lostless13 @vsly-ru can you both test this again with latest `master`? It may have been fixed in https://github.com/bitfinexcom/bitfinex-api-node/pull/379 if the issue was due to an error notification.

@vsly-ru the trades issue has been fixed in https://github.com/bitfinexcom/bitfinex-api-node/pull/380

[2018-08-29 11:31] cnm-n opened #381 "Request 'tu' message by order id through ws"
If for some reason (unstable connection) I do not receive 'tu' message, can i request it? Like the rest `orderTrades` method does.

[2018-08-29 13:36] #356 closed

[2018-08-29 13:38] f3rno commented on #343
@ksergey this must be due to the order being updated simultaneously with your order submit; since you receive individual updates one at a time, this is a minor race condition. Closing as not an issue + backend

[2018-08-29 13:38] #343 closed

[2018-08-29 14:07] f3rno commented on #266
Closing as this is outdated; we're adding in a 50 channel-per-socket limitation soon which will limit this problem in the future. It is possible to receive 429 from too many subscriptions/ws requests.

[2018-08-29 14:07] #266 closed

[2018-08-29 14:07] f3rno commented on #275
Closing as outdated, we couldn't find anything unique on the backend.

[2018-08-29 14:07] #275 closed

[2018-08-29 14:08] #269 closed

[2018-08-29 14:09] f3rno commented on #381
@cnm-n no; the WSv2 API is for live updates; if you miss an update it is up to you to query it via our REST API (for historical data)

[2018-08-29 14:09] #381 closed

[2018-08-29 14:19] f3rno commented on #351
Later this year we will release v3 of our API, and freeze v2 in the process. As there is no specific cut-off for v2 features, we cannot provide a more accurate delivery date for v3

[2018-08-29 14:19] #351 closed

[2018-08-29 14:20] f3rno commented on #352
@corpix You are correct, `t*` pairs are trading pairs, and `f*` funding pairs

[2018-08-29 14:20] #352 closed

[2018-08-29 14:20] #358 closed

[2018-08-29 14:25] #327 closed, assigned to nobody

[2018-08-29 14:28] f3rno commented on #326
Closing as the original question has been answered; @roderickObrist I can confirm that this is an inexact science given the fact that we allow hidden orders :slightly_smiling_face: As for the lag & optimization suggestions, all are spot on (and in the case of REST delays, common knowledge)

[2018-08-29 14:28] #326 closed

[2018-08-29 14:29] f3rno commented on #282
Closing due to insufficient info & age; please re-open if it is still happening for you. `master` has moved quite a bit in the meantime

[2018-08-29 14:29] #282 closed

[2018-08-29 14:52] f3rno commented on #349
@balin77 a bit late, but you should prefix the symbol with `t` for trading pairs, or `f` for funding pairs (in your case, it should be `tBTCUSD`)

Then simply provide the same symbol to `unsubscribeTicker()`

[2018-08-29 14:52] #349 closed

[2018-08-29 14:56] f3rno commented on #359
The relevant key to pass to `on` has been added to the docs page: https://docs.bitfinex.com/v2/reference#ws-input-order-new

[2018-08-29 14:56] #359 closed

[2018-08-29 15:36] f3rno commented on #368
@DevRonin can you confirm that you are seeing duplicate `oc` packets on the wire? Pass `'*'` as the debug config string & check the console for received messages

[2018-08-29 15:46] #342 closed

[2018-08-29 15:55] lostless13 commented on #361
@f3rno will do. Would it be possible to update the npm package?

[2018-08-30 15:35] tux-00 opened #385 "New tag"
Maybe you can provide a new tag since there are a lot of changes since the last tag ?

It will help people pulling the new code due to first september changes.

[2018-09-02 21:26] tuloski opened #387 "Empty orderbook WS"
Very often it happens that using WS and the orderbook, with:

[code]

the bids or asks of the book are empty as the following:

`{"domain":null,"_events":{},"_eventsCount":0,"raw":false,"bids":[],"asks":[[0.014833,1,-348966],[0.014834,1,-13923.27456843],[0.014872,1,-11554.07531921],[0.014912,1,-10000],[0.015486,4,-311173.07261],[0.015684,1,-1000],[0.015873,1,-29769.03832663],[0.015954,1,-2320.1199

[2018-09-05 07:59] f3rno commented on #385
Done :dancer:  https://github.com/bitfinexcom/bitfinex-api-node/releases/tag/v2.0.0

[2018-09-05 07:59] #385 closed

[2018-09-05 07:59] f3rno commented on #387
Hmm, this is very strange. Can you share a complete code sample so I can reproduce?

[2018-09-05 08:00] f3rno commented on #375
@lostless13 does this still happen for you? Also, can you confirm it only occurs on efx?

[2018-09-05 08:01] f3rno commented on #361
@lostless13 the package has been updated

[2018-09-05 08:03] f3rno commented on #289
I'm closing this issue since it's out of scope for the node API; it is up to the user to first query data, and then make the relevant request. Due to the async nature of our trading platform, we cannot guarantee a balance calc as accurate for any period of time (since a trade may occur at any moment)

[2018-09-05 08:03] #289 closed

[2018-09-05 08:03] f3rno commented on #288
Closing since, as you said, this was a server issue & should be sporadic. If you still see it, please re-open

[2018-09-05 08:03] #288 closed

[2018-09-05 08:16] f3rno commented on #355
I tried to reproduce today and am unable to; there does seem to be a bug in managed candle handling, in that the latest candle from the managed set is not updated with the most recent candle update, but is updated immediately after & therefore available on the next tick.

Since the managed data functionality is being broken out into a plugin system now (and this bug has been in for some time), I w

[2018-09-05 08:16] #355 closed

[2018-09-05 08:27] f3rno commented on #265
The note meant that the order was sent internally using a legacy system; this was around the time of a major deployment for us, and should no longer occur (it being September now :slightly_smiling_face:)

[2018-09-05 08:27] #265 closed

[2018-09-05 08:28] f3rno commented on #365
I've pinged internally & will update this thread when the method is available. Note that it may take until next month.

[2018-09-05 08:32] f3rno commented on #247
@ksergey I'm closing this as it's an old issue, and mainly applies to concepts on the backend. I'm cleaning up issues now before releasing a complete rewrite of this repo (split into modules), hence the mass-close of old/out of scope issues.

However, if you ever again see dropped notifications on ws2 (the last mention being at end of Feb from you), please open a new issue for it, as that is defin

[2018-09-05 08:32] #247 closed

[2018-09-05 08:43] TehCrucible commented on #356
@f3rno I'm not so sure this is fixed.  I've just updated from the master branch and now I get the initial set of trades but nothing afterwards.

I rewrote my code to use the new Manager class as a test, but same result?  Can someone else confirm it's not just me.

[code]

[2018-09-05 09:07] TehCrucible commented on #356
[code]

I think what is happening here is that your const `eventName` is not being set to `"trades"` as even public trade update messages contain the `te` and `tu` strings, according to the docs:

https://docs.bitfinex.com/v2/reference#ws-public-ticker

So the messages are being processed correctly and assigned to the correct model but are not being delivered through to the `onTrades` callback.  I

[2018-09-05 09:39] TehCrucible commented on #356
Here's my quick and dirty fix.  I'm just checking the payload length as well.  If the msg contains `te` or `tu` AND the payload contains extra info, than it's an auth Trade. Otherwise it's a PublicTrade.

[code]

[2018-09-05 10:51] TehCrucible opened #389 "How do we use methods like onMaintenanceStart with the new ws2_manager wrapper?"
If the manager creates new sockets as necessary, how can we attach maintenance and restart listeners to each socket to ensure we respect the API restart requests and gracefully handle re-subscribing etc.

I would think that we don't want to be managing this logic on each underlying ws2 instance?  Generally speaking, if we have to disconnect, they all have to disconnect and when we want to reconnec

[2018-09-05 11:05] f3rno commented on #389
@TehCrucible very good question, I did not realize this was impossible with the manager. I've opened https://github.com/bitfinexcom/bitfinex-api-node/pull/391 and it should be merged in shortly

[2018-09-05 14:15] ksergey opened #392 "PostOnly orders non-consistent behaviour"
Hello devs!

I found strange order behaviour with postonly flag.
My test case looks like:
1. Place sell limit order with price greater than best bid
2. Update order price to price less than best bid

In this scenario I expect an order with postonly flag will be canceled. But this expectation is not always true.

From my logs  today:

Expected behaviour
[code]

Unexpected behaviour:
[code]

Could y

[2018-09-05 16:09] f3rno commented on #392
@ksergey the post-only flag is only valid for the initial submission to our servers. If you modify an existing order, you are modifying it in place (it retains its position in the price level queue, for example, if the price is not modified), and has already been posted. Hence, it may execute immediately on update.

Think of it this way: even if you assume that after the `ou` price update it is st

[2018-09-05 16:09] #392 closed

[2018-09-05 17:03] lostless13 commented on #375
@f3rno Is it still happening. I pulled the latest code and ran it over the weekend. And was able to track down one scenario that caused the JSON error to be produced reliably.

I would receive an "ou" update partially filling an order.
I would immediately request to cancel the order via the WebSocket prior to the "te" and "wu" confirmations arriving.
The JSON error would occur typically causing th

[2018-09-06 09:46] #389 closed

[2018-09-06 09:46] #331 closed

[2018-09-09 21:13] tuloski commented on #387
@f3rno It's basically the example file about the orderbooks. I just subscribed to different books, so it happens more often, but it happens even with the subscription to a single orderbook.

[2018-09-09 21:43] happypepper opened #395 "BTCUSD raw order book has strange price precisions"
I subscribed to the BTCUSD raw order book and noticed that there are some orders with strange prices:
```[159253,[[16547280766,6188.818114,0.15],[16547234666,6188.801069,0.4],[16547217150,6188.8,0.006],[16547217884,6188.8,0.012],...```
The price precision should be 5 only right?

[2018-09-10 11:04] Steejayy opened #396 "WS2 - crashes application"
Hello Guys,

I'm using your implementation of websocoket to trade on Ethfinex.
Sometimes, after inactivity of 10 mins, 20 mins or 30 minutes, my application seems to crach, I suspect it is linked to the websocket connection.

Idon't understand why, in fact I registered to the on error message, and I reconnect to the WS, but it seems not to be working correctly.

Can you please confirm the timing o

[2018-09-10 11:08] Steejayy commented on #396
Additionnaly, I sent a ping event every five minutes to the server, but still the same error.

Thanks in advance for the reactivity 💯

[2018-09-11 09:06] ksergey commented on #395
@happypepper I have the same issue since last year in market data. The actual number of digits after dot in your example should be 1 (not 5). Check this https://support.bitfinex.com/hc/en-us/articles/115000371105-How-is-precision-calculated-using-Significant-Digits

[2018-09-11 15:58] happypepper commented on #395
Yes, it should have 1 digit after the dot, which would mean a precision of 5.

[2018-09-13 07:48] 4ibo commented on #324
Hi!
What about repeats old bars?

[code]

What it means?
I mean that it's time for 19 minutes, and the server still sends for 18 minutes each time it is updated for the 19th

[2018-09-13 08:15] MaxPovver opened #398 "/v2/ledgers/hist endpoint returns only last two years of ledger entries"
We use /v2/ledgers/hist to get ledger data for our clients.
However whatever parameters we pass there, there is no way to get ledger history older then august 2016. however user has trades in 2014, so ledger entries for 2014 must also be there
What I call 'ledgers/hist' with parameters 'limit' => 5000
What expect to see:
all 5000 ledger entries
In fact I receive only last 3700 entries, first in au

[2018-09-13 13:32] angryhorse0905 opened #399 "LOGIC error: Resubscribing to previous channel when ws2 closed does not work properly."
Here's ws2 close function.
[code]

The problem is here.
_isClosing is still true when try to resubscribe channels in _onWSClose() function. so it can't jump into the if case to resubscribe.
FIX FIX FIX

[code]

[2018-09-14 13:58] ksergey opened #400 "WS2 mission order update messages"
Hello!

My app missed messages from ws2 api. Look at my log below - I got no response on `on` message.
Why its happened? It's not a single case, drops started with start of this week. Sometime I missed `on`, sometime `oc`. It's critical for my trading app.

[code]

[2018-09-14 14:27] furmanOFF commented on #400
Same for me
Website shows "insufficient balance" popup (from ws2 API order), but websocket silently ignores it.
SEQ_ALL shows no drops (next "hb" with correct seq)
Also incorrect symbol or other obvious error does get a response

[2018-09-15 18:16] f3rno commented on #396
@Steejayy can you provide a stack trace/specific error message? This is not enough info to debug

[2018-09-16 19:10] tr91 opened #402 "Please provide a method for REST v1 to post "ReduceOnly" orders"
When are you planning to port this over to REST v1 as well? instead of only keeping it on WSv2?

[2018-09-17 15:23] ksergey commented on #400
Again today

[2018-09-18 10:55] ksergey commented on #400
Again today. No response on `on` (no `on` and no `on-req`):
[code]

Whats going on?

[2018-09-20 00:13] ojoaofernandes commented on #395
Hi guys,

It isn't a lib issue. Unluckily it's coming from the Bitfinex API.
@f3rno, could you please close this issue?

Cheers,
João Fernandes

[2018-09-20 06:11] MaxPovver commented on #398
UPD:
got response from bitfinex support after almost 2 months waiting, they say it is expected because of servers migration and will last up to 2 months. Also they said it will be limited to 3 months for now:

[2018-09-20 16:36] tux-00 commented on #399
I agree !

[2018-09-25 08:03] nonamenonumber opened #403 "WS2 onCandle only returning snapshots"
Not sure when/what changed but I only seem to recieve snapshots from the onCandle method for WS2, rather than just the most recent candle as previously.

[2018-09-25 16:33] tuloski opened #404 "Multiple WS continuously closing and reopening"
Due to the new change in WS policy to have at most 50 subscription per WS (https://www.bitfinex.com/posts/267) I'm creating multiple instances of bfx to have multiple websockets and subscribe to different markets.
But since I made that modification the ws very often close and reopen (autorecconnect = true). And it's very annoying and sometimes it causes errors.
Any tip/idea? Is the fault of the se

[2018-09-25 17:09] tux-00 commented on #404
Same problem

[2018-09-27 07:08] slidenerd commented on #369
if you are gonna do this, I have one suggestion for you, kindly add an option to subscribe to all tickers over websocket instead of sending a subscription message for each pair, take a look at the other exchange codebases, none of them that I am aware of require one subscription per pair to retrieve all tickers, the purpose of a ticker is to give an overall state of the market on that exchange, wh

[2018-09-27 14:55] f3rno commented on #404
@tuloski @tux-00 are you guys using the new WS2 manager class for this? https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/ws2_manager.js

[2018-09-27 14:56] f3rno commented on #403
@nonamenonumber nothing has changed, you should also receive new candles after the snapshots. Can you share the candle key you are using for the subscription?

[2018-09-27 15:58] tux-00 commented on #404
Yes!

[2018-09-27 17:16] tuloski commented on #404
@f3rno Nope, I'm using the normal ws2

[2018-09-30 08:02] tux-00 commented on #404
@tuloski Are you using the 2.0.0 tag or the master ?

[2018-09-30 17:52] tuloski commented on #404
@tux-00 master from npm

[2018-09-30 17:59] tux-00 commented on #404
I was using 2.0.0 tag but I changed 4 days ago and node hasn't crashed since 4 days.

[2018-09-30 19:12] tuloski commented on #404
@tux-00 so master + ws manager seems to work?

[2018-09-30 21:11] tuloski opened #406 "Nonce too small"
When doing the auth via ws I'm getting the error: auth failed: nonce: small (FAILED)

The following is the used snippet
[code]

[2018-09-30 21:13] tuloski commented on #406
And the ws keeps closing and reopening as in https://github.com/bitfinexcom/bitfinex-api-node/issues/404

[2018-10-01 12:00] tux-00 commented on #404
Yeah try it and tell us.

[2018-10-01 12:01] tux-00 commented on #406
Maybe linked with https://github.com/bitfinexcom/bitfinex-api-node/pull/405

[2018-10-02 22:04] vansergen commented on #406
Probably, [auth()](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/ws2.md#WSv2+auth) returns an error because you are already authenticated. Did you try to listen for `auth` message?

[code]
I had the same problem with reopening. You can try `packetWDDelay: 50 * 1000`. It worked for me.

[2018-10-03 07:17] tuloski commented on #406
Yeah, see my attached snippet. I'm listening to 'auth' but I'm not receiving it.

But there is not this problem on 2.0.0. It's there only on master.

[2018-10-03 18:15] vansergen commented on #406
I just switched to `master` branch and received the same error:
[code]
It happened because of [this commit](https://github.com/bitfinexcom/bitfinex-api-node/pull/405/commits/0e85dd340ffbaae4ce8e73696b7d54432829d4f1) So, I changed the line
[code]
to
[code]
in the [nonce.js](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/util/nonce.js) file and authenticated successfully.

[2018-10-04 08:20] Steejayy commented on #396
hello @f3rno  sorry for the late reply.
------------------------------------------------------
This is the stack :
 Error: ws not open
    at WSv2.send (/home/ubuntu/dte/source/node_modules/bitfinex-api-node/lib/transports/ws2.js:1135:33)
    at Promise (/home/ubuntu/dte/source/node_modules/bitfinex-api-node/lib/transports/ws2.js:219:12)
    at Promise._execute (/home/ubuntu/dte/source/node_module

[2018-10-04 08:43] Steejayy commented on #396
Sorry not to flood, but trying to give you all the informations I have.

When I try reconnecting, I have the error:
 at ClientRequest._req.on (/home/ubuntu/dte/source/node_modules/ws/lib/WebSocket.js:653:21)
    at ClientRequest.emit (events.js:182:13)
    at ClientRequest.EventEmitter.emit (domain.js:442:20)
    at HTTPParser.parserOnIncomingClient [as onIncoming] (_http_client.js:546:21)
    at

[2018-10-05 14:07] f3rno commented on #399
@angryhorse0905 this is by design, since the client should not reconnect if you've explicitly called `close()`, otherwise you would be unable to ever actually close the connection. The auto reconnect logic is meant to be triggered on an unexpected close; if you've manually closed, then you will need to manually re-open the connection yourself.

[2018-10-05 14:07] #399 closed

[2018-10-05 14:10] f3rno commented on #404
@tux-00 does `autoReconnect` not solve this problem for you? We cannot handle connection reset errors since they are on the network layer, and not the API itself.

This relates to the main issue here; if multiple clients disconnect sporadically, it is not something that can be solved in this repo since the issue is the network connection between you and the server.

[2018-10-05 15:12] tux-00 commented on #404
The autoReconnect do not change anything, after reading this : https://github.com/bitfinexcom/bitfinex-api-node/issues/399#issuecomment-427378285 maybe and since the lib seems to catch error of ECONNRESET can we and a code like this ?
[code]

[2018-10-06 02:46] vansergen opened #409 "OrderBook class is not working properly with funding pair"
When I subscribe to a funding order book
[code]
I receive the order book with no `asks` only `bids`. The output is
[code]

[2018-10-07 13:27] tuloski commented on #404
My error of disconnection seems very likely related to "seqAudit: true". I cannot be sure, but after some tests it seems that.
I read that the seq audit is not working, so why keeping it there which creates only problems?

[2018-10-07 14:17] tuloski opened #413 "Questions about WS manager"
I have a few questions/doubts about the ws manager:

- If I have more than one WS because I pass the 250 limit, and give to the manager the key to authenticate, it seems both ws will authenticate. Intended or not?
- It's written that I can get the reference to a free ws using getFreeSocket, but that doesn't seem implemented.
- If I use getSocket() I get the ws state which atually doesn't include t

[2018-10-07 14:17] tuloski commented on #413
PS: why the limit is 250 channels if the documentation says 50?

[2018-10-07 19:44] cwolters opened #414 "Missing handling of returned promises"
Hi.

While having a real, real bad internet connection in a train turning on/off a lot, I get some upper-level application errors. Means, that there are unhandled returned promises in the reconnection path.

I found a few in ws2.js ->

`reconnect () {
    if (!this._ws) return this.open()

    this._isReconnecting = true

    return new Promise((resolve, reject) => {
      this.close().then(() =>

[2018-10-09 07:50] slidenerd commented on #182
I apologize if this is a silly question, I havent come across this calc thing on other exchanges, I read the docs here too https://docs.bitfinex.com/v2/reference#ws-input-calc what exactly is this calc for? to get interest rates for loaning crypto to other trades?

[2018-10-09 12:07] f3rno commented on #413
@tuloski the limit was 250 before the change was rolled out, and was reduced shortly before release. I simply forgot to update constant, fixed by https://github.com/bitfinexcom/bitfinex-api-node/pull/415

The PR also fixes the mention of `getFreeSocket()`, as it is `getFreeDataSocket()`.

It is intended that all sockets are authenticated, but this may be changed as the manager is meant to be used

[2018-10-09 14:45] f3rno commented on #182
@slidenerd the calcs it affects are usually performed async & on an interval; if you require an updated value immediately you can manually request a calc to be performed. It's used for position P/L, wallet balances (available vs total), and margin/funding stats (total borrowed/offered, etc)

[2018-10-10 08:54] tuloski commented on #413
BTW even with 250 it wasn't complaining and no error were received.

[2018-10-10 10:37] f3rno commented on #413
@tuloski where did you see a limit of 50 in the docs?

[2018-10-10 11:04] tuloski commented on #413
https://www.bitfinex.com/posts/267
But actually it seems it's 250. Sorry for the confusion :(

[2018-10-10 11:33] f3rno commented on #413
Yes I saw :see_no_evil: we did actually change it before release, I thought it had happened twice but no, 250 was the final one. I already reverted the commit.

I'll close this issue now, if you have more questions feel free to re-open

[2018-10-10 11:33] #413 closed

[2018-10-10 11:40] #361 closed

[2018-10-10 19:51] f3rno commented on #396
@Steejayy if you have `autoReconnect` set, then you should not reconnect manually in `on('close', ..` since it already occurs automatically after a delay, after emitting the 'close' event. So your code above will reconnect twice, potentially causing problems.

You should not reconnect on error, but leave `autoReconnect` on and maybe use the packet watchdog to cycle the connection if packets stop a

[2018-10-11 13:02] f3rno commented on #409
Closed by https://github.com/bitfinexcom/bitfinex-api-node/pull/411

[2018-10-11 13:02] #409 closed

[2018-10-11 14:01] sullyfischer commented on #255
Did you find the answer to this? Could you please share a link or something with me. Thanks.

[2018-10-12 13:56] #414 closed

[2018-10-15 21:30] Steejayy commented on #396
@f3rno thanks. The problem was that with the autoreconnect I wasnt authenticated. For the moment is working with the manual reconnect. Will let you know if any other issue. thanks for the follow up

[2018-10-15 21:30] #396 closed

[2018-10-16 05:49] tttttvf opened #419 "api timeout"
Recently when I was using the V1 version of the api, I encountered a program call connection timeout, but the browser and postman had no problem. What happened? I just used the public API and asked https://api.bitfinex.com/v1/pubticker/BTCUSD
![image](https://user-images.githubusercontent.com/23305591/46995220-50e88180-d14a-11e8-962f-8dc4aa18bbbf.png)
![image](https://user-images.githubusercontent

[2018-10-16 07:58] f3rno commented on #419
@tttttvf the frontend likely retries the request if it fails, whereas you need to do this yourself with the node API. The platform was probably overloaded in that instant, we've been seeing a lot of volume lately.

[2018-10-16 07:58] #419 closed

[2018-10-16 12:51] f3rno commented on #368
Closing as I'm unable to reproduce; if it happens again for anyone, please re-open

[2018-10-16 12:51] #368 closed

[2018-10-16 12:53] f3rno commented on #395
Yes, this is fine; it's due to the virtual order books price calcs (JPY, USD, EUR, etc)

[2018-10-16 12:53] #395 closed

[2018-10-16 12:56] f3rno commented on #387
Closing as I'm unable to reproduce, please re-open if you see it again

[2018-10-16 12:56] #387 closed

[2018-10-16 14:53] sullyfischer opened #420 "Request for a release"
I had some issues with the latest release, looked for it in the issues section and found a suggestion to install the latest commit instead and it worked. But that makes the package.json messy and produces its own issues. If the master branch is fine by all means, could you please create a release for it?
Thanks

[2018-10-16 15:47] tux-00 commented on #420
I agree, the project need more releases.

Le mar. 16 oct. 2018 à 16:53, Sully Fischer <notifications@github.com> a
écrit :

[2018-10-18 10:21] #420 closed

[2018-10-22 15:56] karthik947 opened #422 "Error: connect ETIMEDOUT"
While using websockets subscribeTicker function, receiving below error. Any suggestions on how to stabilize websockets connection ?

{ Error: connect ETIMEDOUT 100.43.134.145:443
    at Object._errnoException (util.js:992:11)
    at _exceptionWithHostPort (util.js:1014:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1186:14)
  code: 'ETIMEDOUT',
  errno: 'ETIMEDOUT',
  syscall: 'con

[2018-10-22 17:34] f3rno commented on #422
No, it's a network issue. We cannot guard against timeouts, but there is functionality to help cope with them (see `autoReconnect` and `packetWDDelay`)

[2018-10-22 17:34] #422 closed

[2018-10-23 10:37] angryhorse0905 opened #423 "Websocket keeps error only in case of calling cancelOrders()."
![image](https://user-images.githubusercontent.com/9893919/47354854-6897ab00-d6f2-11e8-9b7c-9e7f99672dfa.png)

So here's the code.
![image](https://user-images.githubusercontent.com/9893919/47354903-8fee7800-d6f2-11e8-8dce-bcbc9b0b16f2.png)

The code close some orders recorded in my db when a position got closed.
I only call cancelOrders() ws2 API once, but it keeps showing error after cancelOrder

[2018-10-23 10:39] angryhorse0905 opened #424 "onOrderSnapshot() does not return active orders immediately."

[2018-10-24 09:38] sullyfischer opened #426 "Does Trailing stop order require "price"?"
This wasn't mentioned, neither on the official docs nor on this repo. When submitting a "TRAILING STOP" order, is the `price` field required?

[2018-10-24 10:09] f3rno commented on #426
No, the trail distance is provided via `price_trailing`, you can omit `price`

[2018-10-24 11:28] sullyfischer commented on #426
Thank you for your fast respond. Please mention this in the docs as well. Because it's already giving more details for MARKET orders:

Which is misleading as in like it's only not required for MARKET orders.

[2018-10-24 11:28] #426 closed

[2018-10-24 15:14] angryhorse0905 commented on #423
`bfx:ws2 subscribed to ticker [380009] +3s
  bfx:ws2 recv msg: [380009,[0.49795,117219.03748219,0.49796,55984.2956652,0.00094,0.0019,0.49799,3436159.63584727,0.5068,0.49272],8] +0ms
2018-10-24 16:12:05 LiveTrader(tIOTUSD) debug: received a ticker 【2018-10-24 15:12:05】 BID: 0.49795, ASK: 0.49796
  bfx:ws2 req calc: [0,"calc",null,[["margin_sym_tIOTUSD"]]] +671ms
  bfx:ws2 req calc: [0,"calc",null,[

[2018-10-24 15:18] angryhorse0905 commented on #423
So let me explain the above situation, above log is bitfinex-api-node DEBUG=bfx:ws2 result.
STEP 1: I opened a position and have LIMIT or
STEP 2: I closed the position, and after I received position update (CLOSED) event, i cancel two orders (1 LIMIT order, 1 STOP order), after I call cancelOrders() I got above errors.

[2018-10-24 15:20] angryhorse0905 commented on #423
@f3rno anyway thank you for your quick response, I would like to attach the log screenshot so you can check more.
I call this cancelOrders() with order ids parameter, and it works. my orders are cancelled. but after that I got bitfinex websocket, {} error. empty message.
I guess this is NONCE error?
How can I sovle this issue? Should I attach listener to order cancel action?
[code]

Thank you so m

[2018-10-24 16:00] angryhorse0905 commented on #423
Here's much more simple case.
WORKING case ( I guess) as I am seeing to receive oc event after 3 orders are closed.
[code]

Here's the not working case.
[code]

You see it? Instead of oc events for 3 orders, I receive websocket erorr.
The interesting thing is there's no error message.

But above errors are printed from my code. Here you go.
[code]

[2018-10-24 16:35] f3rno commented on #423
@angryhorse0905 `log.error(`error in bitfinex web socket, ${JSON.stringify(err)}`);` can you do `${err.message}` instead so we can see what the error itself actually is?

[2018-10-24 18:00] angryhorse0905 commented on #423
2018-10-24 19:00:27 Bitfinex error: error in bitfinex web socket, invalid seq #; last 6, got 9
2018-10-24 19:00:27 Bitfinex error: error in bitfinex web socket, invalid seq #; last 6, got 10

[2018-10-24 18:01] angryhorse0905 commented on #423
![image](https://user-images.githubusercontent.com/9893919/47451233-24bea780-d7bf-11e8-8bf8-0954df36ea92.png)

U see i have 3 orders.
Now I cancel orders, orders are successfully cancelled.
but I get this error.
success
2018-10-24 19:01:19 Bitfinex error: error in bitfinex web socket, invalid seq #; last 6, got 10
2018-10-24 19:01:19 Bitfinex error: error in bitfinex web socket, invalid seq #; las

[2018-10-24 18:07] angryhorse0905 commented on #423
only happens if seqAudit:true.

[2018-10-25 00:02] angryhorse0905 commented on #423
@f3rno would you be able to update me?

[2018-10-29 18:46] tuloski commented on #387
I always see it. It is never gone.
It's there also with the ws manager.

To reproduce: subscribe to all books and try to access the first element of the orderbook (with manageOrderBooks: true,  transform: true)

[2018-10-29 22:11] wierzbix83 commented on #404
I have the same, seems that any network issues break the app - it gets into reconnect loop:
INFO ats-mdc-bfx-pb 2018-10-29T22:09:16.208Z closed +40s
  INFO ats-mdc-bfx-pb 2018-10-29T22:09:16.469Z opened +261ms
  INFO ats-mdc-bfx-pb 2018-10-29T22:09:26.617Z closed +10s
  INFO ats-mdc-bfx-pb 2018-10-29T22:09:26.762Z opened +145ms
  INFO ats-mdc-bfx-pb 2018-10-29T22:09:36.904Z closed +10s
  INFO ats-

[2018-10-29 22:18] wierzbix83 opened #427 "How can I unsubscribe candles subscription with Manager"
Hi I use WS Manager, I can easily subscribe to observe candles (list of candles in my case)

`candlesToObserve.forEach((value, index) => {
            //subscribe for changes
            this.manager.subscribeCandles(value)
            //add handler to cb on changes
            this.manager.onCandle({ key: value }, (candles) => {
...}}`

I'd like to reload config but it seems that unsubscribe has

[2018-10-30 08:38] AuxoLabsHRM opened #428 "Withdraw/Deposits"
What is the Rest-API for withdraw and Deposits?

[2018-10-30 11:28] f3rno commented on #387
I just did, several times, all OBs come in with populated `bids` and `asks` arrays. Is there anything unique about your setup? I ran the `ws2_manager.js` example with extra logging checking the length of the arrays.

[2018-10-30 11:34] tuloski commented on #387
When you get the OB, try to access the first element of the array. It will get the error sooner or later.
I'll try to cut the code I'm using and post it here.

[2018-10-30 11:37] f3rno commented on #427
@wierzbix83 you need to unsubscribe with the channel ID; it is returned on the subscription event:

[code]

The manager also emits this event, so you can listen for it with `manager.on('subscribed', ({ chanId, key }) => ...`

Note that the object you get back from the event will also have the key for the candle subscription, I included it in my example above. This will be in the form `'trade:1m:tB

[2018-10-30 11:38] f3rno commented on #423
@angryhorse0905 I'm still waiting to hear back internally, the problem is the `oc-req` is missing a sequence number, unlike other notifications. In the meantime you can disable sequence auditing (`seqAudit: false`) until it is fixed. Apologies for the delay

[2018-10-30 11:40] f3rno commented on #428
Withdraw/deposit is only available on v1 of the REST API; the calls are `withdraw` and `new_deposit`:

[code]

[2018-10-30 11:40] #428 closed

[2018-10-30 12:02] f3rno commented on #387
Alright, reproduced after two minutes :+1: I'll investigate

[2018-10-30 12:32] f3rno commented on #423
Notifications no longer advance the auth sequence number, and I've opened a PR taking this into account. Since the change won't be deployed to production for the next few weeks, I'm delaying merge until then. For now, please disable sequence auditing (`seqAudit: false`)

[2018-10-30 12:46] nonamenonumber opened #430 "Connection loop after some time"
Hello,
We have code to collect all 1m candles (all assets/pairs). It runs in two threads (node clustering) with each thread having a BFX WS2. Each thread will subscribe up to 250 pairs (current limit). This works fine for some time until it hits what I can see as a connection open loop?

For example, I started the process at about 17:14 yesterday, it subscribes to each pair fine and streams data.

[2018-10-31 12:04] nonamenonumber commented on #430
Doing the same for public trades (collecting all pairs, 250 a thread/websocket) seems to hit the connection loop much quicker than candles. Could the disconnects be volume related?

[2018-11-03 23:40] wierzbix83 commented on #427
@f3rno seems it doesn't work, anyway it is a bit cumbersome to keep additional key to channel id map, after some diggin it seems that this function returns false and nothing gets unsubscribed:

  hasChannel (chanId) {
    return _includes(Object.keys(this._channelMap), chanId)
  }
![image](https://user-images.githubusercontent.com/44018119/47958337-d765e580-dfc9-11e8-9b4c-4bd5bbca59eb.png)
And not

[2018-11-06 15:21] qrpike opened #431 "Strange issues after upgrading to 2.0.1"
Everything was working fine, however when I upgraded to v2.0.1 I am getting really strange errors.

I subscribe to trades, however when I use `ws.onTradeEntry({ pair: symbol }, ( data ) => {})` I am getting trades for other pairs other than the one in that callback. When I revert to 2.0.0 it works fine.

[2018-11-08 09:16] f3rno commented on #427
@wierzbix83 you need to pass string channel IDs; this is visible in your screenshot (note that the collection is of strings, but value is a number)

[2018-11-08 09:17] f3rno commented on #431
@qrpike can you try passing `symbol` to `onTradeEntry`? So `ws.onTradeEntry({ symbol }, ...`

[2018-11-09 00:02] wierzbix83 commented on #427
@f3rno ok that worked :)
Are you going to make some kind of unsubscribe that will accept the same argument as subscribe operation or this will remain as the only option for some time?

[2018-11-12 19:48] tuloski opened #432 "Cannot read property 'ws' of undefined"
I'm using this code:

[code]

And I get:
../lib/ws2_manager.js:369
    s.ws.onTrades({ symbol, cbGID }, cb)
      ^

TypeError: Cannot read property 'ws' of undefined

But the commented code in the snippet above (taken from the examples) which gets all the symbols and subscribes to all trades works. Am I doing something wrong?

How is the correct way to subscribe only to some pairs, and possibly t

[2018-11-13 09:19] f3rno commented on #432
Hmm, very strange. Does the `ws2_manager` example work for you? It does the same thing internally, and it works for me.

[2018-11-13 14:47] f3rno commented on #427
@wierzbix83 that's the way the API does it (by channel ID), so there is no plan to change it. I might add a helper in the future using the local channel map

[2018-11-13 14:47] #427 closed

[2018-11-13 14:47] f3rno commented on #398
@MaxPovver any difference now?

[2018-11-13 14:48] f3rno commented on #325
`ox_multi` doesn't support `ou` (apologies for the late response, I was waiting for an answer internally and forgot to update)

[2018-11-13 14:48] #325 closed

[2018-11-13 14:51] #246 closed

[2018-11-13 14:53] #323 closed

[2018-11-13 14:54] f3rno commented on #400
I'm closing this, I honestly have no idea why it is happening and it is a server issue. Please re-open if it occurs again, as we've since had a platform update, but do not expect a quick resolution

[2018-11-13 14:54] #400 closed

[2018-11-13 14:55] f3rno commented on #402
RESTv1 is deprecated and does not receive updates. We are planning on releasing RESTv3 soon :)

[2018-11-13 14:55] #402 closed

[2018-11-13 14:57] tr91 commented on #402
ETA? Planning, your v2 has been in BETA for 1 year +

[2018-11-13 14:58] #424 closed

[2018-11-13 16:05] tuloski commented on #432
Yes, that works....that's why it's strange.

[2018-11-13 21:16] MaxPovver commented on #398
@f3rno yes, now it finally returns all data, thanks! Although I am 99% it is still missing some initial deposits. Because for one of our users, his USD ledger history starts from [....,"USD",null,1449133933000,null,-3.6233,18620.66915659,null,"Trading fees for 10.0 BTC @ 362.33 on BFX (0.1%) on wallet exchange"]]
And his BTC ledger history starts from:
[....,"BTC",null,1449133934000,null,10,10,nul

[2018-11-14 03:17] leepupu opened #433 "Got TypeError: Cannot read property '0' of undefined when ws long time running"
Here minimal code basically from example:
[code]

After about 14 hours I got error from bfx-api-node-models and process crashed:
[code]

versions:
[code]

Running on GKE, network might not be the problem.

[2018-11-14 09:48] f3rno commented on #433
@leepupu can you enable logging and post the last few messages before this error? Specifically the incoming order book packets; it looks like the order book has an empty price level, which should never happen. This is very difficult to debug on my end.

[2018-11-14 09:55] f3rno commented on #432
Does this happen immediately when you run the code, or only after a reconnect event?

[2018-11-14 09:55] f3rno commented on #402
v3 will be out next year, but I don't have an exact ETA

[2018-11-14 10:06] tr91 commented on #402
So basically the same forever beta as v2? All it takes is for you to make one more variable that accepts boolean like "is_hidden"

[2018-11-14 10:32] f3rno commented on #402
Alright, I will push for a full-featured order submit method on RESTv2.

[2018-11-14 19:22] MaxPovver commented on #398
Thanks for your help anyway!

[2018-11-15 11:00] leepupu commented on #433
@f3rno
I enable logging with DEBUG='bfx:*' and got some logs before problem happened.
[code]

[2018-11-16 10:14] f3rno commented on #432
Ah, I see the problem: `m.onTrades((trades) => {` needs to be `m.onTrades({ symbol: 'tBTCUSD' }, (trades) => {`

I'll add an error to make this more obvious in the future

[2018-11-16 10:16] #432 closed

[2018-11-17 02:50] leepupu commented on #433
I tried to dump _orderBooks when problem happened, and i got

[code]

[2018-11-17 08:03] leepupu commented on #433
Finally I got the problem,
When server clear all the orders (maybe rebuild for syncing?), the _orderBooks[symbol] will become empty array and code [here](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/lib/transports/ws2.js#L650) will generate an orderbook instance with something like this:

[code]

And this instance pass to my callback function which think bids/asks will always be ar

[2018-11-17 08:03] #433 closed

[2018-11-17 08:43] ladanovn commented on #197
Question about requests for historical data through the API is still open?
I'm trying to use the accountTrades method, but it returns an empty array.

[2018-11-17 22:17] MauriPastorini opened #435 "Subscribe ticker for a lot of symbols crashes"
Hi, using websockets when I try to subscribe to a lot of symbols, the library crashes instantaneously.
What can I do please?

Here is my code:
[code]
Error:
[code]

Regards

[2018-11-19 08:47] f3rno commented on #435
@MauriPastorini can you add an error listener to see what the error actually is? Code:

[code]

[2018-11-19 08:54] f3rno commented on #433
@leepupu I'm glad you figured it out! I've pushed a commit to `bfx-api-node-models` to prevent inserting an empty array when the update packet is empty, this should prevent the problem in the future so your logic does not fill it with `null`.

[2018-11-20 03:07] leepupu commented on #433
Thanks a lot! I'll upgrade it to latest version.

[2018-11-24 14:30] sullyfischer opened #436 "Please consider publishing a @types/bfx-api-node-models"
Doing so would help a lot those writing typescript. I am personally working on a very high level trading bot which works on Bitfinex:
https://medium.com/@fischersully/introducing-jesse-an-open-source-ai-built-in-crypto-trading-framework-6692907b0f0f

I'm using this library so far, and I could really use a @types/bitfinex-api-node package.

Thanks in advanced.

[2018-11-25 16:31] #436 closed

[2018-11-26 16:50] msam6444 opened #437 "Funding Offer are not cancelling via websocket."
I am able to subscribe to the Funding Credit and receiving response as described over here https://docs.bitfinex.com/v2/reference#ws-auth-credits

So following is my response:

[code]

But now when I try to cancel the offer it didn't work. I sent the following message to my web-socket:
[code]

Nothing gets canceled. https://docs.bitfinex.com/v2/reference#ws-input-offer-cancel

P.S: I can cancel or

[2018-11-29 13:38] jorisw commented on #436
Howcome you closed this? Did you find a solution?

I can't use this library in my TS project without using `@ts-ignore` where I initialize the BFX class.

[2018-11-29 15:08] ddeath commented on #436
I would say this will not happen anytime soon. It does look like there is no much effort put into this. Also take a look at others repos, they are quite broken. This is too much for one developer to maintain all that code (I assume that Chris is doing all work alone...)

[2018-11-29 15:32] #437 closed

[2018-12-07 15:35] duelingbanjos opened #439 "Trailing stop syntax"
I'm trying to write a trailing stop into my code, but can't seem to get the syntax correct, or find any documentation to do with it.

currently my code looks like this - can you see where I'm going wrong ?

      const bfxOrder = new Order({
        cid: Date.now(),
        symbol: order.ticker,
        price_trailing: 30,
        amount: order.amount,
        type: Order.type.TRAILING_STOP,
    }

[2018-12-07 22:11] duelingbanjos commented on #439
found what I needed here : https://github.com/bitfinexcom/bfx-api-node-models/tree/master/lib

[2018-12-07 22:11] #439 closed

[2018-12-08 19:42] tuloski opened #440 "Book not updated on trades"
I don't know if it is supposed to be like this, but when I receive a trade event on a pair, I don't get the update on the book on the same pair.

I'm using the manager with "subscribeOrderBook".

[2018-12-08 19:46] tuloski commented on #440
Example.
I have the initial orderbook on pair MGOETH (only the bid):
----------- BOOK MGOETH -------------
[0.005504,1,120.7548] [0.0055433,1,-733.34310142]
[0.005418,1,120] [0.005544,1,-180]
[0.005382,1,101.6853] [0.00555,1,-637.8564653]

Then a trade occurs (at 54 seconds and 770 milliseconds):
20:16:54:770 Trades MGOETH: [{"id":321617015,"mts":1544296614681,"amount":-120.75373703,"price":0.0055

[2018-12-10 08:29] MB911 opened #441 "API for Transferring Between Wallets"
Since the "Transfer Between Wallets" API is available for the version 1 only, where the wallet types used to be Exchange, Trading and Deposit, I need help to find the relationship between the wallet types of V1 and that of V2 viz. Exchange, Margin and Funding.
When I make the /v1/balances call, I get same balance in the trading wallet as I do in my margin wallet from the v2/auth/r/wallets call.
So

[2018-12-10 16:55] Gennttii opened #442 "Ticker mistake"
Hi, there is a mistake in ws2 ticker.

Ticker.volume shows 24h low price ,
ticker.high shows 24h volume.

If you can fix it...

Regards

[2018-12-10 17:04] Gennttii commented on #442
In fact everything is wrong...

Idk if this is to me only, but all tickers show wrong..:

` { bid: 'tUSTUSD',
  bidSize: 1.0239,
  ask: 502918.97813422,
  askSize: 1.0243,
  dailyChange: 428240.763708,
  dailyChangePerc: -0.01,
  lastPrice: -0.0097,
  volume: 1.0238,
  high: 5252503.16175535,
  low: 1.0338 } +280ms`

[2018-12-11 03:57] Indiana3714 opened #443 "Insufficient balance when submitting market order?"
Why is my order being accepted but only partially? Shouldn't you be rejecting the order and give an error that states XXX BTC/USDT required rather than partially accepting it? No docs on partially accepted orders in any API docs from what I found.

Please advise how I should handle such cases thank you!

[2018-12-12 12:41] MarkGriffiths commented on #442
Can confirm the above... I get:

[code]

[2018-12-12 16:24] f3rno commented on #443
We reject orders if there is insufficient balance to fill them; can you provide a way to reproduce the behavior where they are accepted and partially filled?

[2018-12-12 16:31] f3rno commented on #440
Yes this is normal, the book updates are sent periodically, sometimes representing multiple trades during times of high activity. You did receive the update, only ~1 second later

[2018-12-12 16:31] #440 closed

[2018-12-12 16:33] f3rno commented on #436
@ddeath how are the other repos quite broken? If you know of issues you should open tickets for them.

This is something which could be done, but as observed by @ddeath I'd be the one to do it and I have my hands full at the moment. I've made a note of it for the future though.

[2018-12-12 16:44] Indiana3714 commented on #443
Well, it happens when submitting market orders close to the maximum tradable balance of the account.
![unknown](https://user-images.githubusercontent.com/41246263/49884616-5e3f9500-fe89-11e8-8895-361cd0954472.png)

[2018-12-12 16:50] tuloski commented on #440
Is this bitfinex or api side?
If on API side why not emitting a book also every trade?

[2018-12-12 16:55] f3rno commented on #442
Hi guys, this should be fixed on latest `master`, please check. Version 2.0.4 will be released later today with the changes.

[2018-12-12 16:58] f3rno commented on #440
API-side; there are simply too many trades to also broadcast book changes after each one. If you want finer-grain updates, subscribe to a raw book (precision `R0`) to receive a price level for each order.

[2018-12-12 17:10] f3rno commented on #443
It is likely because the market price cannot be perfectly estimated before you submit the order (as you cross multiple price levels during execution), so for the final remaining amount you lack balance at the available price level.

You should trade with a bit less than your total balance in order to avoid this, or use LIMIT orders.

[2018-12-13 09:33] MB911 commented on #441
Thank You

[2018-12-13 12:37] #441 closed

[2018-12-13 12:38] f3rno commented on #440
The default subscription is for `P0`; you can switch it to `R0` with no other changes, but be aware the raw book has a different format (order ID instead of price level)

[2018-12-13 14:36] cwolters commented on #404
You could try again after my pull request is merged (https://github.com/bitfinexcom/bitfinex-api-node/pull/444).
I had a simlilar behavior before.

[2018-12-14 09:42] cwolters opened #446 "Inconsistent behavior of ws.send() operation"
Hi Chris,

the ws.send() operation is somehow inconsitent in its behavior. Look at my comments:
[code]

It would be nice to have a consitent behavior in case of success and error.

My proposal would be to introduce a promise as return value that rejects in all cases of an error or resolves if the message could be successfully send.
This would give the client the opportunity to correctly react on t

[2018-12-19 18:04] tuloski commented on #440
@f3rno and will using R0 still build the book object as with "manageOrderBooks: true", and "transform: true"?

[2018-12-19 18:12] tuloski commented on #440
Also I don't understant why are you mentioning R0? Isn't it the price aggregation level?
Isn't F0 the param for real-time? I'm a bit confused.

From the docs there are Px and Fx for precision and frequency of Order books.
Then there is param R0 for raw orderbook (but it is not described what R0 means...).

Isn't using P0 and F0 give a real time book with the biggest precision?

[2018-12-20 10:53] f3rno commented on #440
`R0` gives you the raw order book, where each entry is an individual order, whereas `Px` gives you price level books where each entry is one price level. `R0` is as precise as it gets. Everything else stays the same (`manageOrderBooks`/etc), but be aware the format is different.

[2018-12-22 10:49] tuloski commented on #440
We tried with R0. It works better but not perfectly, but I think it's a server issue.
In the following a log:

11:31:15:917  ----------- BOOK BTCUSD -------------
11:31:15:917  [20659145246,4057.5,50.97396551] [20659279605,4057.5330598,-0.55977736]
11:31:15:917  [20659230647,4057.5,0.6323089] [20659209398,4057.6,-0.72807268]
11:31:15:917  [20659277691,4057.5,0.44] [20659217752,4057.6,-0.15387832]

[2018-12-27 02:33] leonelsr commented on #76
How can I place a SELL Market Order? What's the difference between buy and sell orders?

[2019-01-08 19:32] angryhorse0905 commented on #443
I also have seen this issue after bitfinex server moved to dedicated server. I will post detail logs if happenss again. it's not only for really insufficient amount for market order.

[2019-01-09 01:19] jamason88 opened #449 "Getting issues and errors with websockets after Bitfinex update"
Hi,
Ive started to get issues with the websockets feed since bitfinex have upgraded their servers.
I am using version 2 websockets and the current version 2.04.
Ever since they upgraded their servers the other day, i have started getting blank errors irregularly every 5-10 minutes. The feed also freezes and just keeps returning the same value unless i reset it every 2 minutes.

Not sure its an err

[2019-01-09 23:44] MaxPovver opened #450 "Changed limits for ledgers endpoint?"
Hello, we've been using ledgers endpoint with big pause between calls and big limit(5000) tha you've recently added, and now it seems to become 500. Can you roll it back to 5000?(may be it wa reset to defaults because of server update?) If not, have at least ratelimits for calling this endpoint increased?

[2019-01-12 12:02] tuloski opened #451 "Book with bids price > ask price"
Since the new migration to proprietary server I got a few times this weird behavior, where the price of the bids is higher than the price of asks.
I'm using the ws manager subscribet to books with R0.
This is an example of BID/ASK book

----------- BOOK BABUSD -------------
[21378673501,134.32,3.71336564] [21377958705,133.64,-89.33324603]
[21378672471,134.22,2.01831239] [21377958505,133.65,-20.372

[2019-01-14 13:51] f3rno commented on #449
@jamason88 what do you mean by blank errors? Can you post an example packet log?

[2019-01-14 21:33] jamason88 commented on #449
When catching errors with:

ws.on('error', (err) => console.log(err))

It was only returning: {}

When this error would happen, being subscribed to ticker would keep returning the same value indefinitely.

It appears it was a server migration issue as i have stopped receiving them now. Closing the issue

Thank you

[2019-01-14 21:33] #449 closed

[2019-01-18 15:32] tuloski commented on #404
Removing packetWDDelay helps a lot...I don't know why.

[2019-01-19 23:52] tuloski commented on #451
Gosh...today during a "moderate" spike I had a book (a liquid one) where bid price was 25% higher than ask price :(. At this point I really don't know if it's bitfinex related or api related, but it's unusable for any serious trading.

[2019-01-20 09:16] f3rno commented on #451
@tuloski can you enable OB checksums and report back if the CS is invalid when this occurs? How often are you seeing this? Is there anything you've noticed about the characteristics of the books/markets when it occurs (low-volume, etc)? I'm trying to reproduce on my end.

[2019-01-20 10:48] tuloski commented on #451
How can I enable the OB checksum?
It doesn't happen very often and usually when there are large movements. The problem is that I notice this only when bid > ask, but I'm not sure if I have the correct data also in other moments.

[2019-01-21 06:58] f3rno commented on #451
@tuloski check the OB checksum example:

[code]

[2019-01-24 21:49] tuloski commented on #451
I'm using the ws manager. Can I do it with that?

Also logging for every CS is going to be a mess with subscription to lots (all) of pairs, which is the only way to make this bug happen quickly.

[2019-01-24 21:52] tuloski commented on #451
PS: I'm also using "manageOrderBooks: true" which should check the checksum automatically.

[2019-01-29 08:52] QuentinFAIDIDE opened #452 "Incomplete order status messages returned from rest2 api"
Hello,
Lately I've been doing a lot of testing, and I so downloaded the last 50 orders closing status to setup a test unit for an order filling status parsing functions, only to see that long order status were incomplete. I used the Rest 2 object, so I'm now wondering, either this api can't receive big message, either the problem is on bitfinex server side.
This is an example of a status message t

[2019-01-31 00:15] soliveira-vouga opened #453 "All babel modules should be in devDependencies"
The babel modules don't belong in dependencies and they add a bloat to the build. `babel-preset-env` alone is 15.67M

They should be moved to devDependencies

[2019-02-03 23:33] MaxPovver opened #454 "v2 api trades/hist endpoint returns only 2018 & 2019 trades"
I've checked both trades/hist & trades/BTC/hist formats, both return  only trades starting from 01/01/2018. While for the same account v1 endpoint /mytrades returns all user's trades

[2019-02-07 08:02] angryhorse0905 opened #455 "Why Bitfinex API does not support 4hour candle?"
Most exchanges` API supports 4hour candle except bitfinex.
Is there any specific reason?

[2019-02-10 12:22] instabot42 opened #456 "onFundingTradeEntry and onFundingTradeUpdate don't work"
The `fte` and `ftu` messages end up in `_handleTradeMessage`, but this has nothing specific to handle funding trades. As a result they are pushed out to `onTrades()` only.

[2019-02-18 09:59] ryanfalzon commented on #428
Where can I find a complete list of method names for deposits/withdrawals?

[2019-02-18 10:00] ryanfalzon opened #457 "Deposit/Withdrawal Methods"
One of the parameters for the deposit/withdrawal API is 'method'. Where can I find a list of all possible values for this parameter?

[2019-02-18 21:26] instabot42 opened #458 "Cancelling orders that have already been cancelled not handled"
When making a call to cancelOrder() with an order that has already been cancelled, the returned Promise never resolves or fails. This is because the order-cancel-${id} event is never triggered.

If the server returns an error when cancelling an order, it should reject the promise.

I now fetch the most up to date order state before calling cancel, so I can avoid this condition, but the error case

[2019-02-19 13:20] wierzbix83 opened #459 "How to observe events for all positions and orders"
Is it possible to subscribe for all my account orders (created, updated, closed, changed....) and positions (also all kind of events).
Can't find such option in the API.

[2019-02-19 20:01] npomfret commented on #459
Same question, but I just want to listen to every change to my account (trades, orders, wallets etc).  Is there a way to do this?

[2019-02-19 20:10] npomfret commented on #459
@wierzbix83 this example might help: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/ws2/auth.js

[code]

[2019-02-19 21:08] npomfret opened #460 "is the api documented accurately?"
I'm getting a callback for onOrderUpdate with an array of length 32.  These "[docs](https://docs.bitfinex.com/v2/reference#ws-auth-orders)" mention only 26 fields:

[code]

[2019-02-19 22:42] npomfret commented on #367
I still get this when cancelling an order.  Don't think it's to do with errors though.  I'm just creating an open order.  Then restarting my app and cancelling it.

[2019-02-19 22:43] npomfret commented on #361
This is still a problem for me on 2.0.4

[2019-02-19 22:45] npomfret commented on #193
Still a problem on 2.0.4

[2019-02-20 22:47] wierzbix83 commented on #459
@npomfret thanks that works!

[code]

[2019-02-21 08:53] npomfret commented on #459
@wierzbix83 cool!

Don't forget to close the issue if it's solved.

[2019-02-21 15:40] #459 closed

[2019-02-23 07:52] sullyfischer commented on #436
I wrote my own implementation in TypeScript in case anyone's looking for an example:
https://github.com/jesse-ai/jesse/tree/master/core/exchanges/Bitfinex

[2019-02-25 11:46] f3rno commented on #428
@ryanfalzon check docs: https://docs.bitfinex.com/v1/reference#rest-auth-withdrawal and https://docs.bitfinex.com/v1/reference#rest-auth-deposit

[2019-02-25 13:00] f3rno commented on #460
The last undocumented field (#29) is the routing code and indicates the source of the order update. Possible values are:

[code]

The docs have been updated accordingly, thanks for pointing this out :+1:

[2019-02-25 13:00] #460 closed

[2019-02-25 13:05] f3rno commented on #454
Try adding `{ _bfx: 1 }` to the request payload, it should enable you to retrieve data prior to 2018.

[2019-02-25 13:05] #454 closed

[2019-02-25 13:17] f3rno commented on #458
This is currently not possible as the order ID is not passed back in the `oc-req` notification if the order is not found, so it is not possible to match it to the original request.

We will change this on the backend, and then I will update this issue.

Thanks for pointing it out!

[2019-02-25 23:01] npomfret commented on #460
What about the others?  Are these placeholders?

[2019-02-25 23:02] npomfret opened #462 "Is there a way to map symbols?"
The reports UI maps my old (pre-fork) tBCHUSD trades and displays them as BCH/USD.  The same goes for new tBABUSD trades which are also mapped to BCH/USD.

Is there an API call that I can use to provide this mapping?

[2019-02-26 14:11] f3rno commented on #455
No specific reason; very few people have requested it. We may add it in the future, but it is not a priority.

[2019-02-26 14:11] #455 closed

[2019-02-26 15:40] f3rno commented on #462
Duplicate of https://github.com/bitfinexcom/bfx-api-node-rest/issues/19

[2019-02-26 15:40] #462 closed

[2019-02-26 15:40] f3rno commented on #460
The others are placeholders, yes. In the future they may be used to add more information to the data packets.

[2019-02-28 05:47] g666nz opened #463 "Restapi V2 Claim positions and Cancel Position apis missing"
HI I was wondering if there is an API for closing a position and claiming a position api or websocket calls.

[2019-02-28 09:33] npomfret opened #464 "websocket 2 repeating open / auth messages"
The following code is resulting in repeating _open_ messages, followed by duplicate _auth_ messages and eventually a rate limit error.  I've copied it (more or less) from this site.  Can't see what's wrong - any ideas?

[code]

Timestamped output:

[code]

[2019-03-01 10:11] npomfret opened #465 "confusing documentation"
I can't get the authenticated websocket API to work if I follow the docs of the main README.md. The examples provided seem to handle the _auth_ process differently.

The docs say:

[code]
... which doesn't appear to work - _auth_ never gets called.

But the [examples](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/ws2/auth.js) do it like this:

[code]

Which does work, for a

[2019-03-01 15:18] f3rno commented on #465
You need to call `ws.open()`

As for the duplicate auth error, it could be due to the connection resetting and the internal logic automatically re-authenticating; since the example binds with `.on` (i.e. `ws.on('open', () => ...` it will redundantly try to authenticate after every connection open). If using auto reconnect (which I assume here), you should change it to only auth once after the init

[2019-03-01 15:19] f3rno commented on #464
Use:

[code]

(note `.once`), since you have `autoReconnect: true` and it automatically re-auths on reconnect.

I'm closing this as it is a duplicate of https://github.com/bitfinexcom/bitfinex-api-node/issues/465

[2019-03-01 15:19] #464 closed

[2019-03-03 22:51] wierzbix83 opened #466 "How to create a new order with TIF set"
Seems that tif field is ignored

I applied code similar to examples but tif field has no effect on the placed order

`//https://docs.bitfinex.com/v2/reference#ws-input-order-new
                msg = {
                    //gid: msg.gid,
                    cid: Date.now(),
                    symbol: 'tBTCUSD',
                    amount: 0.1,
                    type: Order.type.LIMIT, //MARKET,

[2019-03-06 08:34] #465 closed

[2019-03-06 08:35] npomfret commented on #465
As for the duplicate auth error, I think it was reconnecting every 10 seconds, which is what was causing the rate limit error.   I've not looked into it in detail yet...

[2019-03-08 07:52] f3rno commented on #466
Fixed by https://github.com/bitfinexcom/bfx-api-node-models/pull/16

You can now pass the `tif` field to the `Order` model constructor; note that the field returned from the API is `mtsTIF` and is in milliseconds, unlike `tif` (date string)

[2019-03-08 07:52] #466 closed

[2019-03-08 07:56] f3rno commented on #463
Yep; both calls are available on RESTv2 (pass-throughs from RESTv1) as: `claimPosition` and `closePosition`

Source: https://github.com/bitfinexcom/bfx-api-node-rest/blob/master/lib/rest2.js#L1011

[2019-03-08 07:56] #463 closed

[2019-03-08 08:00] #453 closed

[2019-03-11 10:01] wierzbix83 opened #468 "No timestamp for creation and last update time for position"
Will that be possible to add create timestamp and update timestamp to the position object in WS2 api?
Seems that it was present in REST1 api and it would be great to have it in WS2 and in events snapshot, new, update and close. Otherwise I need to call old REST api on each event...

[2019-03-11 15:36] wierzbix83 commented on #466
thanks, fixed :)

[2019-03-11 15:37] wierzbix83 commented on #468
To be precise it has nulls after the last model class update
{"symbol":"tBTCUSD","status":"ACTIVE","amount":0.004,"basePrice":3937.16005927,"marginFunding":0,"marginFundingType":0,"pl":null,"plPerc":null,"liquidationPrice":null,"leverage":null,"placeholder":null,"id":null,"mtsCreate":null,"mtsUpdate":null}

[2019-03-12 12:50] npomfret opened #469 "maker / taker explanation"
The docs clearly say that when a trade message arrives the `maker` field will be set to "1 if true, 0 if false".

I'm seeing trades come through with it set to `-1`.  What does this mean?

[2019-03-13 10:59] rodsher opened #470 "Add FAQ: The reason for the error with code 10100"
Hi!
I noticed that `bitfinex-api-node` package users sometimes have questions about the error with code 10100 when they use API like this:
[code]

I think it is a good idea to place problem-solving in the FAQ in README. May I do pull request that add additional item in FAQ?

Best regards,
Max

[2019-03-17 22:44] wierzbix83 opened #471 "OCO Order is not working"
I tried to follow OCO order example but I get

following error

INFO ats-bfx-outbound 2019-03-17T22:41:30.899Z Creating order based on {"type":"LIMIT","symbol":"tBTCUSD","amount":0.005,"price":3500,"flags":16384,"price_aux_limit":4500,"tif":"2019-03-17 22:43:30"} +1m
  INFO ats-bfx-outbound 2019-03-17T22:41:30.899Z Submitting order {"symbol":"tBTCUSD","amount":0.005,"amountOrig":0.005,"type":"LIMI

[2019-03-18 22:39] wierzbix83 commented on #471
the solution is not to provide params as defined here: https://docs.bitfinex.com/v2/reference#ws-input-order-update (with underscore), but as defined in fields of Order class, which is camelCase, what is more oco_stop is taken from priceAuxLimit field

if (this.priceAuxLimit !== null && !Number.isNaN(+this.priceAuxLimit)) {
      if (this.flags & Order.flags.OCO) {
        data.price_oco_stop = th

[2019-03-18 22:39] #471 closed

[2019-03-22 02:48] jean-airoldie opened #472 "[Question] Cancellation or Execution in Raw Book Update"
Currently, when subscribing to the raw book channel, there is no way to distinguish between a order cancellation and execution. Both are encoded as:
BID: `[ID, 0, -1]`
ASK : `[ID, 0, 1]`

However, information could easily be encoded as:
BID cancelled: `[ID, 0, -1]`
BID executed: `[ID, 0, -2]`
ASK cancelled: `[ID, 0, 1]`
ASK executed: `[ID, 0, 2]`

Is there as specific reason why there is no such d

[2019-04-03 03:38] vsly-ru opened #474 "How can I request onOrderSnapshot? (ws2)"
There's a function (listener) `ws2.onOrderSnapshot({}, (snapshot) => {...})'` (but it only fires when I connect and authorize) and `ws2.onOrderNew; onOrderUpdate and onOrderClose`.
They _should_ notify me anytime something happened with any of my orders (or new one), but what if, for some reason(i.e. internet problems), I didn't receive one of this onOrderNew/Update/Close messages and it was criti

[2019-04-04 06:43] MowgliB commented on #474
I don't think this is possible. The idea should be that you store your initial snapshot from when you open the web socket connection and then update it as you receive new data. That is how all things web socket work. If you disconnect from the WS server (and miss out on any new data), you should get a new snapshot upon reestablishing your connection.

If you want a "snapshot" of your open orders p

[2019-04-04 06:52] SimpleProgrammingAU opened #475 "Web Socket works for several hours before Node outputs "aborted" and closes app"
I have been performing a few tests to make sure I have reliable data coming in from the web socket connection. After a few hours, I keep running into the same problem.

No errors are thrown, just a single word outputted to the console:

    aborted

At this stage, all I am doing is subscribing to the Ticker and Order Book data streams and monitoring them. At first, I thought it might be an issue b

[2019-04-04 14:11] #474 closed

[2019-04-05 06:26] MowgliB commented on #470
I would argue that this is the purpose of the API documentation which is the very first link in the documentation. The error codes are all outlined in the [Abbreviation Glossary](https://docs.bitfinex.com/v2/docs/abbreviations-glossary).

[2019-04-09 22:30] QuentinFAIDIDE commented on #452
We can still approach matching price with relatively low error rate by using the first 250 characters from the incomplete fill message, and I don't think it will be fixed soon, so either we make the switch to FIX protocol to have different data structure returned (painful and costly), or we go with the averaging "wet finger" approach 🤷

[2019-05-20 04:55] f3rno opened #479 "Feature: Add constants + verbose output for all error codes"
See https://docs.bitfinex.com/v2/docs/abbreviations-glossary#section-errorinfo-codes

re https://github.com/bitfinexcom/bitfinex-api-node/issues/470

[2019-05-20 04:56] f3rno commented on #470
@MowgliB correct, closing.
@rodsher see #479 for follow-up

[2019-05-20 04:56] #470 closed

[2019-05-20 04:57] f3rno commented on #475
@MowgliB any update?

[2019-05-20 06:37] f3rno commented on #452
We will continue to enforce the 250 chart limit on order status strings for the time being. I will update this issue in the future if the limit changes.

[2019-05-20 06:37] #452 closed

[2019-05-21 21:18] MowgliB commented on #475
I haven't been able to work out what's causing the `aborted` message to occur. Would love it if someone could guide me where to look.

[2019-05-22 10:36] tadeuszwojcik opened #480 "wss://api-pub.bitfinex.com/ws/2 errors"
Looking at commits I've noticed that your are preparing for decreased subscribe limits via single connection (from 250 to 30), but it's not mentioned anywhere in changelog but when connecting via `wss://api-pub.bitfinex.com/ws/2`  that new limit already applies without any prior official heads up. Is `wss://api-pub.bitfinex.com/ws/2` expected to be experimental/unstable endpoint? I've noticed it's

[2019-05-28 13:06] f3rno commented on #480
This has been added to the changelog (limit is 25.) Apologies for the delayed update to this lib.

[2019-05-28 13:06] #480 closed

[2019-05-28 13:10] f3rno commented on #475
@MowgliB can you provide the output of `ulimit -a` on your rpi? It looks like node is running out of (some) resources.

[2019-05-28 21:30] MowgliB commented on #475
I will do that tonight and report back the results.

From: Cris Mihalache <notifications@github.com>
Sent: Tuesday, 28 May 2019 23:10
To: bitfinexcom/bitfinex-api-node <bitfinex-api-node@noreply.github.com>
Cc: MowgliB <sam.janda@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [bitfinexcom/bitfinex-api-node] Web Socket works for several hours before Node outputs "aborted" and closes

[2019-05-29 08:16] raghwendra21 opened #481 "Inavalid Pair"
{ channel: 'ticker',
  symbol: 'btceth',
  event: 'error',
  msg: 'symbol: invalid',
  code: 10300,
  pair: 'tceth' }
{ channel: 'ticker',
  symbol: 'btceth',
  event: 'error',
  msg: 'symbol: invalid',
  code: 10300,
  pair: 'tceth' }

[2019-05-29 13:55] vansergen commented on #481
I recommend you read [docs](https://docs.bitfinex.com/v2/docs/ws-general#section-supported-pairs). There is no such pair as `tceth`.

Margin currencies symbols are formed prepending a "f" before the currency (i.e fUSD, fBTC, ...)

[2019-05-29 20:25] vansergen commented on #469
@npomfret Did you submit limit orders? According to [Fees Schedule](https://www.bitfinex.com/fees) you will pay the maker fee if you hit a hidden order:

[2019-05-30 07:58] raghwendra21 commented on #481
bws.subscribeTicker("btceth")
this returns { channel: 'ticker',
symbol: 'btceth',
event: 'error',
msg: 'symbol: invalid',
code: 10300,
pair: 'tceth' }

[2019-05-30 11:48] npomfret commented on #469
They are all limit orders.  what does -1 mean in this field. It's not documented.  Is anyone from bitfinex on here?

[2019-06-05 09:05] raghwendra21 commented on #481
I want to subscribe BTCETH

[2019-06-05 18:07] serzhiio opened #484 "Per channel sequencing?"
Hi, as it looks now sequencing is working for whole socket, but it makes no sense to me!
If i have two channels (book+trade) i cant track only book data sequences. Why?

[2019-06-05 18:13] serzhiio commented on #484
With current logic if i have 10 streams subscribed after one sequence curruption i should resubscribe all channels at once or restart socket because i cant be sure what channel caused problem.

[2019-06-09 17:59] yogeshwar607 commented on #365
is it available now ? any references if possible

is there any provision for test order just to test functionality (no actual order)

[2019-06-11 08:36] mzhou2018 opened #486 "how to know whether a cryptocurrency can be withdrawed or not?"
thank you.

[2019-06-12 11:49] wierzbix83 commented on #404
packetWDDelay does force reconnect, so yes that solves the issue for me ;)

[2019-06-12 16:49] yogeshwar607 commented on #365
@f3rno any update on method ?

[2019-06-12 16:50] yogeshwar607 commented on #365
@f3rno  any update on method

[2019-06-12 17:00] yogeshwar607 opened #487 "Test order without actually triggering order for api testing"
#### Issue type
- [ ] feature request

#### Brief description

Test order without actually triggering order for api testing

Is there any provision for testing order without actual order trigger

[2019-06-24 14:13] stefan-stefanica commented on #311
Doesn't work for me:

`(node:2692) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'Order' of undefined`

[2019-06-29 11:37] gabrieldodan opened #488 "websocket API "subscribe: limit" error"
#### Issue type
- [ x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

Hi all,

I am getting "subscribe: limit" when subscribing to trades and orderbook channels. Anybody else has this issue?

Regards!

[2019-07-01 03:35] electic commented on #488
Version 2.0.7 has a fix for the manager upper subscribe limit of 30. However, 2.0.7 has not been pushed to npm. You will have to do something like this:

`    "bitfinex-api-node": "git+https://github.com/bitfinexcom/bitfinex-api-node.git",
`

[2019-07-01 08:07] gabrieldodan commented on #488
I see, thank you @electic !

[2019-07-03 19:00] enriquepiatti opened #489 "REST API (v1 and v2) returns always empty array"
It is working fine for getting the symbols, but methods like wallet_balances, active_orders and active_positions are returning always an empty array with no error.
Is this because we cannot use V1 anymore?

It does not work with V2 either, this is my code:

[code]
// "bitfinex-api-node": "^2.0.6",

I thought coul be because is deprecated:
https://github.com/bitfinexcom/bitfinex-api-node/blob/maste

[2019-07-03 22:23] enriquepiatti commented on #489
OK, this is normal behaviour if balance is 0, after some deposit I can see the info

[2019-07-03 22:23] #489 closed

[2019-07-04 13:23] enriquepiatti opened #490 "Key Walletfrom was not present error while trying to transfer"
I'm receiving this error when I use transfer method from API V1:
https://docs.bitfinex.com/reference#rest-auth-transfer-between-wallets
But the WalletFrom is defined !! you can see a snapshot of my debug just before making the request (breakpoint inside bitfinex original code):

![image](https://user-images.githubusercontent.com/1512470/60669841-b352f080-9e45-11e9-85a8-2213e4b9d9e2.png)

[2019-07-04 14:56] enriquepiatti opened #491 "Wrong code in transfer method API V2"
REST2 is using code from REST1:
[code]
That does not work, there isn't any "make_request" method in V2, also documentation refers to V1.
As a side note the V1 transfer method is not working either:
https://github.com/bitfinexcom/bitfinex-api-node/issues/490

[2019-07-04 15:06] enriquepiatti commented on #490
Using REST V2 is not working either, even with the bugfixed code:
[code]
That is showing always the same error message: walletfrom is not defined

[2019-07-04 15:07] enriquepiatti commented on #490
OK, the problem is with the camelcase, the keys must be "walletfrom" and "walletto" (everything lowercase).
Please correct that here:
[code]

[2019-07-04 15:09] enriquepiatti commented on #491
BUGFIX: change documentation (walletFrom and walletTo must be all lowercase) and also change the method call, use "_makeAuthLegacyRequest" instead of "make_request"

[2019-07-05 08:38] anwfr commented on #193
hello,
on my experience the library is unusable with seqAudit=true.
As soon as I submit or cancel orders, I keep getting errors

[2019-07-10 14:26] cenyG opened #492 "Fork log store"
Hi, Issue type is "just question" or "missing functionality"

I'm looking for functionality to retrieve cryptocurrency fork information. For example after BCH fork users got BAB and BSV. Do this event store somewhere , and can I get this info using API ?

[2019-07-10 17:19] enriquepiatti opened #493 "Symbols request is incomplete !"
Using API v2 or v1:
https://github.com/bitfinexcom/bitfinex-api-node/blob/master/doc/rest2.md#RESTv2+symbols
https://docs.bitfinex.com/reference#rest-public-symbols

There are missing symbols! BCHUSD for example.

[2019-07-10 17:42] enriquepiatti commented on #493
OK, I see BCH is actually "BAB"

[2019-07-10 17:42] #493 closed

[2019-07-11 21:21] enriquepiatti commented on #85
API V2 use this URL:
https://api.bitfinex.com/v2/conf/pub:list:pair:exchange

[2019-07-11 21:21] enriquepiatti commented on #85
Would be nice to have a way to get the price for multiple symbols without a websocket, just a normal REST call but with an array of symbols not just one

[2019-07-18 14:13] mmorasch commented on #488
Hey there!
As I am doing my own implementation I noticed that the upper limit was changed to 30. After changing it so that each WebSocket has 30 subscriptions and having the server having multiple WebSockets, I now get a WebSocket error event with

Which means too many requests.. is there now a limit to the request amount itself? What should be the time between requests?

Regards

[2019-07-19 09:07] electic commented on #488
@mmorasch  Are you using the repo version as in my previous message? Also, are you using the manager?

[2019-07-19 10:40] electic commented on #488
@mmorasch there might be a rate limit per connection. So if you burst 30 subscribes all at once, it might throw an error. Without seeing your code it is hard to say.

Why not use the manager? Not sure why you are re-inventing the wheel here.

[2019-07-21 17:20] anwfr commented on #463
Opening opposite order sometimes does not properly close the position, leaving a zero-sized position opened.
Why not adding close to WSv2?

[2019-07-21 18:37] anwfr opened #494 "How to close a position?"
Hello,
I'm trying to close a position with APIV2.
Nothing is available for WSv2 so I tried with RESTv2 but this ends with 404 error

[code]
Any idea? Thanks.

[2019-07-31 18:53] enriquepiatti commented on #197
Same problem here V2 rest api orderHistory is returning empty array, always

[2019-08-27 03:16] gasolin commented on #457
@ryanfalzon can check https://api-pub.bitfinex.com/v2/conf/pub:map:tx:method

[2019-09-16 20:43] hems opened #497 "PnL is negative but PL_PERC is positive."
#### Issue type
- [x] bug

#### Brief description
While querying the API for position information i found out some discrepancy on the result of the api.

#### Steps to reproduce

I'm not exactly sure when this happens, but some investigation on my side i can tell this happened to me on position id: #141983413.

I opened a short on LTC/USD and i can tell the PL is negative but the PL_PERC is negati

[2019-09-23 08:50] MaxPovver opened #498 "Orders are returned only for last year using /v2/orders/hist endpoint"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
For the same user for whom trades are turned until year 2015, earliest order returned is for November 2018. Is this somehow related to fact that adding '_bfx'=>1 does not work anymore?
#### Steps to reproduce
Take any account that has trades in 2018 & and in 2015. Compare earliest

[2019-09-23 18:01] #498 closed

[2019-09-23 19:41] meshfields commented on #497
This could be related but for me PlPerc topped returning content other than null a few weeks ago.

e.g.

[code]
Where's the data?

[2019-09-24 14:18] meshfields opened #499 "Request for Positions on Streaming API yields null in numerous key value pairs"
#### Issue type
- [x ] bug
- [x ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

Request for Positions on Streaming API and using `transform:true` yields **empty field** `null` in JSON key value pairs.

[code]

Missing fields

[code]

Where is data?

#### Steps to reproduce

Conf
[code]

Code
[code]

##### Additional Notes:
I noticed other inconsistencies wh

[2019-09-26 09:55] #423 closed

[2019-09-26 14:51] hems opened #500 "Negative Base price on position API"
#### Issue type
- [x] bug ??

#### Brief description

A long position on ETH BTC is returning negative base price on the API

#### Steps to reproduce

I'm not entirely sure what happen with this position, probably the position size was changed while the position was open.

##### Additional Notes:

This was returning from apiV1

[code]

apiV2 reported the same value

[code]

[2019-09-26 20:51] hems commented on #500
After drawing some tables i believe I understand what is happening, and it's not a bug!

In case user keeps selling while the position goes in his favor, the base price will be negative.

|EVENT|AMOUNT|PRICE|POSITION SIZE|DELTA|TOTAL SPENT|AVERAGE PRICE|
|-------|--------|------|---------------|------|--------------|-----------------|
|BUY    | 1.00  |100 USD | 1.0 |0|100|100|
|SELL   | 0.20 |120

[2019-09-26 20:51] #500 closed

[2019-09-26 21:48] hems commented on #497
@meshfields is this position still opened ?

I noticed that pl and pl% was coming null for closed positions, but it seems to be the expected behaviour for now.

[2019-10-01 08:52] yourmykola opened #501 "how to create a market order"
#### Issue type
- [ ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request
- [X] question

#### Brief description
I am trying to create an order to close a position in trading, so I use
price = 0;
this.bitfinex.new_order (this.pair, 0.06 ,  price ,  this.name.toLowerCase (),  buy,  "market",)
but get
#### Steps to reproduce
but I get the error "Order price must be positive". If

[2019-10-01 09:51] JacobPlaster commented on #501
Hi @yourmykola I will need to see some more of your code in order to help.

For info on a bitfinex market order see: https://support.bitfinex.com/hc/en-us/articles/115003503769-Market-Order
For info on a bitfinex limit order see: https://support.bitfinex.com/hc/en-us/articles/115003506105-Limit-Order

[2019-10-01 18:10] yourmykola commented on #501
Unfortunately, I can’t throw off the code, because it is part of a large project.
I realized that you can pass any positive number to the price parameter, if the type of order means "market", the exchange itself will choose the price. this is:

price = 1000;
this.bitfinex.new_order (this.pair, 0.06, price, this.name.toLowerCase (), purchase, “market”)

This works when closing a position, when I ha

[2019-10-07 11:10] #501 closed

[2019-10-17 00:46] JacobPlaster commented on #499
@f3rno would you be able to take a look at this one as well when you get the chance?

Thanks for raising the issue @meshfields

[2019-10-31 02:30] chrisLeeTW opened #505 "RangeError: Maximum call stack size exceeded"
#### Issue type

- [ X ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

We got this error after a long run of our lending robots, and frequency is very low.

[code]

exception has been throw at this line `await this.reconnectAfterClose()`

#### Steps to reproduce

I'm not sure :)

##### Additional Notes:

Nope.

[2019-11-07 10:58] ferittuncer commented on #138
I have the same issue.

[2019-11-07 14:49] gfijrb commented on #141
Its meaning that your order less then in 20-25 equivalent usd or more then 200000 coins/tokens on some pairs.

[2019-12-05 14:13] dutu opened #508 "`fcs` not received if there are no funding credits when subscribing"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

`fcs` (funding credit snapshot) is not received (with empty array) if there are no funding credits when subscribing.
`fcn` is then received when new funding credits are then sent for new funding credits on the account, but `fcs` is never received.

This seems to be an issue with t

[2019-12-05 17:11] JacobPlaster commented on #508
Hey Dutu! Just to clear up some confusion - you dont have any funding credits open/active but you still expect to receive an empty funding credit snapshot?

This isnt a bug since we only send data down the websocket that we absolutely have to (for bandwidth reasons).

Correct me if wrong and I will re-open this.

[2019-12-05 17:11] #508 closed

[2019-12-18 20:10] jcbit opened #509 "Request: Deadman switch"
#### Issue type
- [ ] bug
- [X ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Would be nice to be able to use the dead man switch. Could you implement it so that you can set that up via an environment variable please?

#### Steps to reproduce
-

##### Additional Notes:
-

[2019-12-19 10:52] JacobPlaster commented on #509
Hey @jcbit thanks for opening the issue. You can actually achieve this with the functionality below:

[code]

Use env variable in order to enable the DMS flag.
[code]

[2019-12-19 10:52] #509 closed

[2019-12-19 15:57] jcbit commented on #509
Thanks for that information!

I am trying it and wanted to ask what is the code (0) used for? Also, I wanted to use DMS so that if the application crashed all the orders were cancelled automatically. But just now that I tried it I see that my order is still there even though the program ended abruptly. Am I doing something wrong? Already checked and DMS is 4 when calling auth.

[2019-12-20 16:12] JacobPlaster commented on #509
The `0` is the `calc` parameter https://docs.bitfinex.com/reference#ws-auth-input-calc.

Possibly not, basically its really hard to tell when a websocket is closed abruptly since no closing header is sent to the server. The way we get around this is be re-checking all of our open websocket connections every 2-10 mins to see if they are still connected, this means that it could be 2-10 mins before

[2020-01-21 22:15] MaxPovver opened #510 "How to get fee percent for trades from api?"
#### Issue type
- [x] question

#### Description
Right now there is no easy way to find out if trade was made on margin wallet or on exchange wallet.

However, I can clearly see that in https://report.bitfinex.com/trades/ there is a "Fee percent" field that is returned ONLY for margin trades, so it could be used as a margin trades flag.
![image](https://user-images.githubusercontent.com/9439263/72

[2020-01-21 22:31] #510 closed

[2020-01-24 07:30] tgmTimsah commented on #80
Bitfinex V2 api for
payload:

"/api/v2/auth/w/order/submit1579850962955{\"amount\":\"0.0008\",\"price\":\"8500\",\"symbol\":\"tBTCUSD\",\"type\":\"LIMIT\"}"

I get an error for this load, what is not true , thanks.

[2020-01-24 07:31] tgmTimsah commented on #217
Bitfinex V2 api for
payload:

"/api/v2/auth/w/order/submit1579850962955{"amount":"0.0008","price":"8500","symbol":"tBTCUSD","type":"LIMIT"}"

I get an error for this load, what is not true , thanks.

[2020-01-25 00:49] f3rno commented on #217
@tgmTimsah please open a new issue in the future, as this is unrelated.

Are those parameters in the URL or is it a copy/paste artifact? The params need to be passed in the request body, see the docs: https://docs.bitfinex.com/reference#rest-auth-submit-order

[2020-01-25 02:29] f3rno commented on #138
I'm late to this, but; @ferittuncer have you tried using the packet watchdog option? It resets the connection if no packet is received within the watchdog window.

[2020-01-26 16:50] ferittuncer commented on #138
@f3rno Thanks. Can you explain in detail please?

[2020-01-28 13:12] JacobPlaster commented on #510
@MaxPovver I think a member of our customer support team may have solved this query for you. But just for the sake of other people stumbling across this, you can get this info using the v1 account summary endpoint:

https://docs.bitfinex.com/v1/reference#rest-auth-summary

[2020-01-29 10:09] #456 closed

[2020-01-29 22:06] davidjirovec opened #511 "Checksum errors"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Checksum errors appear randomly. Sometimes it can take days of runtime to happen, but it shouln't happen at all, right?

[code]

#### Steps to reproduce
Run `examples/ws2/ob_checksum.js` and wait.

[2020-01-30 07:06] JacobPlaster commented on #511
Hey @davidjirovec, we have just discovered this issue ourselves as well. The checksum failure  is caused when a user submits a really small order which gets formated into scientific notation `1-e8` ect...

We are working on a fix now

[2020-01-30 15:15] davidjirovec commented on #511
Thank you. Anyway, why is there so complicated number formatting? I did not find any mention of this in api documentation, there is just
[code]
More detailed description is here https://blog.bitfinex.com/api/bitfinex-api-order-books-checksums/
but still no details on number formatting.

[2020-01-30 18:45] npomfret opened #512 "Why the big version bump?"
I can't find release notes - are there any?  Is something new incompatible with version 3.x?

[2020-01-31 12:42] JacobPlaster commented on #512
Hi yes, the major change was the format of the data returned from the v2 Rest functions. See PR https://github.com/bitfinexcom/bfx-api-node-rest/pull/42.

I agree, the changelog update probably shouldve been more descriptive (my bad), but it was there:
[code]

[2020-01-31 12:42] #512 closed

[2020-01-31 12:46] JacobPlaster commented on #512
P.S I updated the changelog entry to this:

[code]

Thanks for bringing it to our attention

[2020-02-03 12:37] JacobPlaster commented on #511
Well the problem is on the client end of things, the bitfinex websocket sends the orderbook decimals in standard non-complex string format i.e "0.000000001" but then javascript converts that to "1e-8" when attempting to compare the checksum which causes the failure. The best way to do it (an how we do it with the go client) is to just use the raw strings that the websocket passes down to us and av

[2020-02-03 22:31] jcbit opened #514 "[Question] How to get active orders and bind to their events when starting a new connection."
#### Issue type
- [X] Question
#### Brief description
After I close my app when I reopen I want to be able to get all active orders I left and bind events to them go handle them (on close, etc). I tried to do ws.onOrderSnapshot like on the cancel all orders example but it never gets called. I authenticate and can trade but the ws.onOrderSnapshot event never gets triggered. Any ideas?

#### Steps t

[2020-02-04 06:10] f3rno commented on #514
Can you share a minimal snippet that reproduces this for you?

[2020-02-07 21:18] wierzbix83 opened #517 "Breaking change in trades subscription"
#### Issue type
- [x] bug
- [x] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Since 4.0.2 subscribing to trades with symbol tBTCUSD no longer works, instead I need to use BTCUSD which is inconsistent with for example candles trades trade:1m:tBTCUSD.
Are you planning to fix it more make more changes in symbols?

https://github.com/bitfinexcom/bitfinex-api-nod

[2020-02-21 17:37] dutu opened #519 "Error `invalid pub seq #` after submitting an order"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
After submitting an order, the error `invalid pub seq #` is received.

The issue is due to a coding fault in retrieving the sequence number for `on-req` messages
https://github.com/bitfinexcom/bitfinex-api-node/blob/abbd3c1825aadaf37cc049366fc2c029e6c0c493/lib/transports/ws2.js#L35

[2020-02-22 18:15] dutu opened #521 "Cannot enable orderbook checksum when sequence audit is enabled"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
If the sequence audit is enabled in constructor (`{ seqAudit: true }`), the orderbook checksum cannot be enabled (`ws.enableFlag(WSv2.flags.CHECKSUM)`)

The following code sequence does not enable the orderbook checksum:
[code]
However, this code sequence (where `seqAudit` is set t

[2020-02-22 18:48] dutu commented on #521
As a workaround solution the sequence audit flag should be enabled together with the orderbook checksum flag, rather than in the constructor.

[code]

To eliminate any possible issues, and as a permanent solution I would suggest:
* eliminate the possibility to set `seqAudit: true` in the constructor (to be enabled by `enableFlag()` only)
or
* include the possibility to also set the flag `obChecksu

[2020-02-24 08:02] f3rno commented on #519
Duplicate of https://github.com/bitfinexcom/bitfinex-api-node/issues/193

This is a backend error, the packet should have 2 sequence numbers.

[2020-02-24 08:47] f3rno commented on #521
Thanks for pointing this out, I've submitted a fix here: https://github.com/bitfinexcom/bitfinex-api-node/pull/522 It will be merged shortly

[2020-02-24 10:05] #521 closed

[2020-02-25 17:46] f3rno commented on #519
Closing as duplicate of #193

[2020-02-25 17:46] #519 closed

[2020-02-25 19:15] f3rno commented on #511
Fixed by https://github.com/bitfinexcom/bitfinex-api-node/pull/516

[2020-02-25 19:15] #511 closed

[2020-02-25 19:16] f3rno commented on #514
Based on your update, this is expected behavior. The snapshot is sent along with a series of other data payloads after authentication that are intended to be used for initializing state, and needs to be updated locally afterwards using incoming order change (`on`, `ou`, `oc`) packets.

[2020-02-25 19:16] #514 closed

[2020-02-25 19:16] f3rno commented on #517
Fixed by https://github.com/bitfinexcom/bitfinex-api-node/pull/524

[2020-02-25 19:16] #517 closed

[2020-02-27 11:35] Benvaulter opened #527 "walletsHistory does not return "available balance" and correct data"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Whenever I call the wallet history endpoint, "balanceAvailable" is always null. Furthermore, it seems that for "empty" wallets, the data for the last change is returned. I do receive balance values for exchange and margin wallet, allthough they are empty - however, the mtsUpdate al

[2020-02-28 12:46] JacobBruce opened #528 "Do onMaintenanceStart() and onMaintenanceEnd() actually work?"
I used the following code to setup a websocket connection, but I've noticed that during the last couple of maintenance periods the callback functions for onMaintenanceStart() and onMaintenanceEnd() never seem to get called because there's nothing in the logs. The error callback function however is triggered when the Bitfinex server goes into maintenance mode, producing error codes such as 408, 503

[2020-02-29 05:24] f3rno commented on #528
It is likely that the connection is being reset, but you should still be seeing the maintenance messages. Can you post the relevant section of your log? I added a quick unit test and it works as expected:

[code]

[2020-02-29 06:06] JacobBruce commented on #528
Unfortunately I deleted most of the logs because it was just repeating the same 429 error. I think it started with 503 errors then changed to 429 error. However I think this is the log for when a previous maintenance period started. I don't think I was using onServerRestart at that time. I have other code which uses the websocket connection to get candle data every few minutes, not sure if that's

[2020-03-02 10:19] dutu opened #529 "funding methods not implemented"
#### Issue type
- [ ] bug
- [x] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

The following methods are not implemented (WSv2):
[code]

#### Steps to reproduce
-

##### Additional Notes:
-

[2020-03-15 00:33] MallyxTheZealous opened #531 "API Key invalid for submitting orders, but works for viewing wallet"
#### Issue type
- [ ] bug

#### Brief description
Im trying to utilize the Bitfinex Authenticated API to create orders, when I use the base code to get wallet balance it works perfects but when I change the options to fit whats described in the docs for submitting an order it returns [ 'error', 10100, 'apikey: invalid' ]

#### Steps to reproduce
Including my code below

const CryptoJS = require('c

[2020-03-17 09:48] dutu opened #532 "Q: max value of cid when submitting new order"
Would you please clarify what is the max value of `cid` field when submitting a new order?

Note: For WebSocket [New Order](https://docs.bitfinex.com/reference#ws-auth-input-order-new) documentation says `cid` is int45, but for rest API [Submit Order](https://docs.bitfinex.com/reference#rest-auth-submit-order) documentation says it should be int32.

[2020-03-17 09:58] dutu opened #533 "Q: meta field for `on` request"
I have noted that, when including `meta` object in `on` request, the object is passed back in `on-req` notification.
Can you confirm this as a reliable/usable method of including an additional field (for example `cidStr`) for matching `on-req` notification to the `on` request?

Example :
[code]

[2020-04-18 14:17] Cheasychest opened #537 "Invalid order: not enough exchange balance for x.x BTCUSD at yyyy.yy - Send an order"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

The error : "Invalid order: not enough exchange balance for xxx BTCUSD at xxxx"
- The bug (or my mistake) appears around 95% of the time
- 5% of the times it's work (I can see the order on bitfinex)

#### Steps to reproduce

- run the quick start example

##### Additional Notes:

[2020-05-08 15:32] brinzi opened #538 "IoC oder amount on websoket is 0"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
On the order close event on the WebSocket stream, the amount 0 even when order Is executed

This is de event object
[code]

[2020-05-27 12:06] all2pie opened #539 "Can not Place Order"
#### Issue type
- [ * ] bug

#### Brief description
I am placing an Exchange Limit Buy Order with having price little bit less then market price, I have balance available but it is not executing and getting this error message:

["error",10001,"Invalid order: not enough exchange balance for 0.00235071 BTCUSD at 9122.2"]

Market Price at time of placing order: 9131.3
Specified Price: 9122.1687
Speci

[2020-05-27 13:53] JacobPlaster commented on #539
Hi @all2pie, thanks for opening an issue.

The problem here is that you're not accounting for the trading fees. Assuing that you'r fees are the standard 0.2%:

Before fees: 9122.1687 * 0.00235071 = 21.4435731848
Fees: 21.4435731848 * 0.002 = 0.00428871463

With fees = 21.4478618994

When fees are added, your total order cost is `0.0042537394` more than your available balance.

[2020-05-27 13:53] #539 closed

[2020-05-27 13:58] JacobPlaster commented on #533
Hi @dutu appologies for the late reply. Yes the meta has been added for that use case, however it is currently only being used internally.

[2020-05-27 13:58] #533 closed

[2020-05-27 13:59] JacobPlaster commented on #537
@Cheasychest appologies for the late reply. Is this occuring on REST or Websocket?

[2020-05-27 14:02] JacobPlaster commented on #531
Hi @MallyxTheZealous, thanks for opening an issue. This repo is for the Bitfinex nodejs library and not the core API.

Could you please try to submit the order using the nodjs library? Here is an example on how to achieve that: https://github.com/bitfinexcom/bitfinex-api-node/blob/master/examples/rest2/submit_order.js

[2020-05-27 14:02] #531 closed

[2020-05-27 14:06] JacobPlaster commented on #532
Hi @dutu, websocket and rest requests are initially processed by a layer of nodejs edger servers. So you the max value for the cid would be the Javascript `MAX_SAFE_INTEGER` value.

[2020-05-27 14:06] #532 closed

[2020-05-27 14:11] JacobPlaster commented on #528
Closing since we will need more logs to highlight the issue.

[2020-05-27 14:11] #528 closed

[2020-05-27 14:18] JacobPlaster commented on #527
Hi @Benvaulter. Firstly, the balance history endpoint is `v1` and we encourage users to move to `v2`.

The calculation to infer your available balance is quite a resource heavy once, since it requires historical prices for each currency at different times. For this reason we dont provide the available balance. In order to obtain your available balance (like how our UI does it) you will have to sub

[2020-05-27 14:18] #527 closed

[2020-05-27 15:58] JacobPlaster commented on #529
Thanks @dutu I've created a task for us internally to add these endpoints. They should be available next month.

[2020-05-28 09:26] all2pie opened #540 "API response dose not match with original balance"
#### Issue type
- [ * ] bug

#### Brief description

The balances that i get from API is different than the balance shown in my bitfinex account

The API Response:

 [
  [ 'exchange', 'BTC', 0.00233954, 0, null, null, null ],
  [ 'exchange', 'USD', 0.02152086, 0, null, null, null ]
]

Account Balance:
![Account Balance](https://user-images.githubusercontent.com/34629684/83123901-ea319500-a0ee-11ea

[2020-05-31 17:00] regchiu opened #542 "REST v2 return ["error", 10100, "apikey: invalid"]"
#### Issue type
- [x] bug

#### Brief description
If I use this code and execute command `node test.js`, then no error is returned.
[code]
But when I use nestjs http module or postman, I get an error.
[code]
##### Additional Notes:
- When I use websocket is well.
-  I really do not understand.

[2020-06-02 06:58] f3rno commented on #542
@regchiu it looks like you may need to pass an encoder to `toString()`, i.e. `hash.toString(CryptoJS.enc.Hex)`; can you confirm the sig hash is in hex via `toString()`?

[2020-06-02 15:22] regchiu commented on #542
@f3rno Thank you reply.
Unfortunately, I tried your way get same result. 😢
[code]

[2020-06-03 03:13] f3rno commented on #542
Try adding `/api/` to the front of the `apiPath` value you concat to form `signature`. The final string should look like this: `/api/v2/auth/r/wallets/hist${nonce()}${JSON.stringify(payload)}`. This is the logic from our RESTv2 client:

[code]

[2020-06-03 13:43] regchiu commented on #542
@f3rno It is my fault 🙇‍♂️, thank you reply again. 😄

[2020-06-03 13:43] #542 closed

[2020-06-08 12:14] gocreating opened #544 "How to get permission information?"
#### Issue type
- [ ] bug
- [x] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

There was API to get [Key Permissions](https://docs.bitfinex.com/v1/reference#auth-key-permissions) in rest v1.
But it seems no longer available.
How can I get permission info?

example:
[code]

[2020-06-13 04:39] jcbit commented on #529
bump

[2020-06-13 04:44] jcbit opened #546 "Strange issue > 4.0.10"
#### Issue type
- [ x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
I was using 4.0.10 fine but when updating to 4.0.13 it broke. Several times a  message is received it seems. When I create an order I get the order update fired like 6 times. All has the same information. I turned on seqAudit and it threw an error that it was getting the same numb

[2020-06-15 21:00] dutu opened #547 "Faulty link in README.md"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Cannot browse the documentation.

In `README.md` file, section [Docs](https://github.com/bitfinexcom/bitfinex-api-node/blob/master/README.md#docs), the [`docs/`](https://cdn.statically.io/gh/bitfinexcom/bitfinex-api-node/master/docs/index.html) link points to https://cdn.statically

[2020-06-21 21:41] jcbit commented on #546
Had to debug this one... would be nice to have quicker support here :c

[2020-06-22 01:43] jcbit opened #549 "Question maybe FR: local websocket"
#### Issue type
- [ ] bug
- [ ] missing functionality
- [ ] performance
- [x] feature request

#### Brief description
Hi,

I have a bunch of scripts and each opens its own websocket. I was wondering if there is a way to do like a websocket manager where you run something on your server and then each of these scripts can connect to that local websocket which then in turns brokers all of them toward

[2020-06-22 03:13] jcbit opened #550 "Bug: ws: Error: expected auth seq # advancement but got same seq: 1120218"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
When I turn on **opts.seqAudit** I get a bunch of the following errors:
  bfx_bot:ws2_main error ws: {} +6ms
error ws: Error: expected auth seq # advancement but got same seq: 1120218

Everything works fine if I turn it off

#### Steps to reproduce
-

##### Additional Notes:
-

[2020-06-22 07:59] jcbit opened #551 "Example Request: Placing an order on the futures market with custom leverage"
#### Issue type
- [ ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Would like an example of how I can create orders on the futures market with custom leverage. I can do a regular futures order but can't figure out how to set the leverage. Thanks!

#### Steps to reproduce
-

##### Additional Notes:
-

[2020-07-10 02:48] michael34435 opened #555 "Bug: public funding trades mapping is wrong."
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description
Public funding trade mapping is wrong. There is no maker column in public funding trades.

#### Steps to reproduce
[code]

output:
[code]

##### Additional Notes:
I had found the same issue in 4.0.2 - 4.0.15 ;(

[2020-08-05 16:33] crazyguitar commented on #555
Hi,

I fixed this issue and am waiting for reviewing now.

[2020-08-17 13:10] andyjessop opened #557 "Why such cryptic examples?"
#### Issue type
- [x] documentation

#### Brief description
The examples could be much more explicit. Why use this `runExample` syntax? All I want is a good description of how to import, how to instantiate, how to subscribe to data. The docs could use a bit of a rethink.

[2020-09-16 07:09] TheSiniK opened #558 "action: disabled"
#### Issue type
- [ ] performance

#### Brief description

I am trying to use a paper account to get used to the api, and I have generated a fully functioning api key for it. But when I try to do any sort of PaperTrading with the api I get the message:
"[BfxWebsocket] [ERROR] Notification ERROR: action: disabled"

#### Steps to reproduce
-Setup a paper sub account
-Get api key for it
-Try to trade

[2020-10-06 07:18] jshellen opened #559 "Order book snapshot"
Hi,

I have two questions related to the order book snapshot:

(1) How should I infer the time-priority at some specific price level x from the snapshot information?
(2) Is it possible that the snapshot contains marketable bids or offers?

Thanks

[2020-11-08 11:33] suenot opened #560 "No example name provided for ./examples/ws2_manager.js"
[code]

[2020-11-20 18:58] dutu opened #563 "onTrades for funding trades does not call the handler"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

The handlers registered for public funding trades with `onTrades` are not called when fte/ftu messages are received.

This is because the fte/ftu messages are not properly handled and the messages don't propagate to listener registered with `onTrades` method.

#### Steps to reprod

[2020-11-26 20:19] F1LT3R opened #564 "No Candle Stick Interval information?"
Hi, I can not find candlestick interval information anywhere in your documentation.
Do you provide 1 second intervals?

[2020-12-07 15:33] adrian-gierakowski opened #565 "wsManager swallows socket.open/auth errors"
#### Issue type
- [x] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request

#### Brief description

I believe the following 2 errors should be emitted by the WS2Manager instead of just being logged:

https://github.com/bitfinexcom/bitfinex-api-node/blob/fabfc1c6bf6e6cda1a31a09d295e645fa58a83b7/lib/ws2_manager.js#L284-L288

https://github.com/bitfinexcom/bitfinex-api-node/blob/fa

[2020-12-23 12:19] robertkowalski opened #566 "fix nonce mechanism"
this is a "bigger issue" not directly related to this PR.

when the api key way used with the node lib, the nonce does not work any more:

https://github.com/bitfinexcom/bfx-api-node-util/blob/master/lib/nonce.js#L11

was added in https://github.com/bitfinexcom/bfx-api-node-util/commit/8980fe2e02cf471703f18acb75ed369c54efd2eb and is imho the wrong approach fixing it, because multiplying by 1000 do

[2020-12-23 22:36] ezewer commented on #566
The 1000 rule is kept as to do backward compatibility as the nodejs library already had it in previous versions, check the following: https://github.com/bitfinexcom/bitfinex-api-node/commit/036e20b08b4f630df890e4f2872e6d1d90f3c02f#diff-005b36cbae2c8dbca1a[…]53039360d359604a90260R23
If removing it would break all the bots and other software that are using it, that is what happened when utils was mi

[2021-01-11 08:45] Johann-S opened #568 "429 error exception thrown break everything"
#### Issue type
- [x] bug

#### Brief description

Hi, I'm using Bitfinex websockets, and when there is a 429 error code, it throw an exception which is impossible to catch, and my process is killed.
I wrapped all the relative `bitfinex-api-node` code in a huge `try/catch` but it still impossible...

![image](https://user-images.githubusercontent.com/1689750/104160421-6617ed80-53f1-11eb-96f6-186af

[2021-02-08 18:03] pro-git commented on #558
Same issue here with REST submitOrder on pair tTESTBTCTESTUSD
tAAABBB pair is working.

WS submitOrder is not working on any pair (tAAABBB ERROR: trading: invalid symbol (paper))

[2021-02-08 18:08] pro-git commented on #537
Same issue here, only that no order is successful. Using WS.
REST is working.

[2021-02-24 14:29] kebian commented on #197
Still an issue in February 2021

[2021-03-24 15:53] henriquemgn opened #570 "Trouble Submiting Order"
Sometimes submitting order works and sometimes it doesn't, i don't know what i can do about it, heeelp
She did 4 trades in the past 2 weeks or so, and then suddenly the order didn't work

[2021-03-24 18:59] #570 closed

[2021-03-31 10:21] aquisio commented on #328
@ilyacherevkov I am also trying to implement this using C# and experiencing the same issues. Did you ever devise a reliable solution? Could you please share a code sample? Thanks, in advance.

[2021-04-29 14:43] ksamborski commented on #197
Could you please reopen this ticket? `order/hist` returns empty list no matter what parameters are passed.

[2021-06-24 03:14] Anthbs commented on #497
On the Bitfinex UI this happens too.
The pl is taking into account your worst case of fee's eg. 0.2% from a taker fee to close the position.
The pl% doesn't seem to include this hence the descrepency.

[2021-06-30 13:58] lathanbritz commented on #568
yup same thing

[2021-06-30 14:37] lathanbritz commented on #568
here is my stack trace... same issue we have removed bitinex till the socket issue is resolved as it kills the entier stack.

`Error: Unexpected server response: 503
    at ClientRequest.<anonymous> (/Users/lathan/Sites/ripple/xrpl-rosetta/node_modules/ws/lib/websocket.js:616:7)
    at ClientRequest.emit (node:events:394:28)
    at HTTPParser.parserOnIncomingClient [as onIncoming] (node:_http_clie

[2021-09-21 10:05] egisz opened #574 "Outdated dependancy - request"
#### Issue type
- [X] compatability

#### Brief description
Outdated [request](https://www.npmjs.com/package/request) dependancy:

[2021-10-08 06:31] egisz commented on #499
+1

[2021-10-31 09:30] Leonardll opened #575 "INVALID API KEYS 10100"
#### Issue type
- [ ] bug
data: [ 'error', 10100, 'apikey: invalid' ]
- [ ] missing functionality
- [ ] performance
- [ ] feature request
Hi guys
#### Brief description
i' am trying my first authentication to log user info in terminal.  i have the correct api key but it does not work.
Can someone explain me what i do wrong please? thanks
#### Steps to reproduce
const { WSv2 } = require('bitfinex-a

[2022-01-15 00:01] barhun opened #577 "Fails to close a websocket connection with autoReconnect set to true"
#### Issue type
- bug

#### Brief description
I'm authoring a service that schedules websocket connections to a diverse set of workers. When there is an intermittent connection on one worker and the websocket connection needs to be relocated to another, I can't manage to dispose the instance with failure. It doesn't help to call the function `close` 'cause it fails to set the variable `_isClosing`

[2022-02-14 12:18] iccicci commented on #555
Hi all, (and @crazyguitar  )

I can read comment about 1 year and half ago stating the issue was fixed, but in v5.0.3 the issue is still alive.

Could I please have an estimation of when the fix will be merged and published?

Thank you

[2022-02-15 10:21] iccicci commented on #555
Hi @vigan-abd,

I've checked the `funding_trade.js` file in the `bfx-api-node-models` package:

1. the `const fields` mapping respects exactly what the [API documentation](https://docs.bitfinex.com/reference#ws-auth-funding) says;
2. with a `console.log` in the `unserialize` method, I saw the data is `[ [ 267665633, 1644877838000, -0.1, 0.00002297, 2 ] ]` (I would say: `ID, MTS_CREATE, AMOUNT, RAT

[2022-02-16 17:44] vitaliystoliarovcc commented on #555
There is a simple fix: to use PublicTrade instead of FundingTrade, since it is already designed for this, but this will be a breaking change

Public Funding trade has format
[code]
  while finding trades
[code]
  and as far as I found out correctly, [_handleTradeMessage](https://github.com/bitfinexcom/bitfinex-api-node/blob/20cf4449439bd90c951b47a9f9b8090ff41f0763/lib/transports/ws2.js#L958) recei

[2022-02-17 05:11] sawrubgupta commented on #217
const apiKey = '' // const apiKey = 'paste key here'
    const apiSecret = '' // const apiSecret = 'paste secret here'

    const apiPath = 'v2/auth/w/deposit/address'// Example path

    const nonce = (Date.now() * 1000).toString() // Standard nonce generator. Timestamp * 1000
    const body = {
    } // Field you may change depending on endpoint

    let signature = `${apiPath}${nonce}${JSON.str

[2022-02-17 12:42] vitaliystoliarovcc commented on #555
fixed in https://github.com/bitfinexcom/bitfinex-api-node/pull/578

[2022-02-17 12:59] vigan-abd commented on #555
thanks @vitaliystoliarovcc for investigating and providing a fix :)
@iccicci can you confirm that we solved the issue so we can close the ticket?
latest package release that includes the fix is https://www.npmjs.com/package/bitfinex-api-node/v/5.0.4

[2022-02-22 07:32] iccicci commented on #555
Sorry for my late reply @vigan-abd , I'm so busy in this period...
Yes, it seems now the fields are correct.
Thank you

[2022-02-22 12:06] vigan-abd commented on #555
thanks for confirming @iccicci, we're glad we could help :)

[2022-02-22 12:06] #555 closed

[2022-04-01 23:26] iccicci opened #580 "How to get full book?"
Hi all,

I'm trying to analyze how data from this page changes:
https://www.bitfinex.com/funding-book/?pair=ETH

The most close API call I found is:
[code]

but being the full book longer than 250 entries I get only a partial result; while if I try to request more than 250 lines I immediately get an "length: invalid" error.

So, which is the right call to get the full book?

Thank you

[2022-09-02 07:39] sohan-mn commented on #540
Hey, we're also facing this issue. Is this issue being taken up?

[2022-09-13 12:51] manoelcampos opened #581 "Update JavaScript example on https://docs.bitfinex.com/reference/ws-public-ticker"
#### Issue type

- [ ] bug
- [ ] missing functionality
- [ ] performance
- [ ] feature request
- [x] Example / Documentation

#### Brief description

The JS example available at the [documentation site]( https://docs.bitfinex.com/reference/ws-public-ticker) is designed to work with Node.js. However, if we made some little changes, it will work out-of-the-box on the browser after we remove the `req